.error-msg-no-data { visibility: hidden; }

.error-msg-no-data.now-Show { visibility: visible; }

.xml_file_value {
	/* max-width: 280px; */
	text-overflow: ellipsis;
	overflow-x: hidden;
}

.xml_file_value::-webkit-scrollbar,
.xml_file_value::-moz-scrollbar {
	width: 12px;
}

/* Track */
.xml_file_value ::-webkit-scrollbar-track,
.xml_file_value ::-moz-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px transparent;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Handle */
.xml_file_value ::-webkit-scrollbar-thumb,
.xml_file_value ::-moz-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: transparent;
	-webkit-box-shadow: inset 0 0 6px transparent;
}
.xml_file_value ::-webkit-scrollbar-thumb:window-inactive,
.xml_file_value ::-moz-scrollbar-thumb:window-inactive {
	background: transparent;
}

.xmlLabel {
	vertical-align: top;
	margin-bottom: 0;
}

.xmlFileUploadWrap .xml_file_value { overflow: hidden; }

.xml_file_txt {
	vertical-align: 15px;
}

.aadhar-no-wrap { display: none; }

.a14.issue-fixes #myModal .close { position: absolute; }

.a14 #yesUpdate .modal-content,
.a14 #noUpdate .modal-content,
.a15 #yesUpdate .modal-content,
.a15 #noUpdate .modal-content,
.a16 #yesUpdate .modal-content,
.a16 #noUpdate .modal-content { height: auto; }

#ModalForVerify { background: rgba(0, 0, 0, 0.5) }

.mandatory-rejection { display: block; }

.modal-position .close { z-index: 10; }

.border-bottom a {
	color: #052133;
	text-decoration: none;
}

.a16 .view-details-btn-wrap { padding-bottom: 20px; }

.a16 .nadid.filterByType1,
.a16 .Aadhaar_NO.filterByType1 { margin-bottom: 20px; }


.form-group.info-field.non-editable.highlight > input {
	color: #8c221d !important;
    font-size: 18px;
    background: rgba(204, 204, 204, 0.29);
}

.issue-fixes .approve_certificate_data_field .nad-id-field {
	vertical-align: initial;
}
