@media (max-width: 1366px){
.email-icon{top:119px;}


}

@media (max-width: 1024px){
.contactus{background-position: -499px 101px;}
.form-info{margin: 0;}
.wrapper{width: 100%;}
.call-info{margin: 0 0 0 25px;}
ul.wtf-menu li {margin-right: 20px;}
img.downarrow{left: 760px;}
img.downarrow1{left: 760px;}

.form-text .mandatory1{ left: 281px;}
.form-text .mandatory2{ left: 421px;}
.mobile-text .mandatory3{ left:588px;}
.call-border-right{ left:322px;}



.modal-content.pop-up{left:131px;}
}

@media (max-width: 768px){

	.col-md-4 ul { width: 100%; }
	.col-md-4 ul li { display: block;text-align: center; }

	.contact-info .call-info { margin-top: 20px; }

	.contact .wrapper span,
	.contact .wrapper span a { display: inline; padding: 0 !important; }


 .wrapper{width:100%;}
 .Ndml_nad_caption_wrap .brdnone .student-nad-banner-text .contactus-banner-text{top: 280px;}
 .call-border-right{ display: none;}
 img.downarrow {left: 638px;}
img.downarrow1 {left: 638px;}
.modal-content.pop-up{left:130px;}
.form-text .mandatory1{ left: 154px;}
.form-text .mandatory2{ left: 294px;}
.mobile-text .mandatory3{ left:460px;}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) { width: 100% !important; }

}



@media (max-width: 736px){

.contactus-banner-text {top: 290px;}
.contact-border-bottom{ width:13%;}
.contact .wrapper p{padding: 0 35px 0 10px;font-size: 1em;}
.contact .wrapper span{padding: 0 35px 0 10px;font-size: 1em;}
.call-border-right{ display: none;}
.call-info{margin: 0 0 0 14px;}
.form-info{margin: 0 0 0 61px;}
.nsdl-info p{font-size: 1em;}
}

@media (max-width: 667px){
 .contact .wrapper p {padding: 0 2px 0 7px;font-size: 1em;}
.contact .wrapper span {padding: 0 2px 0 7px;font-size: 1em;}
.call-info {margin: 0 0 0 5px;}
.form-info {margin: 3px 45px;}

.call-border-left { display: none; }

}

@media (max-width: 640px){}

@media (max-width: 568px){
.contactus{ min-height: 255px;}
.contactus-banner-text {top: 160px;}
.call-info ul li a{font-size: 0.8em;}
.call-info {margin: 0 0 1px -2px;}
.call-info h4{margin: 0 0 0 63px;}
.call-border-bottom{margin: 7px 0 0 96px;}
.form-info{ margin:0;}
.form-info input.form-text{margin-left: 68px;
    width: 445px;}
.form-info .text-area{margin-left: 68px;
    width: 445px;}
.mobile-text{margin-left: 14px;width: 100%;}

.mobile-text input{margin: 0 12px 24px 54px;width: 183px;}
img.downarrow{left: 480px;}
img.downarrow1{left: 480px;}
.nsdl-info p {
    font-size: 0.9em;
    padding: 7px 74px;}
    .nsdl-info ul li{ padding: 0;}
    .nsdl-info ul li a{ font-size: 1em;}

    .contact-title2 {
    font-size: 34px;}

    .dummy-placeholder { left: 13px; }


}

@media (max-width: 480px){}

@media (max-width: 414px){
	.contact-info .col-md-4:nth-child(2) { padding-left: 15px; }
.contactus{ min-height: 315px;}
.contactus-banner-text{ top: 166px;}
.contact-info .contact-border-bottom{width: 21%;}
.contact .wrapper p{font-size: 1em;padding: 4px 24px;}
.contact .wrapper span{font-size: 1em;padding: 4px 24px;}
.call-border-right{ display: none;}
.call-info{ width: 100%;margin: 0 auto;}
.call-info h4{ margin:0;}
.call-border-bottom{ margin: 10px auto;}
.call-info ul li{padding: 10px 10px 15px 0px;display: block;}
.call-info ul li a{font-size: 0.9em;}
.wrapper{width: 100%;}
.form-info{ margin:0;}
.form-info .form-text input{width: 85%;
padding-left: 1px;
margin-left: 29px;}
.form-info .text-area{width: 86%; margin-left:0;}
.mobile-text{ margin-left: -23px;}
.mobile-text input{display: block;
width: 85%;}
.submit-button{text-align: center;margin: 0 0 30px 0;}
.nsdl-info h4{font-size: 1.2em;}
img.downarrow{left: 339px;}
img.downarrow1{    left: 339px;}
.call-border-bottom.support{margin: 10px auto;}
.form-text .mandatory1{left:88px;}
.form-text .mandatory2{left:230px;}
.mobile-text .mandatory3{top: 369px;left: 96px;}
.modal-content.pop-up{ width:100%; left:5px;}
.email-icon{top: 145px;left: 300px;}
.contact-title1{margin: 28px 0 17px 0;}

.contact-info .wrapper .clearfix {
	margin-top: 0;
}

}


@media (max-width: 375px){
.call-info ul li{padding: 0 0 11px 0;
display: block;}
.wrapper{width: 100%;}
.form-info{ margin:0;}
.form-info .form-text input{width: 85%;
padding-left: 10px;
margin-left: 29px;}
.form-info .text-area{width: 85%;margin-left: 8px;}
.mobile-text{width: 100%;}
.mobile-text input{width: 85%;}
.nsdl-info h4 {font-size: 1.1em;}
.nsdl-info p{font-size: 1em;}
img.downarrow{left: 310px;}
img.downarrow1{left: 310px;}
.popup-body .heading h2{ font-size: 1em;}
.popup-body .heading h3{ font-size: 1em; padding-left: 0px;}
.email-icon {top: 122px;left: 299px;}
.modal-content.pop-up {left: 0;}
.contact-title1{margin: 28px 0 17px 0;}
img.adrate{margin: 0 23px 0 -1px;}

}

@media (max-width: 360px){
.call-info ul li{display: inline-block;}
.call-info ul li a {font-size: 1em;}
img.downarrow {left: 294px;}
img.downarrow1 {left: 294px;}
.nsdl-info h4 {font-size: 1.1em;}
.nsdl-info p {font-size: 0.9em;padding: 0 6px;    margin-bottom: 0px;}
.form .wrapper p{font-size: 0.9em;}
.nsdl-info ul li{padding: 14px 87px 0 32px;}
.contactus{background-position: -499px 98px;}
.form-info .form-text input {padding-left: 10px;}
.form-text .mandatory1 {left: 86px;}
.form-text .mandatory2 {left: 227px;}
.call-border-bottom.support {margin: 9px auto 21px auto;}
.call-info ul li{display: block;
text-align: center;
width: 100%;
padding: 10px 0 5px 0;
margin: 0 auto;}
.call-info ul li a{ font-size: 1em;}

.call-info li.symbol{ margin:0 0 0 8px;}
.call-info li.symbol1{margin: 0 0 0 -7px}

/* popup */
.modal-content.pop-up{ width: 100%;left: 2px;}
.email input{ width:100%;}
.email-icon{ left:239px;top: 120px;}
.contact-title1{margin: 28px 0 17px 0;}
img.adrate{margin: 0 23px 0 -1px;}

}

@media (max-width: 320px){
.wrapper{width: 100%;}
.form-info{ margin:0;}
.form-info .form-text input{width: 85%;
padding-left: 8px;
margin-left: 29px;}
.form-info .text-area{width: 86%;margin-left: 11px;}
.mobile-text{width: 100%;margin-left: -28px;}
.mobile-text input{width: 86%;}
.nsdl-info h4 {font-size: 0.9em;}
.nsdl-info p{font-size: 0.7em; padding: 0;}
.nsdl-info ul li {display: block;padding: 13px 33px 0 0px;}
.form .wrapper h2{font-size: 25px;}
.contact .wrapper h2{font-size: 25px;}
img.downarrow{left: 250px;}
img.downarrow1{left: 250px;}
.call-info ul i.fa.fa-at {margin: 0 23px 0 1px;}
.call-info ul li{padding: 13px 0 0 0 ;}
.form-text{ width:100%;}
.call-border-bottom.support {margin: 9px 0 21px 120px;}
.modal-content.pop-up {width: 100%;}
.email-icon {top: 122px;left: 194px;}
.email input{ width:100%;}
.contact-title2 {
    font-size: 34px;}
}