
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_semibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_semibolditalic';
    src: url('../fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'SegoeUI-Bold';
    src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Bold.woff') format('woff'), url('../fonts/SegoeUI-Bold.ttf')  format('truetype'), url('../fonts/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI-Semibold';
    src: url('../fonts/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Semibold.woff') format('woff'), url('../fonts/SegoeUI-Semibold.ttf')  format('truetype'), url('../fonts/SegoeUI-Semibold.svg#SegoeUI-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI';
    src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI.woff') format('woff'), url('../fonts/SegoeUI.ttf')  format('truetype'), url('../fonts/SegoeUI.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../fonts/opensans-semibolditalic-webfont.eot');
    src: url('../fonts/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibolditalic-webfont.woff') format('woff'),
    url('../fonts/opensans-semibolditalic-webfont.ttf') format('truetype'),
    url('../fonts/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff'),
    url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* banner */

.bootstrap-select.btn-group .dropdown-menu li a { text-transform: initial; }

.Ndml_nad_caption_wrap {     min-height: 174px; }

.faqs-link:hover { color: #f08001; }

.contactus{background: url(../images/banner_imgs/contactus.png) no-repeat center;
    background-size: cover;min-height: 505px;}

.contact-title1 {font-size: 28px;margin: 0 0 9px 0;}
.contact-title2 {font-size: 46px;}

.contact{ width:100%; float: left;background: #fff;}
.contact-border-bottom{border: 1px solid #000;width: 10%;margin: 0 auto;}
.contact-info h2{color: #f08001;font-size:31px;font-family: 'open_sanssemibold'; text-transform: uppercase;}
.contact .wrapper p{color: #0b0b0b;font-size:1.1em;font-family:'open_sansregular';    margin: 0;line-height: 1.8em;}
.contact .wrapper span{color: #0b0b0b;font-size:1.1em;font-family:'open_sansregular';display: block;line-height: 1.8em;}
.contact-info{ width: 100%; float: left; background: #fff;margin-top: 0;    padding: 16px 0 27px 0;    position: relative;margin-bottom: 0;}
.call-info{ float: left;margin: 0 0 0 0;}
.call-info h4{ color:#f08001; font-size: 19px; font-family: 'open_sanssemibold';margin: 0 0 0 0; text-transform: uppercase;}
.call-border-bottom{ border: 1px solid #000; width:50px;margin: 5px auto 23px auto;}
.call-info ul li{ list-style: none;padding: 10px 0 13px 0px;    text-align: center;}
.call-info ul li a{color:#0b0b0b; font-size: 1em; font-family: 'open_sansregular'; text-decoration: none;padding: 0 0 0 11px;}
.call-info ul i.fa.fa-at {margin: 0 22px 0 1px;}
.call-border-right {clear: both;position: absolute;top: 71px;left: 389px;    width: 1px;}
img.imgheight{height: 80px;float: left; width: 1px;}
.regional{margin: 5px auto 23px auto;}

.form{ width:100%; float: left;background: #f1f1f1; margin-top: 20px;}
.contact-border-bottom{border: 2px solid #000;width:10%;margin: 0 auto;height: 4px;}
.contact-info .contact-border-bottom { width: 6%; margin-bottom: 25px;}
.form .wrapper h2{color: #f08001;font-size:31px;font-family: 'open_sanssemibold';  text-transform: uppercase;}
.form .wrapper p{color: #0b0b0b;font-size:16px;font-family:'open_sansregular';    margin: 21px 0 15px 0;}
.form .wrapper p.orange-text { color: #f08001; }
.form-text {text-align: center;position: relative;}
.form-text .mandatory1 {color: #f08001;position: absolute;top: 12px;left: 400px;}
.form-text .mandatory2 {color: #f08001;position: absolute;top: 12px;left: 542px;}
 .mobile-text .mandatory3 {color: #f08001;position: absolute;top: 299px;left: 715px;}

 .people-name {
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'open_sanssemibold';
 }

 .one-record > div {
    float: none;
    margin: auto;
 }

.contact-info .wrapper .clearfix { margin-top: 35px; }


.form-info{ width:100%; float: left; position: relative;}
.form-info .form-text input{margin:0 auto;font-family: 'SegoeUI';color:#b2b2b2; display: block; border:1px solid #f08001;padding: 10px;font-size: 1.2em;width: 580px;margin-bottom: 10px;margin-top: 17px;}
.form-info .text-area{border:1px solid #f08001;padding: 11px 0 63px 10px;
    width: 580px;margin: 11px 0 20px 0; color:#b2b2b2;font-size: 1.2em; font-family: 'SegoeUI';outline: none;}
.mobile-text {margin-bottom: 30px;text-align: center;}
.mobile-text input{border:1px solid #f08001;width: 283px;padding: 10px 12px;margin: 0 5px 0 8px;color: #b2b2b2; font-size: 1.2em}
.submit-button{text-align: center;margin: 3px 0 30px 0;}
.submit-button a{    background-color: #052133;
    box-shadow: 3px 4px 9px #999;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s linear 0s;
        padding: 0 47px;}



.nsdl{ width:100%; float: left; background: rgba(242,138,2, 0.88); position: absolute; top: 0;}
.nsdl-info h4{color:#fff; font-family: 'open_sanssemibold';font-size:1.4em;
    padding: 12px 0 0 0;}
.nsdl-info p{color:#fff; font-family: 'open_sanssemibold';font-size:1.1em;padding-top: 10px;}
.nsdl-info ul li{display: inline-block;padding: 10px 103px 0 32px;list-style: none;}
.nsdl-info ul li a{color:#fff; font-family: 'open_sanssemibold';font-size:1.2em; text-decoration: none;}
.nsdl-info ul li i.fa.fa-at {padding: 2px 12px 0 5px;color: #fff;font-size: 1.5em;}
.nsdl-info ul li i.fa.fa-phone{padding: 2px 12px 0 5px;color: #fff;}

.Ndml_nad_banner_title1.contact-title1.contact-banner-border::before{ border:none; content:none;}
.Ndml_nad_banner_title1.contact-title1.contact-banner-border{ line-height: 2px;}
.telephone {display: inline-block;margin: 0 10px 0 2px;}
#map {height: 400px;width: 100%; float: left; position: relative;}
img.downarrow {
    position: absolute;
    top: 22px;
    left: 880px; width:17px;}

img.downarrow1 {position: absolute;top: 22px;left: 880px; width:17px;}

.call-border-bottom.support {margin: 7px auto 23px auto;}
img.telephone-img {width: 20px;}

/* popup
.popup{width:100%; float: left; position: relative;background:#f08001; width:509px; height:300px;top: 50px;
    left: 350px;}
.close-icon {float: right;padding: 14px 14px 0 4px;}
.close-icon a i.fa.fa-times.fa-2x {color: #fff;}
  .popup-info{padding-top: 37px;padding-right: 26px;}
.popup-info h2{color: #fff;font-size: 1.5em;font-family: 'open_sanssemibold'; padding-top: 54px;margin: 0 0 -11px 0;}
.popup-info h3{color: #fff;font-size: 1.5em;font-family: 'open_sanssemibold';}
.popup .email{ width:100%; float: left;padding-top: 10px; position: relative;}
.email input{background: #fff;width: 243px;padding: 0 0 0 9px;font-size: 1.2em;color: #000;}
.email-icon {position: absolute;top: 10px;left: 360px;background: #062134;padding: 4px 14px;}
.email-icon a i.fa.fa-envelope-o {
    color: #fff;
}*/

/* popup */
.modal-content.pop-up {position: absolute;
    top: 72px;width: 509px;height: 298px;background:url(../images/popup1.png) no-repeat;background-size: cover;left: 128px;}

.modal-header{ border:none;}
.heading {text-align: center;}
.popup-body .heading h2{color: #fff;font-size: 1.5em;font-family: 'open_sanssemibold'; padding-top: 43px;margin: 0 0 -11px 0;}
.popup-body .heading h3{color: #fff;font-size: 1.5em;font-family: 'open_sanssemibold'; padding-top: 3px;}
.email{ width:100%; float: left;padding-top: 8px; position: relative;}
.email input{background: #fff;width: 243px;padding: 0 0 0 9px;font-size: 1em;color: #000;}
.email-icon {position: absolute;top: 119px;left: 339px;background: #062134;padding: 4px 14px;}
.email-icon a i.fa.fa-envelope-o {color: #fff;}
.email-info {width: 100%;float: left;text-align: center;margin: 0 0 0 -23px;}
.modal .modal-content .modal-header .close-button{color: #fff;font-size: 40px;opacity: 1;font-weight: normal;}
p.emailid{ display: none;padding:10px 10px; font-size: 1em;font-family: 'open_sanssemibold'; border:1px solid #000; background: red; color:#fff;}

/*issue fixed */

.contactus-banner-text{ top:330px;}

.nsdl-info ul li a img {
    width: 19px;
        margin: -3px 10px 0 0;

}


 ::-webkit-input-placeholder {
 color: #b2b2b2;
 }

.dropdown-nad1 {
    width: 581px !important;
    border: 1px solid #f08001;
    padding: 8px 12px ;
    /*width: 580px;*/
    margin: 11px 0 20px 0;
    color: #b2b2b2;
    font-size: 1.2em;
    font-family: 'SegoeUI';
    outline: none;
    background: #fff;
}

.dropdown-nad1 span{color: #b2b2b2;}
.form-text .bootstrap-select.custom-select .btn-default{ border-bottom: 0px !important;}

.form-info .field-error{position: absolute;
    left: 347px;
    bottom: 0;}

/* .contact-us .form-info .field-error {  } */

.form .col-md-7 {
    margin: auto;
    float: none;
}

.form-info {
    width: 100%;
    float: left;
    position: relative;
}

.name {
    margin-bottom: 15px;
}
.name {
    width: 100%;
    text-align: center;
    margin-top: 12px;
}

.form-info .name .name-info {
    display: inline-block;
    margin: 0 -9px 0 5px;
}

.form-info .field-error {
    position: absolute;
    left: 0;
}
.field-error {
    font-size: 13px;
    color: red;
    display: block;
    display: none;
    font-family: 'SegoeUI-Semibold';
}

.name-info .dropdown-nad {
    /* padding: 11px 8px; */
    padding: 8px 9px 7px 11px;
    font-family: 'SegoeUI';
    border: 1px solid #f08001;
    color: #b2b2b2;
    font-size: 1.2em;
    background: #fff!important;
    margin: -5px 0 0 0;
}

.dropdown-nad span {
    color: #b2b2b2;
}
.dropdown-nad > .btn-default {
    border: 0px!important;
}

/*.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 581px !important;

}*/

.form-info .name .name-info input {
    font-family: 'SegoeUI';
    border: 1px solid #f08001;
    width: 283px;
    padding: 8px 0 9px 6px;
    margin: 0 12px 0 14px;
    color: #b2b2b2;
    font-size: 1.2em;
}

.dropdown-nad {
    width: 285px !important;
}

.name-info .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    margin-left: -9px;
}

.call-border-left {
    clear: both;
    position: absolute;
    top: 71px;
    left: 0;
    width: 1px;
}

.nsdl .nsdl-info {     margin-bottom: 15px; }

.form-info .name .name-info { margin-left: 0; }

.diblock { display: inline-block !important; position: relative;}

/* .dummy-placeholder { display: none; } */

.mobile-text input {
    font-size: 1.2em;
    font-family: 'SegoeUI';
    border: 1px solid #f08001;
    width: 283px;
    padding: 8px 12px;
    margin: 0 5px 0 8px;
    color: #b2b2b2;
}

#category_error { left: 70px; }

.dummy-placeholder {
    position: absolute;
    top: 9px;
    left: 20px;
    color: #b2b2b2;
    font-size: 1.2em;
}

#c_email_id_error, #mobno_error {
    margin-left: 8px;
}

.form-info .field-error {
    position: absolute;
    left: 0;
}

.name .name-info { position: relative; }

#name_error {
    bottom: -17px;
    left: 18px;
    font-size: 11px;
}

#iama_error,
#c_email_id_error,
#mobno_error,
#c_email_id_error {
    bottom: -17px;
    left: -9px;
    font-size: 11px;
}

#c_email_id_error,
#mobno_error,
#c_email_id_error  { left: 0;font-size: 11px; }

#c_email_id_error,
#category_error {     font-size: 11px; }

@media screen and (max-width: 767px) {
    .name .name-info .custom-select,
    .form-info .name .name-info,
    .dropdown-nad1,
    .form-info .text-area,
    .mobile-text input,
    .diblock,
    .mobile-text { width: 100% !important; margin-left: 0 !important; margin-right: 0 !important;}


    #iama_error,
#c_email_id_error,
#mobno_error,
#c_email_id_error,
#category_error { left: 0; }

 #c_email_id_error,
 #mobno_error { bottom: 10px; margin-left: 0!important; }


}

.call-info { width: 100%; }

.col-md-4 ul {
        padding-left: 0;
        margin: 0;
        width: 45%;
    margin: auto;
}

footer .col-md-4 ul { width: auto;margin-top: 15px; }

.contact-info .col-md-4:nth-child(2) { padding-left: 0; }





