.paynow-container {
        width: 76%;
    margin: auto;
    float: left;
}

.rupees-icon {
    width: 13px;
    vertical-align: baseline;
}

.notes-info {
    width: 100%;
    margin: auto;
    float: none;
    margin-top: 117px;
    background:#f3f3f3;
    padding: 23px;
    box-shadow: 5px 5px 5px #ebebeb;
}

.notes-info .notes-title{
	color: #f08001;
	font-size: 14px;
	font-family: 'SegoeUI-Semibold';
}
.notes-info p{
	color:#1f1f1f;
	font-size: 14px;
	font-family: 'open_sanssemibold_italic';
    margin:0;
}

.payment{
	width: 89%;
    margin: 35px auto;

}

.paynow-btn{
	text-align: center;
    width: 100%;
    float: left;

}

.submit-btn {
    height: 45px;
    line-height: 45px;
    width: 135px;
    /* margin-top: 0; */
}

.no-mt .submit-btn { margin-top: 0; }

.payment .paynow-label{
 color:#1f1f1f;
 font-size: 15px;
 line-height: 20px;
	font-family: 'open_sansregular';

}


.previous-title{ margin-top: 10px;}

#amount_error,
#email_id_error { float: left; }

/* media query */

@media screen and (max-width: 1366px){

.payment {
    width: 100%;
    margin: 35px auto;
    margin-bottom: 0;
    /* margin-left: 62px; */
}
@media screen and (max-width: 768px){

    .info-field input { width: 100%; }
	.dashboard_hamburger {
    top: 190px;
}
.paynow-container{
    width: 66%;
/*float: left;*/
margin: 0 auto;

}

.paynow-container .upload_certificate_field_wrap .share_certificate12_inner_point .form-group, .upload_certificate_field_wrap1 .share_certificate12_inner_point .form-group {
    min-width: 100%;
    width: 100%;
}
.submit-btn{
	width: 120px; margin:0 auto;

}
.paynow-container .approve_certificate_data_field {
    margin-bottom: 0;
}

.payment {
    width: 89%;
    margin: 7px auto;
}

.notes-info p{
	font-size: 11px;
}


}
@media screen and (max-width: 450px){

    .rupees-icon {     transform: translate(-18px, 21px); }

.dashboard_hamburger {
    top: 231px;
}
.notes-info p{
	font-size: 11px;
}
.paynow-container {
    width: 86%;
    /*float: left;*/
    margin: 0 auto;
}
.payment {
    width: 89%;
    margin: 13px auto;
}
.submit-btn{
	width: 120px; margin:0 auto;
    height: 45px;
    line-height: 45px;
}

.notes-info{
    margin-top: 65px;
}
.paynow-container .top-heading + .border {
    width: 140px;
}

.register-btn{
top: -40px;

}


}




@media screen and (max-width: 360px){

.payment {
    width: 89%;
    margin: 12px auto;
}
.submit-btn{
	width: 120px;
	margin: 0 auto 25px;
}
.paynow-container {
    width: 86%;
    /*float: left;*/
    /*margin: 0 auto;*/
}

.paynow-hamburger-container .paynow-hamburger{
    top: 270px;
}

.notes-info{
    margin-top: 70px;
        padding: 11px;
}


}

@media screen and (max-width: 320px){

.payment {
    width: 89%;
    margin: 12px auto;
}
.submit-btn{
	width: 120px;
	margin: 0 auto 25px;
}
.paynow-container {
    width: 85%;
    /*float: left;*/
    /*margin: 0 auto;*/
}

.dashboard_hamburger {
    top: 270px;
}

.notes-info{padding: 11px;}

}