
.deposit-account {
	margin-top: 42px;
	width:86%;
	margin-bottom: -8px;
}

.name-value.value {
	color: #f08001;
	font-family: 'SegoeUI-Semibold';
	font-size: 24px;
	font-weight: 600;
}

.colorwhite { margin-top: 10px;text-transform: uppercase; }

.submit-btn {
	height: 40px;
	line-height: 40px;
	width: 120px;
}

.no-text-decorate,
.no-text-decorate:hover { text-decoration: none !important; }
.colorwhite { color: #fff !important; }

.deposit-account .deposit-account-label{
	width:30%;
	line-height: 17px;
}
.deposit-account .deposit-account-field{
	margin-top: 3px;
}

.deposit-account .deposit-account-field input{

	border-bottom: 0;
	font-size: 24px;
}

.paynow-container .status_details_txt{
	margin-left: 70px;
	width: 89%;
	margin-top: 0px;
}

.deposit-fund{
	width: 89%;
	margin: auto;
	float: none;
}

.back-btn{margin-top: 20px;}


.deposit-fund .col-md-4 {
	margin: 0;
	padding: 0;
}

.deposit-fund .fund-info{
	background: #052133;
	padding: 37px 0;
	text-align: center;
	/*width:331px;*/
	height:143px;


}
.fund-info p a{
	font-family: 'SegoeUI';
	font-size: 13px;
	color: #fff;
	padding-top: 12px;
	text-transform: uppercase;
}

.fund-info img{
	max-width:100%;
	height:auto;
}

.fund-info:hover{
	background: #f08001;

}

/*.no-gutters{ padding: 0;}*/


/* media query */
@media screen and (max-width: 1366px){
	.deposit-account .deposit-account-label {
		width: 34%;
	}

}

@media screen and (max-width: 768px){
	.dashboard_hamburger {
		top: 192px;
	}

	.paynow-container .status_details_txt{
		display: none;
	}
	.deposit-account .deposit-account-label{
		width: 100%;
	}
	.notes-info{
		margin-top: 97px;
	}
	.deposit-account{
		margin-top: 21px;
	}
	.deposit-fund .fund-info{
		width:100%;
	}

	.deposit-account .deposit-account-field input{

		font-size: 19px;
	}



}

@media screen and (max-width: 450px){
	.deposit-account .deposit-account-label {
		width: 100%;
		line-height: 17px;
		text-align: left;
	}


	.dashboard_hamburger {
		top: 232px;
	}

	.notes-info {
		margin-top: 60px;
	}

	.deposit-fund .fund-info{
		padding: 25px 0;
		height: 105px;
	}

	.deposit-account {
		margin-top: 9px;
	}

	.back-btn{
		margin-bottom: 7px;
	}

	.register-btn{

		top: -40px;
	}

	.deposit-account .deposit-account-field input{

		font-size: 19px;
	}


}




@media screen and (max-width: 360px){

	.deposit-container .deposit-hamburger{
		top: 268px;

	}
	.deposit-account .deposit-account-field input{

		font-size: 19px;
	}

}

@media screen and (max-width: 320px){



}