
body.big-dash-m .dashboard-content { padding: 35px 30px 40px 30px; }

.deposit-invoice{
 margin:0 auto;
}

.deposit-invoice .deposit-label{
 float: left;
 font-family: 'open_sansregular';
 color: #1f1f1f;
 font-size: 17px;
 margin-top: 3px;
}

.deposit-container{
    text-align: center;
    /* float: right; */
    margin: 0 auto;
    width: 100%;
    padding-bottom: 25px;
}

.deposit-container > div { width: 300px;    text-align: left; }

/* .deposit-container > div:last-child { margin-left: 85px; } */

.deposit-container .dateinfo{
    display: inline-block;
    /* width: 42%; */
    /* float: left; */
    /* margin-right: 5px; */
    position: relative;
    }

.deposit-container .dateinfo1{
    display: inline-block;
     /* width: 42%; */
     /* float: left; */
     position: relative;
     -webkit-transform: translateX(-40px);
     -ms-transform: translateX(-40px);
     -o-transform: translateX(-40px);
     transform: translateX(-40px);
 }

.deposit-container .fromdate-label{
    display: inline-block;
    font-family: 'open_sansregular';
    color: #1f1f1f;
    font-size: 17px;
    font-weight: normal;

}



.deposit-container .date-field{
 display: inline-block;
 position: absolute;
    top: initial;
    bottom: -10px;
    width: 210px;
}

 .date-field .date-picker{
    width: auto;
}

span.mandatory-rel {
    color: red;
}

.deposit-invoice .approve_certificate_data_field {
    margin-bottom: 2px;
}

.invoice-submit {
    width:41%;
    margin: 0 auto;

}

.invoice-submit { width: auto !important; text-align: center;}

.invoice-submit a {
    background-color: #052133;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 42px;
    letter-spacing: 0.5px;
    line-height: 42px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s linear 0s;
    padding: 0 18px 0 18px;
    margin: 0 0 0 38px;
    width: 179px;
    text-align: center;
}

.deposit-dropdown {
    width: 100%;
    margin: auto;
    /* float: right; */

}

.invoice-table{
    width:100%;
    margin: 0 auto;
}

.invoice-table thead tr th:first-child {
    width: 251px;
}

.invoice-table table tr th:nth-child(2) {
    width: 484px;
    text-align: left;
}



.invoice-table table tr td.transaction{
text-align: left;

}

.invoice-form .select-master-data.dashboard_responsive_table table tr th:nth-child(2) {
    width: 189px;
}


.invoice-form .select-master-data.dashboard_responsive_table table tr th {
    text-align: left;
    width:50px;
}

.invoice-form .select-master-data.dashboard_responsive_table table tr td {
    text-align: left;
}
.date-field .date-picker #from_date_error{
width:132%;
 left:0;

}

 #to_date_error{
 width:100%;
 left:0;
}


.deposit-container .date-field{bottom: -21px;}

.invoice-submit a:first-child { margin-left: 0; }


/* media query */


@media screen and (max-width: 1366px){

.invoice-submit {
    width:41%;
    margin: 0 auto;
}

.invoice-submit a {
    width:135px;
    margin:0;
     display: inline-block;
     margin: 0 0 0 35px;
 }

.dateinfo .master-data-date .form-group{width: 100%;}



}

#from_date_error,
#to_date_error {
    position: absolute;
    bottom: -18px;
}


@media screen and (max-width: 768px){

.deposit-dropdown {
    width: 100%;
    margin: 0;
}

.invoice-submit{width: 100%;
margin: 0 auto;
text-align: center;}
.invoice-submit a{ margin: 67px 0 0 0;}

.deposit-container{ width: 100%; float: none;padding-bottom: 0px;}
.deposit-container .dateinfo {
    display: block;
    width: 100%;
    float: none;
}

.deposit-container .dateinfo1 {
    display: block;
    width: 100%;
    float: none;
}


.deposit-container .fromdate-label{ width: 100%; display: block;margin: 65px 0 0 0;}
.dateinfo .master-data-date .form-group {
    width: 100%;
}


.deposit-container .date-field {
    display: block;
    bottom: -54px;
    width: 100%;


}
.date-picker{ margin:0;}
.deposit-container .dateinfo1{margin-bottom: 39px;}

.deposit-dropdown .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ margin-left: 0;}
.filter-div {
    margin: 11px 0;

}

.dashboard_hamburger {
    top: 191px;
}
.date-field .date-picker {
    width: 100%;
}


}

@media screen and (max-width: 450px) {

    .date-field .date-picker #from_date_error {
            width: 106%;
            font-size: 11px;
    }

    .calendar-table thead { background: #fff; }

    .approve_certificate_dashboard_content .top-heading + .border {
        width: 135px;
    }

    .invoice-submit a {     width: 60%; }

.deposit-container > div:last-child {
    margin-left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.deposit-container .fromdate-label{
 display: block;
 width: 100%;
 margin: 65px 0 0 0;
text-align: left;
}

.deposit-container .date-field{
    width: 100%;
    display: block;
}

.deposit-container .dateinfo {
    display: block;
    width: 100%;
}

.deposit-container {
    width: 100%;
    margin: auto;
    float: none;
}
.deposit-dropdown {
    width: 100%;
}
.date-picker {
    margin: 0 0 0 0px;
}

.deposit-container .date-field1 {
    width: 100%;
    display: block;
}

.deposit-container .dateinfo1{
display: block;
width: 100%;
margin-bottom: 70px;
}

.invoice-submit {
 width: 100%;
 margin-bottom: 20px;
}

.invoice-submit a{
     margin: 36px 0 20px 0;
}

.dateinfo .master-data-date .form-group {
    width: 100%;
}

.deposit-invoice .filter-div{
    margin: 11px 0;
}

.dashboard_hamburger {
    top: 232px;
}
.register-btn-invoice{
top: -41px;
}


}


@media screen and (max-width: 375px){

.invoice-submit a {
    margin: 10px 0 0 0;
    /*display: block;*/
    /* width: 54%; */
}


.dashboard_hamburger {
    top: 232px;
}


}

@media screen and (max-width: 360px){
.invoice-submit a {
    margin: 10px 0 0 0;
    /*display: block;*/
    /* width: 54%; */
}

.dateinfo .master-data-date .form-group {
    width: 100%;
}

}