@media screen and (max-width: 1366px) {
    .Select_Academic .approve_certificate_field_val .custom-select button {
        width: 230px;
    }

    .Select_Course .approve_certificate_field_val .custom-select button {
        width: 293px;
    }
}