.faq .datatitle {
	font-family: 'SegoeUI';
	font-weight: 600;
}
.faq .user_nad_tabs_title{
	position: relative;
}
.faq .user_nad_tabs_title:before{
	content: "";
    position: absolute;
    top: 87%;
    left: 0px;
    width: 6%;
    height: 4px;
    background: #1f1f1f;
}
.faq  .signature_nad_banner_wrap{
	background: url(../images/banner_imgs/faq-banner.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: 0px;
}
.faq .faq-student{
	background: url(../images/banner_imgs/faq-student.jpg) no-repeat center;
    background-size: cover;
    height: auto;
}
.faq .faq-banner-two{
	background: url(../images/banner_imgs/faq-banner-two.jpg) no-repeat center;
	background-size: cover;
    height: auto;
}
.faq .acadamic-intitute{
	background: url(../images/banner_imgs/acadamic-intitute.jpg) no-repeat center;
	background-size: cover;
    height: auto;
}
.faq .faq-verifiers{
	background: url(../images/banner_imgs/faq-verifiers.jpg) no-repeat center;
	background-size: cover;
    height: auto;
}
.faq .datatitle a{
	text-decoration: none;
	cursor: pointer;
}
.faq .padleftop{
	padding:40px 40px;
}
.faq .panel-heading{
	padding:20px 0px;
}
.faq .signature_nad_banner_title2{
	font-size: 40px;
}
.faq .nad-rolebg{
	background: #fff;
}
.faq-text-white .user_nad_tabs_title, .faq-text-white .datatitle{
	color:#fff;
}
.faq .panel-group .panel-heading + .panel-collapse > .panel-body{
	border-top:0px;
	padding:15px 0px;
}
.faq .semi-para{
	margin-left:23px;
}
