
@media (max-width: 1920px){




}


@media (max-width: 1600px){
    
 
}



@media (max-width: 1366px){




}


@media (max-width: 1024px){

.wrapper{ width: 100%;}
.forget-userinfo{padding: 61px 172px;}
} 

@media (max-width: 768px){

.forget-userinfo{padding: 61px 85px;}
.mobileno{padding-left: 0px;text-align: left;margin-top: 26px;}
.dob-info{width: 35%;
    float: none;
    margin: auto;}
.mobile-info{width: 35%;
    float: none;
    margin: auto;}
.forget-userinfo .master-data-date .form-group.info-field > input{ width:100%;}
.forget-userinfo .forget-submit-button a{ margin-top: 34px;}

}


@media (max-width: 736px){




}

@media (max-width: 667px){


}


@media (max-width: 640px){



}

@media (max-width: 568px){



}



@media (max-width: 480px){



}

@media (max-width: 414px){

.forget-userinfo{ padding: 61px 30px;}
.mobileno{ text-align: left;padding: 20px 0 0 0;}
p.validate-info{ font-size: 14px;padding-top: 34px; line-height: 21px;}
.forget-userinfo .master-data-date .form-group.info-field > input{ width:100%;}



}


@media (max-width: 375px){

.forget-userinfo{ padding: 34px 30px;}
.mobileno{ text-align: left;padding: 20px 0 0 0;}
p.validate-info{ font-size: 14px;padding-top: 34px; line-height: 21px;}
.dob-info{ width: 100%;}
.mobile-info{ width: 100%;}


}


@media (max-width: 360px){
.forget-userinfo{ padding: 34px 30px;}
.mobileno{ text-align: left;padding: 20px 0 0 0;}
p.validate-info{ font-size: 14px;padding-top: 34px; line-height: 21px;}
.invoice-dob .master-data-date .form-group.info-field > input{ width: 100%;}
.invoice-date input#from_date {
    width: 100% !important;
}
.dob-info{ width: 100%;}
.mobile-info{ width: 100%;}

}

@media (max-width: 320px){
.forget-title{ font-size:33px;}
.dob-info{ width: 100%;}
.mobile-info{ width: 100%;}
}
