.forget-container{ width:100%; float: left; background: #f9fdff; margin-top: 93px;}
.forget-title{ margin-bottom:6px; font-family: 'open_sanssemibold'; padding-top: 47px; font-weight: normal;}
.forget-border{background-color: #1f1f1f;height: 4px;margin: 0 auto 50px;width: 223px;}
.forget-userinfo{ background:#fff; padding:61px 239px; width:100%;margin-bottom: 50px; box-shadow: 8px 8px 8px #f7fbfd;}
.forget-date{width: 125px;margin: 7px 0 0 0;}
.mobileno{ margin:7px 0 0 0;}
p.validate-info{text-align: center;color: #f08001; font-family: 'open_sanssemibold';font-size: 14px;line-height: 46px;
padding-top: 13px;
}


.master-data-date .form-group.info-field > input { width: 75%; }
.no_margin-top.forget-date { margin-top: 0; }

.forget-submit-button{text-align: center;margin: 3px 0 30px 0;}
.forget-submit-button a{background-color: #052133;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s linear 0s;
    padding: 0 42px;}
    p.userid{color: #f08001; font-family: 'SegoeUI-Semibold';font-size: 20px; text-align: center;}

    span.birthdate{ color:#f08001;position: absolute;
    top: 14%; left:2%; font-family: 'open_sanssemibold';}

    /* .mobile-field{ margin:18px 0 0 0;} */

    .form-group { margin-bottom: 5px; }

    .forget-submit-button { margin-top: 0; }

    .spacer { margin-bottom: 15px; }