
@media (max-width: 1366px){

.setuppassword{margin: 0 auto 28px;}
.setpassword-view .step-div{margin-top: 30px;}
.setpassword-view .user-id-info {margin: 24px 0;}
.my-text1{top: initial; bottom:0px;}
.setpassword-view{padding: 30px 0;}
.setpassword-view .submit-btn{margin: 11px auto;}
.setpassword-container .top-heading + .border{margin: 0 auto 22px;}

}


@media (max-width: 1024px){

} 

@media (max-width: 768px){

.my-text {
    
    left: 100px;
}

}


@media (max-width: 450px){



}

@media (max-width: 414px){

.user-id-info .user-id-info-txt{ display: block;}

.aadhaar-no {
    display: block;
    width: 100%;
  }

    .aadhaar-no1 {
    width: 100%;
    margin:0;
  }
    
.aadhaar-no1 .my-text1 {
    width: 100%;
   display: block;
   top: initial;
   bottom:34px;
   text-align: left;
   margin:0 auto;
   padding-left: 50px;
}

.segoe-semibold.user-id-info.user-id-info_heading .userid-no{
  width: 100%;
margin-left: 0;
}


.aadhaar-no1 .user-info .font1{

 margin:0;

}

.otp-box .field-error{ text-align: left;padding-left: 0;}


.otp-box .field-error {top: 45px;left: 3px;}

.setpassword-view #forgot_user_id_error {margin: 0 0 0 54px;text-align: left;}

.step-div input[type="text"], .step-div input[type="password"], .step-div input[type="tel"]{ margin:0;}
.aadhaar-no1 .aadhar-id-input{ width: 80%; margin-top: 31px;}
#forgot_user_id_error {
    margin: 0 0 0 41px;
    text-align: left;
}

.submit-btn {
    width: 115px;
  }

}





@media (max-width: 375px){


.aadhaar-no1 .my-text1 {
    width: 100%;
   display: block;
   top: 0px;
   text-align: left;
   padding-left: 58px;
   margin:0 auto;
}

.aadhaar-no1 .aadhar-id-input{

width: 74%;
margin-top: 31px;

}

.aadhaar-no1 .user-info.font1{ margin:0;}
/*.otp-box .field-error{ text-align: left;padding-left: 0;}*/
.submit-btn {
    width: 115px;
  }


}

@media (max-width: 360px){
  /*.userid-info .user-id{ top:35%;}*/
.stepTabList li a{font-size: 11px;}


.aadhaar-no1 .my-text1 {
    width: 100%;
   display: block;
   top: 0px;
   text-align: left;
   margin:0 auto;
    padding-left: 55px;
}

.aadhaar-no1 .aadhar-id-input{display: inline-block;
vertical-align: middle;
width: 74%;
margin-top: 31px;
}

.setpassowrd-otp .field-error {
    padding-left: 0px;
    top: 52px;
    text-align: left;
}

.aadhaar-no1 .user-info .font1{ margin:0;}
/*.otp-box .field-error{ text-align: left;padding-left: 0;}*/
 .setpassword-view #forgot_user_id_error {margin: 0 0 0 37px;text-align: left;}
/*.step-div input[type="text"], .step-div input[type="password"], .step-div input[type="tel"]{ margin:0;}*/

.submit-btn {
    width: 115px;
  }


}

@media (max-width: 320px){
 .user-id-info .user-id-info-txt{ display: block;}
 .step-div .captcha-text{ margin-right: 0px;}
.input-field-div{width: 257px;}
.aadhaar-no1 .my-text1 {
    width: 100%;
   display: block;
   top: 0px;
   text-align: left;
   margin:0 auto;
   padding-left: 49px;
}

.aadhaar-no1 .aadhar-id-input{display: inline-block;
vertical-align: middle;
width: 74%;
margin-top: 31px;
}
/*.otp-box .field-error{ text-align: left;padding-left: 0;}*/
.submit-btn {
    width: 115px;
  }

}
