



@media (max-width: 1366px){
/*.grievance-userinfo {margin: 14px 0 26px 281px;}*/
.textarea-container .remark-div textarea {width: 91%;}
.grievance-info .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 95%;
}
.captcha-container{ margin-left: 65px;}
.captcha1{ width:29%;}
.captcha2{ width: 70%;}
.captcha-container .captcha2 .captcha-box {width: 47%;}
.name-field .inner-point .info-field input{ margin-top: 2px;}
.grievance-info .info-field input{width: 457px;margin-left: 10px;}
.designation-title label{ margin-top: -4px;}
.grievance-userinfo {margin: 22px 0px; width:83%;}
.grievance-popup .close{right: 1px;
    top: -3px;}
.grievance-userinfo .categoryuser{

    position: absolute;
top: initial;
bottom: -7px;
}
.grievance-userinfo .no_pad {
    text-align: center;
}


}

@media (max-width: 768px){

.document-container .xmlFileUploadWrap .xml_file_txt{ margin-right: 0;}
.document-container{margin: 35px 0 0 0px;}
.captcha-container {margin-left: -13px;}
.xml_file_txt{font-size: 13px;}
.document-container .xmlFileUploadWrap .xml_file_value{ width: 91px;}
.document-container .xmlLabel{ font-size: 13px;}
.captcha-container{ margin-left: 0px;}
.captcha-container .captcha1 .captcha-text-grievance{ font-size: 14px; padding-right: 0px;margin-left: 6px;}
.document-container .xmlFileUploadWrap{ display: inline-flex;}
.captcha-container .captcha2 .captcha-box {width: 55%;}
.textarea-container .remark-div textarea{ width: 100%;}
.grievance-hamburger{ top:190px;}
}



@media (max-width: 450px){

    .captcha-container { margin-top: 70px; }

    .helping-text {
        transform: none;
        bottom: -56px;
    }

.grievance-para{ font-size: 12px;}
.grievance-info .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:100%;}

.captcha-container{ margin-left: 0;}
.captcha-container .captcha-box {width: 100%;}
.document-container{ margin:0;}
.name-field  span.name-value{ font-size: 17px;}

.name-field1{margin-top: 25px;}
.grievance-userinfo{}
.grievance-userinfo .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width: 100%;}
.captcha-container .font16 {font-size: 15px;}
.grievance-userinfo .no_pad{ text-align: left;}
.category-title1{ width: 100%; margin-bottom: 2px;}
.xmlFileUploadWrap {
    width: auto;
    float: none;
    text-align: center;
}


.textarea-container .remark-div textarea {
    width: 100%;
}
.document-container .xmlFileUploadWrap{ display: inline;}
.captcha-container .captcha2 .captcha-box{ width:100%;}
.captcha1 {
    width: 100%;}
    .captcha2 {
    width: 100%;}
.captcha-container .captcha1 .captcha-text-grievance{font-size: 16px;
padding-right: 0px;
text-align: left;}
/*.document-container .xmlFileUploadWrap .xml_file_txt {margin-right: 0px;}*/
.hide-border {border: none;margin: 0 0 -43px 0px;}
.grievance-userinfo .categoryuser{ width: 100%;}
.grievance-info .info-field input{ width: 100%; margin-left: 0px;}
.name-field .role-align{ margin:0;}
.name-field .email-align{ margin:0;}
.textarea-container .approve_certificate_label{ text-align: left;}
.captcha2 .captcha-cont {float: none;text-align: left;}
.grievance-submit{ float: left; width: 42%;}
.captcha-container .col-xs-12{  padding-right: 0px;
     padding-left: 0px;}
.grievance-popup {
    width: 348px;    height: 370px;}
.grievance-popup-body .heading p{ font-size: 15px;}
.grievance-popup-body .heading span{ font-size: 13px;}
.modal .modal-body {padding: 0 24px 63px;}
.grievance-popup-body .heading span{ line-height: 27px;}
.grievance-popup-body .heading span.last-para {padding: 0 0 0 1px;}
.submit-btn{margin: 10px auto;}
.document-container .xmlFileUploadWrap .xml_file_value {width: 100%;}
.document-container .xmlFileUploadWrap .xml_file_txt{ display: block; width: 100%;}
.grievance-hamburger {
    top: 233px;
}

.logoutebtn {
    position: absolute;
    top: -40px;
    right: 20px;
}


}






@media (max-width: 360px){
.grievance-para{ font-size: 13px;}
.grievance-info .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:100%;}

.captcha-container{ margin-left: 0;}
.captcha-container .captcha-box {width: 100%;}
.document-container{ margin:0;}
.name-field  span.name-value{ font-size: 17px;}

.name-field1{margin-top: 25px;}
/*.grievance-userinfo{    margin: 14px 0 26px 64px;}*/
.grievance-userinfo .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width: 100%;}
.captcha-container .font16 {font-size: 15px;}
.xmlFileUploadWrap {width: auto;float: none;text-align: center;}
/*.col-xs-12.no_pad.status_details_txt.grievance-border {display: none;}*/
.category-title1 {margin-bottom: 30px;}
.document-container .xmlFileUploadWrap{ display: inline;}
/*.document-container .xmlFileUploadWrap .xml_file_txt{ margin-right: 100px;}*/
.captcha-container .captcha2 .captcha-box{ width:100%;}
.captcha1 {
    width: 100%;}
    .captcha2 {
    width: 100%;}
.captcha-container .captcha1 .captcha-text-grievance{font-size: 16px;
padding-right: 0px;
text-align: left;}

/* popup */
.grievance-popup {
    width: 301px;    height: 370px;}
.grievance-popup-body .heading p{ font-size: 15px;}
.grievance-popup-body .heading span{ font-size: 13px;}
.modal .modal-body {padding: 0 24px 63px;}
.grievance-popup-body .heading span{ line-height: 27px;}
.name-field .role-align{ margin:0;}
.name-field .email-align{ margin:0;}
.grievance-userinfo .categoryuser{ width: 100%;}

.grievance-info .info-field input{ width: 87%;}

.hide-border {border: none;}
.textarea-container .approve_certificate_label{ text-align: left;}
.captcha2 .captcha-cont {float: none;text-align: left;}
.grievance-submit{ float: left; width: 47%;}
.captcha-container .col-xs-12{  padding-right: 0px;
     padding-left: 0px;}
.grievance-popup-body .heading span.last-para{ padding:0;}
.designation-title .approve_certificate_label{ font-size: 17px;}
.ok-btn{ padding-top: 17px;}
.modal .modal-content .modal-header{padding: 14px 10px 5px;}
.submit-btn {margin: 0 auto;}
.document-container .xmlFileUploadWrap .xml_file_value {
    width: 100%;}
.document-container .xmlFileUploadWrap .xml_file_txt{ display: block; width: 100%;}
.grievance-orange-container .grievance-hamburger {
    top: 272px;
}



}
