
  .grievance-para{  color: #1f1f1f;
    text-align: center;
    font-family: 'open_sansregular';
    font-size: 18px;
    display: block;margin-top: 12px;}

    span.mandatory-rel {
    color: red;
}

.helping-text {
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    transform: translateX(52px);
}

.grievance-title {
    text-align: center;
    color: #f08001;
    font-family: 'open_sanssemibold';
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    text-transform: uppercase; padding: 41px 0 0 0;}

    .grievance-dropdown span.filter-option.pull-left {
    color: #f08001;
}

.grievance-userinfo .no_pad{ text-align: center;}
.grievance-userinfo .categoryuser{ color: #f08001; display: block;position: absolute;
top: initial;
bottom: -7px;
}
.grievance-userinfo .field-error{position: absolute;
    left: 0;
    text-align: left;width: 270px;}
    .category-title1{ float: none; width: auto; display: inline-block;  position: relative;}

.grievance-userinfo .status_details_txt{ margin-top: 66px;}
.grievance-userinfo .category-title{font-family: 'open_sansregular'; color:#1f1f1f;float: none;
    width: auto;}

/*.grievance-bottomborder{ border:1px solid #d7d7d7;width: 100%;float: left;margin: 11px 0 37px 0;}*/

    .category-userinfo  .categoryuser{ color: #f08001;}

    .Grievance-container .border{margin: 0 auto 0px;}

    .name-field{ position: relative;}
    .name-field .share_certificate12_inner_point label{ font-size: 17px;margin-top: 0px;}
  .name-field  span.name-value {color: #f08001;font-size: 16px;position: absolute;top: 3px; font-weight: bold;}

/*.grievance-info{ width:100%; float: left;}*/
  .grievance-query span.filter-option.pull-left{color: #f08001;}
  .grievance-info .filter_title{ float: left;margin-right: 13px;}


  .captcha-info{ width: 100%; float: left;}
.grievance-userinfo .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width: 100%;}

.open-sans-semibold.font20.approve_certificate_data_filter_new.grievance-info{ margin-bottom: 67px; }
.textarea-container {
    width: 100%;
    float: left;
}


.textarea-container .remark-div textarea{ width: 90%;}
.textarea-container .approve_certificate_label{ display: block;}
.captcha-container{ width: 100%; float: left; margin-top: 43px;margin-left: 147px;}
.document-container {margin: 35px 0 0 -48px; float: left;width: 100%;}
.grievance-submit {
    text-align: center;
    width: 100%;
    float: left;
}

.captcha-container .captcha1 .captcha-text-grievance {color:#1f1f1f !important; font-size: 17px;padding-right: 45px;}
.captcha-container .captcha2 .captcha-box{ width: 37%;}
.textarea-container .approve_certificate_label{     font-size: 17px;color: #1f1f1f !important;     font-family: 'open_sansregular' !important;font-weight: 100;}
.grievance-info .filter-div.font20.approve_certificate_data_filter_new{ margin:-3px 0;}


.grievance-info .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:83%;}

 .document-container .xmlFileUploadWrap .xml_file_value{ color:#1f1f1f;}
 .grievance-info .bootstrap-select.custom-select .btn-default.active, .bootstrap-select.custom-select .btn-default:active, .open > .dropdown-toggle.btn-default{background: none;}

 /*.col-xs-12.no_pad.grievance-userinfo {margin: 20px 0 0 0;}*/

 .document-container .xmlFileUploadWrap{float: none;text-align: center; display:inline-flex;}

 .border-spacing .status_details_txt{ padding-top: 21px; margin-top: -17px;}
 .captcha1 {float: left; width:25%;}
 .captcha2 {float: left;    width: 75%}
 .document-container .xmlFileUploadWrap .xml_file_txt{ margin-right:54px;}

 .grievance-info .bootstrap-select.btn-group .dropdown-toggle .filter-option{ font-weight: 100; }

 .grievance-query .bootstrap-select.btn-group .dropdown-toggle .filter-option{ font-weight: 100;}
 /*.col-xs-12.no_pad.grievance-userinfo {margin-top: 21px;}*/

 /* grievance-popup */
  .ok-btn {text-align: center;width: 100%;float: left;}
    .modal-content{display: block;}
    .grievance-popup{ width:620px; height:351px;position: absolute;
    background: #f9f5ef;left: 0;right: 0;margin: 0 auto; top:115px;}
    .grievance-popup-body .heading p{    padding-top: 36px; color: #f67600;font-family: 'SegoeUI'; font-size: 15px;}
    .grievance-popup-body .heading span{ color: #f67600;font-family: 'SegoeUI'; font-size: 15px; line-height: 36px;}
    .grievance-popup .close{right: 0px;top: -2px; color:#f67804;}
    .grievance-popup-body .heading span.last-para{ padding:0 0 0 49px;}
    .grievance-popup-body .heading span.trans-id {font-weight: bold;}
    .modal .modal-content .grievance-popup .modal-header{padding: 0px 0px 0px;}

    /*.name-field1{ width:51%; float: left;}*/

    /*.col-xs-12.width100.approve_certificate_data_field.col-lg-6.no_pad.upload_certificate_field_wrap.name-field1{ width:51%;}*/

.textarea-container #query_description_error{ display: block;}
.name-field .role-align{margin: 0 0 0 16px;}
.name-field .email-align{margin: 0 0 0 11px;}
.designation-title{ float: left; width: 100%;}

/* issue sloved */
.grievance-userinfo {margin: 31px 0px; width:86%;}
.name-field .inner-point .info-field input{ margin-top: 1px;}
.grievance-info .info-field input{width: 466px;margin-left: -1px;}
.designation-title label{ margin-top: -4px;}

/*.logoutebtn {
    text-align: right;
    margin-right: 84px;
    background: #8c221d;
    padding: 8px 20px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}*/



.grievance-userinfo span.name-value{color: #f08001;
        color: #f08001;
    font-size: 16px;
    position: absolute;
    top: initial;
    bottom: 0px;
    width: 100%;
    left: 0;
}

