.nadurlbox {
    padding: 0px !important;
    float: none !important;
}
.nadurlbox1 {
    width: 226px !important;
    display: inline-block;
    margin: 50px 10px;
}
.nadurlbox1 a {
    font-size: 15px;
    color: #052133;
}
.nadurlbox1 span {
    display: block;
    font-size: 16px;
    font-weight: normal;
    color: #f08001;
    padding: 30px 0px;
}


table.tableizer-table {
    border: 1px solid #CCC;
}

.tableizer-table td {
    padding: 4px;
    margin: 3px;
    border: 1px solid #CCC;
        /*border-bottom: 1px solid #f5c288;*/
    color: #052133;
    font-size: 15px;
}

.tableizer-table td:first-child {
    width: 70px;
    padding: 4px;
    margin: 3px;
    /*border: 1px solid #CCC;*/
    text-align: center;
}

.tableizer-table td:last-child {
    width: 140px;
}

.tableizer-table td:nth-child(3) {
    width: 68%;
}

.tableizer-table th {
    background-color: #052133;
    color: #FFF;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    text-transform: capitalize;
}

.table.tableizer-table {
    margin-bottom: 0px;
}

.table-responsive.box {
    box-shadow: 0 1px 8px 3px #ccc;
}

.table-responsive.box::-webkit-scrollbar {
    width: 1em;
}

.table-responsive.box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.table-responsive.box::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}



@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
	.nadurlbox1 {
		height: auto !important;
		width: 100% !important;
		margin: 10px 0px !important;
	}
	.margTop40 {
		margin-top: 0px !important;
	}
}

.nadurlbox .note-div { margin-bottom: 25px; }