.no_float { float: none !important; }
.dib { display: inline-block !important; }
.colorf08001 {color: #f08001 !important;  }
.color939393{ color: #939393 !important; }
.text-decorate { text-decoration: underline !important; }
.openSans { font-family: 'open_sansregular' !important; }
.no_margin { margin: 0 !important; }
.mb40 { margin-bottom: 30px !important; }
.mt15 { margin-top: 15px !important; }
.float-left { float: left !important; }
.top-grey-bt {
	border-top: 1px solid #ddd !important;
	padding-top: 25px !important;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


.a12_2_1 .inner-point .form-group.non-editable { opacity: 0.7; }

.a12_2_2 .inner-point .form-group.non-editable { opacity: 1; }

.a12_1_2 .field-error { float: left; }

.Notes-para span { display: block; }

.menu-container ul { margin-right: 47px; }

.lower-menu ul li a { font-weight: 700; }

#myModal .modal-content .modal-header { padding: 15px 10px 15px; }

#myModal .modal-body { padding-bottom: 0; }

#myModal .modal-content .modal-header .close { top: 0; }

.filter-option,
#floating-label .control-label {
	font-family: 'open_sansregular';
	color: #333333;
	font-size: 17px;
}

.slideTitle {
	cursor: pointer;
	margin-bottom: 25px;
}

.slideDown {
	display: none;
}

.slideDown.firstSlideDown { display: block; }

.a12_1_2 .student-form-detail.filled-details-form,
.a12_2_2 .student-form-detail.filled-details-form {
	width: 85%;
	margin: auto;
}

.student-form-detail.filled-details-form .info-field label {
	font-size: 14px;
	display: block;
	color: #2f2f2f;
	font-weight: 400;
	margin-bottom: 0;
}

.student-form-detail.filled-details-form .info-field input.form-control {
	border: 0;
	box-shadow: none;
	padding-left: 0;
	font-weight: 700;
}

.student-form-detail.filled-details-form .firstSlideDown .info-field input.form-control {
	border-bottom: 1px solid #f1f1f1 !important;
}

.a12_1_2 .student-aadhhar-wrap .top-heading.secondary { font-size: 24px; }

.a12_1_2 .officer-name {
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
}

#email_id { text-transform: lowercase; }

.upload_certificate_remarks_div { margin-top: 0; padding-top: 15px; }

.id-based-captcha.captcha-section { margin-left: 40px; }

.Leg-div { box-shadow: 2px 3px 16px -4px #848484; }
.cont-div {
	box-shadow: 1px 3px 16px -4px #848484;
	margin-bottom: 15px;
}

.a12_1_2 label {
	color: #333;
	font-size: 15px;
}

.xml_file_value-max,
.xml_file_value {
	text-transform: uppercase;
	color: #ddd;
}

.a12_1_2 .upload-label {
	color: #fff;
	margin-bottom: 25px;
	padding: 0px 20px;
	font-size: 16px;
}

.xmlFileUploadWrap .xml_file_value-max {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.a12_1_2 .xml_file_txt { min-width: 135px;     vertical-align: top; }

.xmlLabel {
	margin-right: 15px;
	vertical-align: top;
}

.xmlLabel span { color: #fff; }

.upload-icon { margin-left: 15px; }

body { background: rgb(249, 253, 255); }

.a12_1_2 .student-form-detail { width: 100%; }

.width54 { width: 54% !important; }

.a12_1_2 .approve-master-data-form .form-group.input-wid50 { margin-left: 108px; }

.a12_1_2 .approve-master-data-form .form-group.input-wid50.selectmargin { margin-left: 25px; }

.a12_1_2 .xml-uploads,
.a12_1_2 .remark-div  {
	width: 82%;
	margin: auto;
	float: none;
}

.a12_1_2 .remark-div { padding-right: 4%; }

.approve-master-data-form {
	padding-bottom: 25px;
}

.student-form-sbmt button {
	width: 146px;
	margin: 0;
	height: 50px;
	line-height: 40px;
	font-size: 16px;
}

.approve_certificate_data_filter .filter_title { margin-right: 10px; }

.approve_certificate_data_filter .filter-option { color: #f08001;    font-weight: 600; }

.inner-point:before,
.info-cat:before { background: #ddd; }

.remarks.inner-point:before {
	bottom: -190px;
	height: 400px;
}

.remarks.inner-point:after { top: 30px; }

.wrapper.student-aadhhar-wrap.m30t { margin-top: 35px; }

.xmlFileUploadWrap { margin-bottom: 15px; }

.input-wid50 {
	width: 455px;
}

.otp-fields input {
	width: 300px;
	border-color: #ddd;
	height: 40px;
	text-align: left;
}

.complete-register-btn {
	margin-bottom: 50px;
	font-size: 17px;
	line-height: 45px;
	font-weight: 100;
	padding: 0 25px;
	margin-top: 30px;
	background-color: #052133;
	border: medium none;
	box-shadow: 3px 4px 9px #999;
	color: #fff;
	height: 45px;
	width: 250px;
	transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
	-moz-transition: all 0.4s linear 0s;
}


.mobile-verify { padding-top: 25px; }

.inner-point.captcha-section:before {
	display: none;
}

.a12_1 input::-webkit-input-placeholder {
	color: #f08001;
}
.a12_1 input::-moz-placeholder {
	color: #f08001;
}
.a12_1 input:-ms-input-placeholder {
	color: #f08001;
}
.a12_1 input:-moz-placeholder {
	color: #f08001;
}

#myModal .modal-content p {     font-family: 'SegoeUI'; }

.updated_for_label { float: right; }

.updated_for_label .rad { padding-right: 0; }

.updated_for_label .rad:last-child {     margin-left: 6px; transform: translateX(-1px); }

.width61 { width: 61% !important; }

.a12_1_2 .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) { width: 270px; }

.inner-point .form-group .form-group { padding-bottom: 0; }

.inner-point  { padding-bottom: 0; margin-bottom: 15px; }

.a12_1_2 .inner-point { margin-bottom: 0; padding-bottom: 0; }

.text-for-capcha.selectmargin { margin-left: 40px; }

.captcha-section { margin-top: 0; }

.a12_2_1 .text-for-capcha.selectmargin {
  margin-left: 70px;
}

.a12_1_2 .approve_certificate_data_field { padding-bottom: 25px; }

.a12_1 .modal .modal-dialog {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0 auto;
}

.a12_1 .modal-position .close { right: 5px !important; }

.a12_2_1 label {
	font-weight: 400;
	margin-bottom: 0;
}

.a12_2_1 .info-field input.form-control {
	padding-left: 0;
	box-shadow:  none;
}

.a12_2_1 #otpClone0 { padding-left: 10px; }

.a12_2_1 .inner-point::before {
	height: 135%;
	bottom: -32px;
}

.a12_2_1 .remarks.inner-point:before {
	bottom: -190px;
	height: 400px;
}

.a12_2_1 .NoValue {
	transform: translateY(25px);
}

.a12_2_1 .form-group.info-field.non-editable > label { color: #2f2f2f; }
.a12_2_1 .inner-point .info-field input {
	font-family: 'SegoeUI-Semibold' !important;
	    border-color: #cfcfcf !important;
}

.a12_2_1 .inner-point::before,
.info-cat::before {
	background: #052133;
}

.a12_2_2 .info-cat::before {
	bottom: -57px;
	height: 170%;
}

.long-line.inner-point::before {
	bottom: -46px;
}

.no-tile-line.inner-point::before {
	display: none;
}

 .inner-point::after { z-index: 1; }

.a12_2_2 .inner-point::after { top: 30px; z-index: 1; }

.a12_2_2 .last-inner-pointer::before { display: none; }

.uc_big_lab2 label.width54 { width: 54%; }

.a12_2_2 .otp-fields { text-align: left; }

.a12_2_2 form.otp-form {
	width: 65%;
	margin: auto;
}

.a12_2_2 .otp-fields span {
	display: inline-block;
    width: 195px;
}

.otp-fields input { width: 236px; }

.a12_2_2 input { text-transform: capitalize; }

.a12_2_2 #c_email_id { text-transform: lowercase; }

.otp-box .field-error { text-align: left;padding-left: 15px; }

.inner-point .DOB {
    background: url(../images/calender_orange.png) no-repeat right center;
}

.a12_2_2 .otp-fields .pull-left {
	    margin-bottom: 18px;
}

.a12_2_2 .otp-fields .pull-left .field-error {
	    font-size: 12px;
}

#confirm_password_error {     top: 41px; }

.a12_2_2 .otp-box input {text-transform: initial;}

.a12_2_2 #user_passwordClone1,
.a12_2_2 #confirm_passwordClone2 { padding-left: 15px; }

@media screen and (max-width: 768px) {

	.a12_2_2 .otp-box { width: 100%; }

	.a12_2_2 form.otp-form {
    width: 85%;
  }

	.a12_2_2 .otp-fields a { margin-left: 0; }

	.a12_2_2 .otp-box .field-error { top: 40px; }

	.a12_2_2 .otp-box input { margin: 0; width: 100%; }

	.a12_2_2 .otp-fields .pull-left .field-error { padding-left: 0; }

	.a12_2_2 .info-cat::before { bottom: -41px; }


.a12_1 .bannermar,
.a12_1_2 .bannermar { margin-top: 122px; }

	#otpClone0 + #otp_error { text-align: left;    top: 40px; }

	.upload_certificate_remarks_div { padding-top: 0; }

	.a12_2_1 .inner-point::before {
    height: 140%;
    bottom: -20px;
	}

	.a12_2_1 .text-for-capcha.selectmargin { margin-left: 34px; }

	.resp-no-inner::before { display: none; }

	.a12_2_1 .inner-point:after { top: 6px; }

	.input-wid50 {
	    float: none;
	    width: 85%;
	}

	.Leg-div {  padding: 18px 40px; }

	.inner-point .inner-point.selectmargin { margin-left: 0; }

	.inner-point.selectmargin,
	.text-for-capcha { margin-left: 40px; }

	.xmlFileUploadWrap span,
	.xmlFileUploadWrap label { margin-bottom: 15px; }

	.id-based-captcha .captcha-text,
	.captcha-section_marg p { text-align: left; }

	.captcha-section { margin-top: 0; }

	.wrapper.student-aadhhar-wrap.m30t { padding-bottom: 25px; }

	.filter-option, #floating-label .control-label,
	.xml_file_txt { font-size: 13px; }

	.a12_1_2 .width50 {
    width: 100%!important;
	}

	.student-form-detail { padding: 0 10px; }

	.student-form-sbmt.sbmt2 { padding-top: 20px; }

	.share_certificate12_inner_point label.rad { width: 23%;margin-left: 0; }

	.upload_certificate_radio_wrap { float: left; margin-bottom: 20px; }

	.width54,
	.width61 { width: 100% !important; }

	.share_certificate12_inner_point .updated_for_label label.rad { width: 32%; }

	span.radio-btns.authenticated-radio-btns { width: 300px;    text-align: left; }

	.a12_1 .resp-last-inner::before { display: none; }

	.a12_1 .resp-last-inner { clear: both; transform: translateY(40px); }

	.a12_1_2 .bootstrap-select.btn-group .dropdown-menu li a { text-align: left; }

	/* .a12_1 .resp-last-inner .form-group { padding-bottom: 0; } */

	.a12_1_2 .student-aadhhar-wrap .top-heading.secondary {
	font-size: 20px; }

	.a12_1_2 .input-wid50,
	.a12_1_2 .xml-uploads,
	.a12_1_2 .remark-div { width: 100%; }
	.a12_1_2 .approve-master-data-form .form-group.input-wid50,
	.a12_1_2 .approve-master-data-form .form-group.input-wid50.selectmargin { margin-left: 0; }
	.a12_1_2 .student-form-detail {
    width: 87%;
	}

	.a12_1_2 .approve_certificate_data_filter .filter_title { float: left; }
}

@media screen and (max-width: 360px) {
	.filter-option, #floating-label .control-label,
	.xml_file_txt { font-size: 12px; }
}