@media screen and (min-width: 991px) {
	::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 12px;
	}
	::-webkit-scrollbar-thumb {
		border-radius: 0;
		background-color: rgba(0, 0, 0, .5);
		-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
	}
	/* Verifiers 5_0 Page */

	.issue-fixes .font20 { font-size: 17px; }
	.issue-fixes .no_pad { padding: 0 !important; }
	.issue-fixes .no_m { margin: 0 !important; }
	.issue-fixes .creation-sub-head.tac { text-align: center; }
	.no-float { float: none !important; }
	.clearAll { clear: both !important; }
	.desk-dis-none { display: none !important; }
	.dib { display: inline-block !important; }
	.vis-hidden { visibility: hidden !important; }

	.a16 .second a span { display: block; }

	.a16 .sixth a { cursor: pointer; }

	.a16 .second a:hover,
	.a16 .sixth a:hover { text-decoration: none; }

	.fixed_header_body.issue-fixes { padding-top: 0; }

	.issue-fixes .dashboard_menu li a {
		padding: 0 55px;
	}

	.v7_0 .student-adhar-summary .student-form-detail { padding-top: 0; }

	.v7_0.issue-fixes .veri-details .info-field.non-editable label { width: 205px; }

	.v7_0.issue-fixes .veri-details .communication .info-field.non-editable label,
	.v7_0 .communication .form-group .label {  width: 149px; }

	.v7_0 .communication.personal .form-group .label { margin-right: 15px; }

	.v7_0 .top-heading + .border { margin: 0 auto 35px; }

	.issue-fixes .clearAll { padding-top: 20px; }

	.issue-fixes .online_verification_text_field .form-group {
    padding-bottom: 15px;
	}

	.select-type-user.select-users-role { width: 30%; }

	.creation-div .turn + .dashboard-dropdown-menu { display: block; }

	.issue-fixes .dashboard_menu li ul.dashboard-dropdown-menu li a { padding: 0 55px; }

	.issue-fixes .dashboard_menu  li a.active,
	.issue-fixes .dashboard_menu  li  ul.dashboard-dropdown-menu li a.active,
	.creation-div .dashboard_menu  li a.active,
	.creation-div .dashboard_menu  li  ul.dashboard-dropdown-menu li a.active {
		background: transparent;
	}

	.issue-fixes .dashboard_menu li a:before,
	.creation-div .dashboard_menu li a:before {
		width: 86%;
		background: rgba(255,255,255,0.2);
		margin: auto;
		left: 6%;
	}
	.pos-rel{
		position: relative;
	}

	.issue-fixes .info-field label,
	.issue-fixes .form-group.info-field.non-editable > label {
		opacity: 1;
		color: #2f2f2f;
		margin-bottom: 0;
		font-family: 'SegoeUI';
    font-weight: 100;
    font-size: 15px;
	}

	.a13 .filter_title + .text-left {
    display: inline-block;
    width: 250px;
	}

	.a13 .filter_title {
    margin-right: 15px;
	}
	.v5_0  .student-form-detail .mobile-mob .col-xs-6 {
		margin-bottom: 0px;
	}

	.student-form-detail .top-heading {     margin-right: 17px; }

	.a14 .student-form-detail .top-heading {
    margin-right: 66px;
	}

	.issue-fixes .dashboard_side_menu .mCSB_inside > .mCSB_container,
	.creation-div .dashboard_side_menu .mCSB_inside > .mCSB_container { margin-right: 0; }
	.issue-fixes .dashboard_menu,
	.creation-div .dashboard_menu { padding-left: 0; }
	.issue-fixes .dashboard_menu  li  a img,
	.creation-div .dashboard_menu  li  a img { margin-right: 25px; }
	.issue-fixes .dashboard-side-menu-wrap ul.dashboard_menu li ul li a span.link_title,
	.creation-div .dashboard-side-menu-wrap ul.dashboard_menu li ul li a span.link_title { width: 70%; }


	.issue-fixes .master-data-date .form-group.info-field > input,
	input.form-control { height: 28px; }
	.issue-fixes .w100p .custom-select { width: 100% !important; }
	.issue-fixes .w60p .custom-select { width: 60% !important; }

	.issue-fixes .student-form-sbmt button,
	.creation-div .student-form-sbmt button {
		height: 45px;
		line-height: 40px;
		width: 140px;
	}

	.issue-fixes .form-group.info-field.non-editable > input,
	.issue-fixes .form-control[readonly], input[readonly] {
		border-color: #cfcfcf !important;
	}

	.issue-fixes .modal-footer button {
		width: 100px;
	}

	.issue-fixes .modal-footer button { padding: 8px 35px; }

	.issue-fixes .top-heading + .border,
	.creation-div  .top-heading + .border { width: 210px; }

	.issue-fixes .logout-info-icon-wrap,
	.creation-div .logout-info-icon-wrap {
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		-o-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	.issue-fixes .fa-angle-down { font-size: 22px; }

	.issue-fixes .approve_certificate_data_filter_new { margin-bottom: 15px; }

	.issue-fixes #myModal .close {
    right: 8px;
    top: 5px;
    position: relative;
	}

	.issue-fixes .modal-footer { padding-bottom: 25px; }
	.issue-fixes .modal-body p { margin-bottom: 0; }

	.creation-div  .approve_certificate_data_field22 .approve_certificate_label { width: auto; }
	.creation-div  .top-heading + .border { margin-bottom: 0; }
	.creation-div  .approve_certificate_data_filter { padding-bottom: 15px; }
	.creation-div  .role-heading { margin-bottom: 30px; }


	.nad-id-label { margin-top: 12px; }
	.issue-fixes .btn-div { margin-top: 30px; }
	.custom-width.nid-label { width: 270px; }
	.issue-fixes .logout-btn .btn-div { margin-top: 0; }

	.issue-fixes .adhar-pic {
		top: 125px;
		box-shadow: 2px 3px 2px #eadbca;
	}

	.issue-fixes .input-wid50 {
    width: 400px;
	}

	.fathersName { clear: both; }

	.issue-fixes .inner-point.no-timeline-circle:after {
		width: 12px;
		height: 12px;
	}

	.issue-fixes .lastinnerpointer:before { display: none; }
	.issue-fixes .student-adhar-summary .student-form-detail {
		padding-left: 70px;
		box-shadow: none;
	}

	body.big-dash-m.issue-fixes .dashboard-content {
		width: 72%;
		padding-right: 0;
		background: rgba(	243,	243,	243, 0.3);
	}

	.super_active a span { color: #fff; }

	.issue-fixes .inner-point .inner-point { margin-left: 0; }

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #f08001;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: #f08001;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: #f08001;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: #f08001;
	}

	.black-color ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #333;
	}
	.black-color ::-moz-placeholder { /* Firefox 19+ */
	  color: #333;
	}
	.black-color :-ms-input-placeholder { /* IE 10+ */
	  color: #333;
	}
	.black-color :-moz-placeholder { /* Firefox 18- */
	  color: #333;
	}

	.w50p {
		display: inline-block;
	}

	.info-cat-sub-text {
		font-size: 20px;
    color: #f08001;
	}

	.big-textarea textarea {
		height: 150px;
		color: #f08001;
		border: 1px solid #f08001;
		border-radius: 0;
		font-size: 18px;
		padding-top: 10px;
	}

	.big-textarea { margin-top: 25px; }

	.uploaded-pic {
		display: inline-block;
		box-shadow: 3px 4px 3px #eadbca;
		border: 1px solid #f08001;
	}

	.issue-fixes .dropdown-menu li a { text-align: left; }

	.role-creation .super_active .mCS_img_loaded:first-child { display: none !important; }

	.role-creation .super_active .mCS_img_loaded:nth-child(2) { display: inline-block !important; }

	.issue-fixes .modal.fade .modal-dialog p {
		font-family: 'SegoeUI';
		line-height: 40px;
	}

	.issue-fixes #myModal .modal-dialog {
		width: 680px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.issue-fixes #approveCertificateForm .filter-div { margin-top: 30px; }

	.a13 input[readonly],
	.a14 input[readonly] { font-weight: bold; }

	.issue-fixes .nad-id-field {
		display: inline-block;
		width: auto;
		vertical-align: -webkit-baseline-middle;
	}

	.issue-fixes .big-textarea { padding-left: 10px !important; }

	.issue-fixes .inner-point:after { top: 28px; z-index: 1; }

	.issue-fixes .info-cat:after { top: 8px; }

	.issue-fixes .nad-id-wrap { text-align: center; }

	.a14 .right-side .inner-point:before,
	.a14 .right-side .inner-point:after,
	.a14 .right-side.inner-point:after,
	.a14 .right-side.inner-point:before,
	.a14 .remove-before:after,
	.a14 .remove-before:before,
	.a16 .right-side .inner-point:before,
	.a16 .right-side .inner-point:after,
	.a16 .right-side.inner-point:after,
	.a16 .right-side.inner-point:before { display: none; }

	.a14 .big-info-cat:before {
		height: 210%;
    bottom: -82px;
  }

  .a16 .big-info-cat:before {
  	height: 300%;
    bottom: -118px;
  }

  .a13 .info-cat:before {
		height: 150%;
		bottom: -60px;
  }

  .a15 .info-cat:before {
  	height: 245%;
    bottom: -105px;
  }

  .a14 .info-cat:before {
    height: 245%;
	}

  .issue-fixes .inner-point:before { bottom: -40px; }

  .a14 .second-info { clear: both }

  .a14 span.filter-option { color: #f08001; }

  .photo-column .col-md-5 { margin-left: 8px; }

  .a14 .action-taken,
  .a16 .action-taken { margin-top: -8px; }

  .a14 .inner-point.passing-inner:before { bottom: 60px; }

  .mandatory-rejection { margin-top: 5px; }

  .a14.issue-fixes .student-adhar-summary .student-form-detail {
  	padding-right: 0;
  }

  .a14.issue-fixes .input-wid50 {
    width: 450px;
	}

	.a14.issue-fixes .right-side { margin-left: 0; }

	.a14 .third-info,
	.a14 .second-info,
	.a14 .fourth-info,
	.a14 .fifth-info { margin-bottom: 10px; }

	.a13 .second-info { margin-bottom: 10px; }

	.a13 .approve_certificate_data_wrapper,
	.a14 .approve_certificate_data_wrapper { padding-bottom: 0; }

	.a16 .info-cat-sub-text	{
		margin-left: 30px;
		margin-bottom: 30px;
	}

	.certificate-table .tr { font-size: 0; }

	.certificate-table .tr .th,
	.certificate-table .tr .td {
		padding: 15px 10px;
		background-color: #052133;
		font-size: 16px;
		font-family: 'SegoeUI';
		color: #fff;
		min-height: 75px;
		vertical-align: top;
		display: inline-flex;
		align-items: center;
	}

	.certificate-table .tr .td {
		flex-direction: column;
		background: #fff;
		min-height: 100px;
	}

	.certificate-table .tr .td span {
		color: #052133;
		/* font-size: 18px; */
	}

	.certificate-table .table {
		margin-bottom: 40px;
		box-shadow: 3px 0px 17px -3px rgba(0,0,0,0.55);
		-webkit-box-shadow: 3px 0px 17px -3px rgba(0,0,0,0.55);
		-moz-box-shadow: 3px 0px 17px -3px rgba(0,0,0,0.55);
	}

	.thead-row { background: #052133; }

	.ring .outer {
		border: 2px solid #f08001;
    border-radius: 50%;
    padding: 4px;
	}

	.ring .inner {
    border: 5px solid transparent;
    border-radius: 50%;
	}

	.ring .inner.border-white { border-color: #f08001; }

	.certificate-table .tr .th span { text-transform: uppercase; }

	.first { width: 9%; }
	.second { width: 22%; }
	.third { width: 22%; }
	.fourth { width: 22%; }
	.fifth { width: 15%; }
	.sixth { width: 10%; }

	.certificate-table .tr .td.first { justify-content: center; }

	.certificate-table .tr .td.sixth span {
		text-transform: uppercase;
	}

	.certificate-table .tr .td span.border-bottom {
		line-height: 16px;
		border-bottom: 1px solid rgba(5, 33, 51, .5);
	}

	.certificate-table .tr .td {
		align-items: flex-start;
	}

	.certificate-table .tr.tbody-row { border-bottom: 1px solid #f08001; }

	.certificate-table .tr.tbody-row:last-child { border: 0; }

	.submit-btn-wrap { margin-top: 30px; text-align: center; }

	.submit-btn-wrap .blue-btn {
		padding-left: 15px;
		padding-right: 15px;
		width: 140px;
	}

	.issue-fixes .photo-column .inner-point:after {
		top: 4px;
	}
	.photo-column.info-cat:before { bottom: -38px; }

	.issue-fixes .photo-column .inner-point { margin-left: 0; }

	.issue-fixes .photo-column .info-cat-text { margin-bottom: 20px; }

	.view-details.blue-btn { padding: 0 18px 0 18px; }

	.action-taken .dropdown-action {
		display: inline-block;
	}

	.action-taken > div { text-align: center; }

	.action-taken .dropdown-action .custom-select { width: 192px !important; margin-left: 10px; }

	.issue-fixes .approve_certificate_data_filter { padding-bottom: 39px; }

	.issue-fixes .border-wrap .border {
		width: 210px;
		height: 5px;
		margin: 0 auto 50px;
		background-color: #1f1f1f;
	}

	.issue-fixes .border-wrap { padding-right: 66px;  }

	.issue-fixes .big-input-field { padding-right: 15px; }

	.info-cat-sub-text {  margin-bottom: 25px; }

	.a15 .info-cat:before {
    height: 275%;
    bottom: -106px;
	}

	.a16 .filter-option { color:  #f08001; }

	.a16 .info-cat:before {
		height: 300%;
    bottom: -115px;
	}

	.light-grey-border { border-bottom: 1px solid #f1f1f1; }

	.issue-fixes .approve_certificate_data_filter.light-grey-border {
		padding-bottom: 20px;
		margin-bottom: 20px;
		text-align: center;
	}

	.approve_certificate_data_reset_btn_wrp.light-grey-border { padding-bottom: 30px; }

	.a16 .view-details-btn-wrap .blue-btn {
		width: 185px;
		font-family: 'SegoeUI';
		padding-left: 15px;
    padding-right: 15px;
	}

	.a16 .nad-id-wrap.light-grey-border { padding-bottom: 25px; }

	.a16 .no-pl { padding-left: 0; }

	.a16 .approve_certificate_data_filter .filter_title { line-height: 25px; }

	.a16 .action-taken .dropdown-action .custom-select { margin-left: 0; }

	.a16.issue-fixes .input-wid50 {
    width: 450px;
	}

	/* Verifiers 5_0 Page */
	.v5_0.issue-fixes .student-adhar-summary .student-form-detail {
		padding-left: 0;
	}

	.v5_0.issue-fixes .info-field.non-editable label,
	.v7_0.issue-fixes .info-field .label label,
	.v7_0.issue-fixes .info-field label {
		display: inline-block;
		font-size: 17px;
		margin-top:3px;
	}
	.v7_0.issue-fixes .info-field.non-editable label {
    float: left;
    margin-right: 15px;
    width: auto;
	}

	/* .v7_0 .communication .address-field .form-group .label { width: 15%; } */


	/* .v7_0 .communication .form-group .label { width: 30%; } */



	.issue-fixes  .info-field label{
		margin-top:6px;
		display: inline-block;
	}
	.issue-fixes .enter-label{
		margin-top: 0px !important;
	}

	.v5_0 #other_email_id {
		vertical-align: text-bottom;
    width: 66%;
	}
	.v5_0 .right-side-field { padding-left: 45px !important; }

	.v5_0 .student-form-detail .col-xs-6 { margin-bottom: 20px; }

	.v5_0 .student-form-detail .col-xs-6 input,
	.v5_0 .student-form-detail .col-xs-12 input {
		padding-left: 0;
		padding-bottom: 10px;
	}

	.v5_0 .student-form-detail .col-xs-12 input { margin-bottom: 10px; }
	.my-profile	.student-form-detail .col-xs-12 input{font-weight: 600;}

	.v5_0 .message-field.otp-message, .v5_0 .message-field.otp-email-message,
	.v7_0 .message-field.otp-message { position: static; }

	.v7_0 .students-acoounts-details-point12 .form-group.info-field > input.new-input-editable { width: 65%; }

	.v5_0 .mobile-field { clear: left; }

	.v5_0 .message-field {
		display: block;
		margin-top: 5px;
		position: absolute;
		top: 80px;
		bottom: 0;
		right: 0;
		left: 128px;
	}
	.v5_0 .dektop-margin{
		margin-bottom: 30px;
	}
	.clearLeft { clear: left; }

	.v5_0 .address-field .label {
		text-align: left;
		width: 10%;
	}
	.v5_0 .email-field .label {
		text-align: left;
		width: 18%;
	}
	.v5_0 .mobile-field .label {
		text-align: left;
		width: 20%;
	}
	.v5_0 .right-side-email-id .label{
		text-align: left;
		width: 20%;
	}
	.v5_0 .receive-otp-field .label{
		width: 18%;
	}
	.v5_0 .martopfather { margin-top: 15px; }
	.v5_0 .submit-btn-wrap .blue-btn { text-align: center;    line-height: 50px; }
	.v5_0 .students_accounts_details_otp a.resend-otp { float: none; }
	.v5_0 .student-form-detail .col-xs-12 input + input { margin-top: 10px; }
	.v5_0 .students_accounts_details_otp .col-xs-5 input + input { margin-top: 0; }

	.v5_0 .students_accounts_details_otp { width: 50%; }

	.manage-col-width .col-xs-3{
		width: 21%;
	}
	.resend-otp {
		margin-left: 10px;
		text-decoration: underline;
		font-size: 17px;
		color: #f08001;
		cursor: pointer;
	}

	.resend-otp:hover { color: #f08001; }

	.v5_0 .info-cat-text { margin-bottom: 30px; }

	.v5_0 .submit-btn-wrap { padding-bottom: 30px; margin-top: 10px;}

	.v5_0 .orange-border {
		border-bottom: 1px solid #f08001;
	}

	.v5_0 .clearfix.orange-border { margin-bottom: 25px; }

	.v5_0 .student-form-detail .col-md-6 .otp-field {
		padding-left: 15px;
		padding-bottom: 0;
    padding-top: 0;
		border: 1px solid #cfcfcf;
    height: 28px;
    line-height: 0px;
    font-size: 18px;
    letter-spacing: 2px;
    padding-bottom: 5px;
	}

	.v5_0.issue-fixes .top-heading + .border { width: 155px; }

	.v5_0 .editable-field .edit-icon {
		display: block;
		width: 20px;
		height: 20px;
		background:url(../images/edit-email.png) no-repeat;
		position: absolute;
		right: 3px;
		top: 6px;
		cursor: pointer;
		/* z-index: 10; */
	}
	.v5_0 .editable-field .email-icon {
		display: block;
		width: 20px;
		height: 20px;
		background:url(../images/email_icon.png) no-repeat;
		position: absolute;
		right: 3px;
		top: 6px;
		cursor: pointer;
		/* z-index: 10; */
	}
	.v5_0 .student-form-detail .col-xs-6 .editable-field input { padding-right: 23px; }

	.v7_0 .students_accounts_details_otp { width: 100%; height: auto; }

	/* .v7_0 .communication .form-group .label.email { width: 28%; } */

	.v5_0 .student_active_number { vertical-align: top; }

	.v5_0 .students-acoounts-details-point12 .info-field .field-error {
		margin-left: 0;
	}

	.v7_0 .width81 { width: 81%; }

	.v7_0 .submit-btn-wrap a,
	.v5_0 .submit-btn-wrap a { float: none; }

	.v5_0 .submit-btn-wrap a {     margin-left: 0;
    transform: translateX(-40px); }

}
@media screen and (min-width: 1100px) and (max-width: 1500px)  {

	.v7_0 .students-acoounts-details-point12 .form-group.info-field > input.new-input-editable {
    width: 80%;
	}

	.v5_0 .student_active_number { width: 34px; vertical-align: top; }

	.v5_0 .student_account_details_submit_btn { width: 20px; }

	.v5_0 .message-field{
		left: 101px;
		width: 100%;
	}
	.manage-col-width .col-xs-3 {
		width: 27%;
	}
	.v5_0 .address-field .label {
		width: 11%;
	}
	.didnot-otp .non-editable label {
		width: 38%;
	}
	.v5_0 .mobile-field .label {
		width: 22%;
	}
	.non-editable label{
			width: 65%;
	}
	.issue-fixes .input-wid50 {
   		 width: 350px;
	}

	.a14.issue-fixes .input-wid50,
	.a16.issue-fixes .input-wid50 {
    	width: 390px;
	}

	.issue-fixes .dashboard_menu li a,
	.issue-fixes .dashboard_menu li ul.dashboard-dropdown-menu li a,
	.creation-div .dashboard_menu li a,
	.creation-div .dashboard_menu li ul.dashboard-dropdown-menu li a {
    padding: 0 30px;
	}

	.issue-fixes .dashboard_menu  li  a,
	.creation-div .dashboard_menu  li  a { font-size: 14px; }

	.issue-fixes .dashboard_menu li a img,
	.creation-div .dashboard_menu li a img {
    margin-right: 20px;
	}

	.certificate-table .tr .td span { font-size: 15px; }

	.issue-fixes .photo-column .right-side { padding-left: 15px !important; }
}

@media screen and (max-width: 768px)  {

	/* .v5_0 .mob-manage-group .form-group { text-align: right; } */

	.v7_0 .label { margin-bottom: 10px; }

	.v7_0 .mobile-field .students-acoounts-details-point11  .label { width: 100%; }

	.v5_0 .mob-manage-group .form-group input, .v5_0 .student_active_number {
		transform: translateY(-5px);
	}

	.v7_0 .students-acoounts-details-point12 .form-group.info-field > input {
		width: 62%;
	}

	.orange-bg .dashboard_hamburger { top: 220px; }

	.menu-container ul.loginmenu li:nth-child(3) {
    margin-right: 12px;
	}

	.v5_0 .students-acoounts-details-point12 .info-field .field-error {
		margin-left: 0;
	}

	.v5_0 .label { text-align: left; }

	.v5_0 .email-mob .col-xs-8 input { width: 100%; }

	.v5_0 .mob-manage-group .form-group {
		    text-align: right;
	}

	.v5_0 .mob-manage-group .form-group input,
	.v5_0 .student_active_number { vertical-align: top; }

	.v5_0 .message-field.otp-message,
	.v5_0 .field-error,
	.v7_0 .message-field.otp-message,
	.v7_0 .field-error { text-align: left;}

	.v7_0 .students-acoounts-details-point11 .form-group.info-field > input.new-input-editable,
	.v7_0 .students-acoounts-details-point12 .form-group.info-field > input.new-input-editable {
		float: left;
	}

	.v7_0 .students-acoounts-details-point12 { margin-bottom: 0; }

	.v7_0 .martopfather { padding-left: 0; }

	.v7_0 .didnot-otp { margin-top: 15px; }

	.v7_0 .student-adhar-summary .student-form-detail { padding-right: 15px; }

	.v7_0 input { width: 100%; padding-left: 0; }

	.v7_0 label { float: left; }

	.students_accounts_details_otp a.resend-otp { line-height: 24px; }

	.v5_0 .students_accounts_details_otp {  height: 43px; }

	.v5_0 .submit-btn-wrap a {
		margin: auto;
    float: none;
    line-height: 50px;
	}

	.v5_0 .mob-manage-group.students_accounts_details_otp .form-group { margin: 0; }

	.v5_0 .martopfather {
    margin-top: 10px;
	}

	.v5_0 .mob-manage-group .students-acoounts-details-point11 .form-group { margin-bottom: 5px; margin-top: 5px; }

	.student_active_number .student_cancel_button, .student_active_number .student_cancel_button1 { top: 0; }

	.v5_0 .student_active_number button { margin-top: 0; }

	.v5_0 .col-xs-3-mob { margin-left: 0; width: 100%; }

	.v5_0 input.col-xs-8 { float: right; }

	.v5_0 .col-xs-10 { width: 66.66666667%; }

	.v5_0 .col-xs-3,
	.v5_0 .address-field .label {
		text-align: left;
    width: 30%;
	}

	.forgot_password_new .student-form-sbmt button{
		width:133px;
	}
	.v5_0  .submit-btn-wrap {
		margin-top: 10px;
	}
	.v5_0 .mob-manage-group .form-group{
		margin-bottom: 20px;
	}
	.email-mob .col-xs-8 input{
		width: 241px;
	}
	.mobile-mob .col-xs-6{
		width:227px;
	}
	.mob-email-edit .col-xs-7{
		width:252px;
	}
	.v5_0 .didnot-otp-mob{
		float: left;
	}
	.v5_0 .student-adhar-summary .student-form-detail{
		padding-left:10px;
		padding-bottom: 40px;
	}
	.v5_0 .student-form-detail .col-md-6 .otp-field{
		width:170px;
	}
	.manage-circle .dashboard_hamburger{
		top:218px;
	}
	.v5_0 .mobile-field .label {
		width: 23%;
	}
	.v5_0 .mob-manage input{
		width:91%;
	}

	.clearAll { clear: both !important; }

	.issue-fixes .clearAll { padding-top: 20px; }

	.a16 .dashboard_content_wrapper,
	.a14 .dashboard_content_wrapper,
	.a15 .dashboard_content_wrapper { overflow: hidden; }

	.a13 .approve_certificate_data_filter { text-align: left; }

	.submit-btn-wrap { margin-top: 25px; }
	.action-taken > div { text-align: center; }
	.action-taken .dropdown-action { display: inline-block; }

	.action-taken .dropdown-action .custom-select {
		width: 135px !important;
		margin-left: 10px;
	}

	.submit-btn-wrap a {
		padding-left: 15px;
		padding-right: 15px;
		width: 90px;
	}

	.a14.issue-fixes .info-cat:before {
    height: 210%;
    bottom: -82px;
	}

	.issue-fixes .form-group.info-field.non-editable > input,
	.issue-fixes .form-control[readonly], input[readonly] {
    border-color: #cfcfcf !important;
	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #f08001;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: #f08001;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: #f08001;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: #f08001;
	}

	.black-color ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #333;
	}
	.black-color ::-moz-placeholder { /* Firefox 19+ */
	  color: #333;
	}
	.black-color :-ms-input-placeholder { /* IE 10+ */
	  color: #333;
	}
	.black-color :-moz-placeholder { /* Firefox 18- */
	  color: #333;
	}

	.a14 .third-info,
	.a14 .second-info,
	.a14 .fourth-info,
	.a14 .fifth-info { margin-bottom: 0; }

	.a14 .big-info-cat:before,
	.a16 .big-info-cat:before {
		height: 210%;
    bottom: -82px;
  }

	.mandatory-rejection {
		display: block;
    text-align: left;
	}

	.a14 span.filter-option {
    color: #f08001;
	}

	.a14 .nad-id-label { padding-left: 0; }

	.a13 .approve_certificate_wrapper .logout-btn,
	.a14 .approve_certificate_wrapper .logout-btn { margin-top: 0; }

	.resp-dis-none { display: none !important; }

	.a13 .lastinnerpointer:before,
	.a14 .lastinnerpointer:before { display: none; }

	body.big-dash-m.a13 .dashboard-content,
	.a13 .student-adhar-summary .student-form-detail,
	body.big-dash-m.a14 .dashboard-content,
	.a14 .student-adhar-summary .student-form-detail {
		padding-left: 5px;
    padding-right: 5px;
	}

	.a13.issue-fixes .approve_certificate_data_field .master-div {
		margin-left: 0;
	}

	.a13 .student-adhar-summary .adhar-pic { margin: 0 auto 20px; }

	.resp-no-mb { margin-bottom: 0; }

	.issue-fixes #myModal .modal-content { padding: 0 20px; }

	#myModal .modal-dialog { width: 100%; }

	.issue-fixes #myModal .close {
    right: -25px;
    top: -33px;
    position: relative;
	}

	.creation-div  .role-heading { margin-bottom: 30px; }

	.fixed_header_body.issue-fixes { padding-top: 0; }

	.issue-fixes .btn-div img {
		width: 50px;
    height: 50px;
	}

	.issue-fixes .approve_certificate_dashboard_content .top-heading {
		font-size: 26px;
		line-height: 30px;
	}

	.issue-fixes .list-users-click { font-size: 15px; }

	.issue-fixes .approve_certificate_data_field .master-div { margin-left: 10px; }

	.issue-fixes .font20,
	.issue-fixes .employee-name { font-size: 15px; }

	.issue-fixes .approve_certificate_wrapper .logout-btn-mob {  margin-bottom: 0 !important;}

	.issue-fixes .dropdown-menu li a { text-align: left; }

	.fileupload_field { padding-left: 0; }

	.issue-fixes .modal-footer button {
		width: 100px;
		padding: 15px 35px;
	}

	.issue-fixes #myModal .close { top: -8px; }

	.issue-fixes #myModal .modal-body,
	.issue-fixes .modal-footer {
		padding-bottom: 0;
	}

	.issue-fixes #myModal .modal-content .modal-header { padding-top: 10px; }

	.issue-fixes #myModal p br { display: none; }

	.issue-fixes .logout-btn .btn-div { margin-top: 0; }

	.a13 .nad-id-label { padding-left: 0; }

	.a13 .form-group.info-field.non-editable > label,
	.a14 .form-group.info-field.non-editable > label { text-align: left; }

	.issue-fixes .inner-point .inner-point { margin-left: 0; }

	.info-cat-sub-text {
		font-size: 20px;
    color: #f08001;
	}

	.big-textarea textarea {
		height: 150px;
		color: #f08001;
		border: 1px solid #f08001;
		border-radius: 0;
	}

	.uploaded-pic {
		display: inline-block;
		box-shadow: 3px 4px 3px #eadbca;
		border: 1px solid #f08001;
	}

	.issue-fixes .inner-point:before { bottom: -30px; }

	.issue-fixes .info-cat:before {
		height: 122%;
		bottom: -60px;
  }

  .a13.issue-fixes .info-cat:before { bottom: -54px; }

  .issue-fixes .info-field label,
	.issue-fixes .form-group.info-field.non-editable > label {
		opacity: 1;
		color: #2f2f2f;
		margin-bottom: 0;
	}

	.a13 .second-info {
    margin-bottom: 10px;
	}

	.issue-fixes .inner-point:after {
    top: 23px;
	}

	.issue-fixes .photo-column .inner-point {
    margin-left: 0;
	}

	.issue-fixes .photo-column .uploaded-pic { float: left; }

	.issue-fixes .photo-column .inner-point:after {
    top: 3px;
	}

	.university-field label { text-align: left; }

	.issue-fixes .inner-point:after { z-index: 1; }

	.info-cat-sub-text {
    margin-bottom: 20px;
	}

	.a15.issue-fixes .info-cat:before {
    height: 270%;
    bottom: -100px;
	}

	.a15.issue-fixes .university-pointer.inner-point:before {
		bottom: -45px;
		height: 135%;
	}

	.a15.issue-fixes .inner-point:before {
		bottom: -28px;
		height: 125%;
	}

	.a15.issue-fixes .info-cat:after { z-index: 2; }

	.a15.issue-fixes .Existing-Details.inner-point:before { height: 218%; }

	.issue-fixes .photo-column .right-side { margin-top: 20px; }

	.a16 .input-margin-right { margin-right: 0; }

	.a16 .input-wid50 {
    width: 90%;
	}

	.a16 .info-cat-sub-text {
		padding-left: 40px;
    text-align: left;
	}

	.a16.issue-fixes .status-first.inner-point:before {
    bottom: -100px;
    height: 200%;
	}

	.a13.issue-fixes .status-first.info-cat:before {
    bottom: -130px;
    height: 400%;
	}

	.certificate-table .tr {
		font-size: 0;
		min-width: 840px;
	}

	.certificate-table .tr .th,
	.certificate-table .tr .td {
		padding: 15px 10px;
		background-color: #052133;
		font-size: 16px;
		font-family: 'SegoeUI';
		color: #fff;
		min-height: 75px;
		vertical-align: top;
		display: inline-flex;
		align-items: center;
	}

	.certificate-table .tr .td {
		flex-direction: column;
		background: #fff;
		min-height: 100px;
	}

	.certificate-table .tr .td span {
		color: #052133;
		/* font-size: 18px; */
	}

	.certificate-table .table {
		margin-bottom: 40px;
		box-shadow: 3px 0px 17px -3px rgba(0,0,0,0.55);
		-webkit-box-shadow: 3px 0px 17px -3px rgba(0,0,0,0.55);
		-moz-box-shadow: 3px 0px 17px -3px rgba(0,0,0,0.55);
    overflow-x: scroll;
	}

	.thead-row { background: #052133; }

	.ring .outer {
		border: 2px solid #f08001;
    border-radius: 50%;
    padding: 4px;
	}

	.ring .inner {
    border: 5px solid #f08001;
    border-radius: 50%;
	}

	.ring .inner.border-white { border-color: #fff; }

	.certificate-table .tr .th span { text-transform: uppercase; }

	.first { width: 9%; }
	.second { width: 22%; }
	.third { width: 22%; }
	.fourth { width: 22%; }
	.fifth { width: 15%; }
	.sixth { width: 10%; }

	.certificate-table .tr .td.first { justify-content: center; }

	.certificate-table .tr .td.sixth span {
		text-transform: uppercase;
	}

	.certificate-table .tr .td span.border-bottom {
		line-height: 16px;
		border-bottom: 1px solid rgba(5, 33, 51, .5);
	}

	.certificate-table .tr .td {
		align-items: flex-start;
	}

	.certificate-table .tr.tbody-row { border-bottom: 1px solid #f08001; }

	.certificate-table .tr.tbody-row:last-child { border: 0; }

	.light-grey-border { border-bottom: 1px solid #f1f1f1; }

	.issue-fixes .approve_certificate_data_filter.light-grey-border {
		padding-bottom: 20px;
		margin-bottom: 20px;
		text-align: center;
	}

	.approve_certificate_data_reset_btn_wrp.light-grey-border { padding-bottom: 30px; }

	.a16 .nad-id-wrap.light-grey-border { padding-bottom: 25px; }

	/* Verifiers 5_0 Page */
	.v5_0.issue-fixes .info-field label {
		text-align: left;
		padding-top:3px;
		display: inline-block;
	}

	.resend-otp {
    margin-left: 10px;
    text-decoration: underline;
    font-size: 17px;
    color: #f08001;
    float: left;
	}

	.v5_0 .student-form-detail .col-md-6 .otp-field {
		padding-left: 15px;
		padding-bottom: 0;
    padding-top: 0;
		border: 1px solid #cfcfcf;
    height: 28px;
    line-height: 0px;
    font-size: 18px;
    letter-spacing: 2px;
	}

	.v5_0.issue-fixes .top-heading + .border { width: 155px; }

	.v5_0 .editable-field .edit-icon {
		display: block;
		width: 20px;
		height: 20px;
		background:url(../images/edit-email.png) no-repeat;
		position: absolute;
		right: 3px;
		top: 4px;
		cursor: pointer;
		/* z-index: 10; */
	}
	.v5_0 .editable-field .success-icon {
		display: block;
		width: 20px;
		height: 20px;
		background:url(../images/email_icon.png) no-repeat;
		position: absolute;
		right: 3px;
		top: 0px;
		cursor: pointer;
		/* z-index: 10; */
	}

	.v5_0 .issue-fixes .info-field label,
	.v5_0 .issue-fixes .form-group.info-field.non-editable > label {
    opacity: 1;
    color: #2f2f2f;
    margin-bottom: 0;
    font-family: 'SegoeUI';
    font-weight: 100;
    font-size: 15px;
	}

	.v5_0 .student-form-detail { padding-right: 10px; }

	.v5_0 .col-xs-10 { width: 80%; }

}

@media screen and (max-width: 360px) {

	.mobile-mob .col-xs-6{
		width: 198px;
	}

	.email-mob .col-xs-8 input {
		width: 200px;
	}
	.email-mob .col-xs-8 input {
		width: 200px;
	}
	.manage-circle .dashboard_hamburger{
		top:211px !important;
	}
	.a15.issue-fixes .info-cat:before { height: 240%; }

	.a13.issue-fixes .status-first.info-cat:before {
    height: 280%;
	}
	.mob-email-edit .col-xs-7 {
	 width: 215px;
	}
}

@media screen and (max-width: 320px) {
	.manage-circle .dashboard_hamburger{
		top:228px !important;
	}
}
.success-message {
	top: 0px !important;
	font-size: 16px;
	font-weight: 600;
	color: #f08001;
}
.resend-msg {
	font-size: 16px;
	font-weight: 600;
	color: #f08001;
}