/* Menu style */
.desk-none{display: none;}
ul.wtf-menu{
	margin: 0px auto 0px;
	padding: 0px 10px;
	border-radius: 3px;
	font-size: 14px;
	/* 	Dropdown shadow */
	/*-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);*/
}
ul.wtf-menu li{
	list-style: none;
	float: left;
	margin-right:100px;
	margin: 0px 0px;
	display: block;
	position: relative;
	text-transform: uppercase;
	margin-right: 80px;
}
ul.wtf-menu li:last-child{
	margin-right:0px;
}
ul.wtf-menu li a{
	margin: 0px 0px;
	display: block;
	padding:10px 0px;
}

ul.wtf-menu li a:hover{
	color:#8c221d;
}
.lower-menu{
	padding:9px 0px 0px 160px;
	float: right;
	margin-right: 54px;
}
.wtf-menu ul.submenu{
	width: 250px;
	padding: 0px 0px;
	margin: 0px;
	background: #fff;
	position: absolute;
	top:40px;
	left:-78px;
	display:none;

	/* 	Dropdown shadow */
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
}

.wtf-menu ul.submenu ul{
	left: 250px;
	top:0px;
}

.wtf-menu ul.submenu li{
	padding: 0px;
	margin: 0px;
	display: block;
	float: none;
	border-bottom: 1px solid #eee;
	text-transform: none;
	height: auto;
}
.wtf-menu ul.submenu li a:hover .lower-menu ul li a:before{
	content: "";
    position: absolute;
    background-color: #f08001;
    width: 0;
    height: 2px;
    bottom: 5px;
    margin: 0 auto;
    left: 0;
    right: 0;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.wtf-menu ul.submenu li:last-child{
	border: none;
}
/* Add arrows */
ul.wtf-menu li:nth-child(3) .submenu{ width:280px; /*left:-68px;*/    z-index: 1;}
ul.wtf-menu li:nth-child(3) .submenu .parent .submenu{ left:280px;}
ul.wtf-menu li:nth-child(5) .submenu{ width:190px; left:-57px;}
ul.wtf-menu li:nth-child(5) .submenu .parent .submenu{ left:190px;}
ul.wtf-menu li.parent .submenu li a{
	color:#1f1f1f;
	font-weight:normal;
	font-family: 'open_sansregular' !important;
	padding:10px 0px;
	text-align: center;

}
ul.wtf-menu li.parent .submenu li a:hover{
	font-weight:normal;
	color:#fff;
	background:#e98309 !important;
}
ul.wtf-menu ul li.parent:hover:after{
	font-family: 'Fontawesome';
	background:url("../images/right_arrow_white.png") no-repeat right center;
	color:#fff;
	position: absolute;
	right: 0px;
	top:0px;
	margin-left: 5px;
}
ul.wtf-menu ul li.parent:after{
	font-family: 'Fontawesome';
	background:url("../images/right_arrow.png") no-repeat right center;
	color:#999;
	position: absolute;
	right: 0px;
	top:0px;
	margin-left: 5px;
}
/* Magic happens here */


/* Menu-1 */

.menu-1 .wtf-menu li:hover > ul{
	display:block;
	-moz-animation: fadeInUp .3s ease-in  ;
    -webkit-animation: fadeInUp .3s ease-in ;
    animation:fadeInUp .3s ease-in ;
}

.menu-1 .wtf-menu ul li:hover > ul{
	display:block;
	-moz-animation: fadeInRight .3s ease-in ;
    -webkit-animation: fadeInRight .3s ease-in ;
    animation:fadeInRight .3s ease-in ;
}
/* Menu-2 */

.menu-2 .wtf-menu li:hover > ul{
	display:block;
	-moz-animation: fadeInDown .3s ease-in ;
    -webkit-animation: fadeInDown .3s ease-in ;
    animation:fadeInDown .3s ease-in ;
}

.menu-2 .wtf-menu ul li:hover > ul{
	display:block;
	-moz-animation: fadeInLeft .3s ease-in ;
    -webkit-animation: fadeInLeft .3s ease-in ;
    animation:fadeInLeft .3s ease-in ;
}
/* Menu-3 */
.menu-3 .wtf-menu li:hover > ul{
	display:block;
	-moz-animation: fadeIn .3s ease-in ;
    -webkit-animation: fadeIn .3s ease-in ;
    animation:fadeIn  .3s ease-in ;


}

.menu-3 .wtf-menu ul li:hover > ul{
	display:block;
	-moz-animation: fadeIn .3s ease-in ;
    -webkit-animation: fadeIn .3s ease-in ;
    animation: fadeIn .3s ease-in;
}
/* Menu-4 */

.menu-4 .wtf-menu li:hover > ul{
	display: block;
	-moz-animation: zoomIn .3s ease-in;
    -webkit-animation: zoomIn .3s ease-in ;
    animation: zoomIn .3s ease-in;


}

.menu-4 .wtf-menu ul li:hover > ul{
	display:block;
	-moz-animation: zoomIn .3s ease-in ;
    -webkit-animation: zoomIn .3s ease-in ;
    animation: zoomIn .3s ease-in;
}
/* menu-5 */

.menu-5 .wtf-menu li:hover > ul{
	display: block;
	-moz-animation: flipInX .3s ease-in;
    -webkit-animation: flipInX .3s ease-in ;
    animation: flipInX .3s ease-in;


}
.menu-5 .wtf-menu ul li:hover > ul{
	display:block;
	-moz-animation: flipInY .3s ease-in ;
    -webkit-animation: flipInY .3s ease-in ;
    animation: flipInY .3s ease-in;
}
@media(max-width: 1366px){
	ul.wtf-menu li{margin-right:67px;}
	.lower-menu{
		padding: 20px 0px 0px 33px;
	}
	.lower-menu ul li a::before{
		bottom: 7px;
	}
	ul.wtf-menu li.parent  {
		padding:0px 0px 0px 0px;
	}
	.wtf-menu ul.submenu{
		top:30px;
	}
	ul.wtf-menu li a{
		padding: 0px 0px 10px;
	}
}
