.dashboard_menu a.dashboard-dropdown.turn {
	background-color: #f17f01;
}
.mybtn {
	height: 40px;
	line-height: 40px;
}
.role_checkbox > span {
	text-transform: capitalize;


}
.non-editable label.update {
   width: 25% !important;
}
.newfocused label.myprofile {
	font-size: 14px !important;
}
.glyphicon {
    float: right!important;
    font-size: 26px;
    color: #f08001 !important;
}
.students-acoounts-details-point12 .info-field .field-error {
    margin-left: 17% !important;
}
#succss_msg {
	text-align: left;
	font-size: 16px;
}
#succss_msg p:First-child {
	font-weight: 600;
	text-transform: none;
}
#succss_msg p {
	text-align: left;
	display: inline-block;
	padding: 0 5px;
	text-transform: capitalize;
	color: #f08001;
	font-weight: 
}


 /*@media screen and (max-width: 1500px) and (min-width: 1100px) {
}
}
}

.students-acoounts-details-point12 .form-group.info-field > label,
.students-acoounts-details-point   .form-group.info-field > label {
	display: inline-block;
    width: 100%;
}}*/

@media screen and (min-device-width: 320px) and (max-device-width: 768px) { 

	.otp-box .field-error {
		padding-left: 0px !important ;
		top: 50px !important ;
	}

	.non-editable label.update {
		width: 100% !important;
	}
	.newfocused label.myprofile {
	font-size: 14px !important;
	opacity: 1;
    color: #2f2f2f;
    margin-bottom: 0;
    width: 100% !important;
}
.myprofile > input {
    width: 60%!important;
}
}