

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_semibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_semibolditalic';
    src: url('../fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'SegoeUI-Bold';
    src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Bold.woff') format('woff'), url('../fonts/SegoeUI-Bold.ttf')  format('truetype'), url('../fonts/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI-Semibold';
    src: url('../fonts/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Semibold.woff') format('woff'), url('../fonts/SegoeUI-Semibold.ttf')  format('truetype'), url('../fonts/SegoeUI-Semibold.svg#SegoeUI-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI';
    src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI.woff') format('woff'), url('../fonts/SegoeUI.ttf')  format('truetype'), url('../fonts/SegoeUI.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../fonts/opensans-semibolditalic-webfont.eot');
    src: url('../fonts/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibolditalic-webfont.woff') format('woff'),
    url('../fonts/opensans-semibolditalic-webfont.ttf') format('truetype'),
    url('../fonts/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff'),
    url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff'),
    url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.bootstrap-select.btn-group .dropdown-menu li a { text-transform: initial; }


.tab .owl-dots { display: none !important; }

/* banner text */

.nad-home-bannertext{ float: left;}
.Ndml_nad_banner_title1::before{ border: none; content: none;}

.nad-home-title{width: 100%;color: #fff;font-family: 'SegoeUI-Bold';font-weight: bold;margin-top: 0;
    font-size: 65px;line-height: 28px;text-transform: uppercase;}

.nad-home-title2{width: 100%;;color: #f8f7f6;font-family: 'open_sansregular';margin-top: 28px;
 font-size: 35px;line-height: 28px;left: 486px;}

.nad-home-title3{width: 100%;;color: #f8f7f6;font-family: 'SegoeUI-Bold';margin-top: 21px;
 font-size: 50px;line-height: 28px;text-transform: uppercase; text-align: left;}

 .nad-home-register-btn {width: 100%;;color: #f8f7f6; margin-top: 21px;
 font-size: 50px;line-height: 56px;text-transform: uppercase;}

 /*.container-fluid. .nad-home-banner{background: url(../images/banner_imgs/nad-home-banner.png) no-repeat center;
    background-size: cover;
    margin-bottom: 25px;
    min-height: 505px;}*/

.banner .owl-stage-outer .owl-stage > div { margin-top: 60px; max-height: 675px; }

 .banner{width: 100%; float: left; position: relative;margin-bottom: -10px;}
 .nad-home-bannertext {position: absolute;    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 30px;}
 .owl-carousel1{ position: static;}
 .banner-slide{}
 .owl-dots {color: #000;position: absolute;    left: 0;
    right: 0;
    margin: 0 auto;bottom: 30px;}

.readmore{ text-align: center;margin-bottom: 17px;}
.readmore a{color: #f17e01; font-size: 11px; font-family: 'SegoeUI-Bold'; text-decoration: underline;}

.about-cap { margin-top: 30px; }
.about-info{ line-height: 20px;}
.about-title{ margin-top: 17px;}


.spacing{margin: 0 0 54px 0;}
.participant-title{ padding-top: 25px;}
.participant{background: #ebebeb;}
.participant-info {width: 100%;float: left;position: relative;margin: -69px 0 0 0;}
.participant-heading {position: absolute;top: 125px;
    left: 245px;text-shadow: 2px 2px 1px grey;}
.participant-heading h2,h3{ font-family: 'SegoeUI-Bold'; color: #fff;font-size: 40px; text-transform: uppercase;margin: 0 0 -14px 0;}
.participant-para {top: 233px;left: 405px;position: absolute;}
.participant-para p {color:#0b0b0b; font-size: 16px;font-family: 'SegoeUI';margin: 0 0 1px 0; }
.participant-para span{color:#0b0b0b; font-size: 16px;font-family: 'SegoeUI'; display: block; }
.participant-para a.read{color: #f67600; font-size: 16px; font-family: 'SegoeUI-Bold';}
.participant-img img {
    height: 420px;box-shadow: 2px 2px 59px grey;
}




.participant-info1 {width: 100%;float: right;position: relative;margin: -41px 0 31px 0;}
.participant-img1 img{ float: right; height:420px; box-shadow: 2px 2px 59px grey;}
.participant-info1 .participant-heading2{ left:578px;}
.participant-info1 .participant-para1{ left:601px;}
.participant-info1 .participant-para1 .text-right{ text-align: right;}
.participant-info1 .participant-para1 a.read1 {margin: 0 0 0 118px;}
.participant-information{ margin-bottom: 43px;}


/* register */

.register{ width:100%; float: left; background: #ebebeb;padding-bottom: 32px;padding-top: 16px;}
.register .wrapper h2{color: #f08001;font-size:26px; font-family: 'open_sanssemibold';}
.border-bottom {border: 1px solid #000;width: 10%;margin: 0 auto;}
.register .wrapper p{color: #1f1f1f;font-size:1.4em;margin: 18px 0 0 0;font-family:'SegoeUI';}
.register .wrapper span{color: #1f1f1f;font-size:1.4em;font-family:'SegoeUI';display: block;text-align: center;}
.information{ width:100%; float: left;    padding-bottom: 48px; position: relative;}
.register-line {position: absolute;top: 99px;left: 283px; width: 100%;}
.register-info{display: block; margin: 34px 0 0 0px;float: left; padding:0; text-align: center;width: 100%;}
.register-info p.title{color:#1f1f1f;font-size: 1.1em; font-family: 'SegoeUI-Semibold';}
.register-info span.title1{color:#1f1f1f;font-size: 1.1em; font-family: 'SegoeUI-Semibold'; display: block;}
.register-info img{margin: 0 auto; }
a.register-btn {background-color: #052133;color: #fff;display: inline-block;font-size: 18px;height: 50px;
  letter-spacing: 0.5px;line-height: 50px;text-decoration: none;text-transform: uppercase;transition: all 0.4s linear 0s;
  padding: 0 47px;}

  .register1{ background: url(../images/home-nad-register.png) no-repeat; background-size: cover;}
  .register1 .wrapper h2{ color:#fff;}
  .register1 .wrapper p{ color:#fff;}
  .register1 .wrapper span{ color:#fff;}
  .register1 .border-bottom1{width: 7%;border: 2px solid #000;}

  /* form */

  .form{ width:100%; float: left; background: #f1f1f1;}
.contact-border-bottom{border: 2px solid #000;width:7%;margin: 0 auto;}
.form .wrapper h2{color: #f08001;font-size:31px;font-family: 'open_sanssemibold';  text-transform: uppercase;}
.form .wrapper p{color: #0b0b0b;font-size:1em;font-family:'open_sansregular';    margin: 21px 0 0 0;}
.form-text {text-align: center;position: relative;}
.form-text .mandatory1 {color: #f08001;position: absolute;top: 12px;left: 398px;}
.form-text .mandatory2 {color: #f08001;position: absolute;top: 12px;left: 539px;}
 .mobile-text .mandatory3 {color: #f08001;position: absolute;    top: 291px;
    left: 715px;}
.mobile-text .mandatory4 {color: #f08001;position: absolute;top: 15px;left: 392px;}
.mobile-text .mandatory5 {color: #f08001;position: absolute;top: 15px;left: 692px;}
.mobile-text .mandatory6 {top:308px;}



.form-info{ width:100%; float: left; position: relative;}
.form-info .form-text input{margin:0 auto;font-family: 'SegoeUI';color:#b2b2b2; display: block; border:1px solid #f08001;padding: 10px;font-size: 1.2em;width: 580px;margin-bottom: 10px;margin-top: 17px;}
.form-info .text-area{border:1px solid #f08001;padding: 11px 0 63px 10px;
    width: 580px;margin: 11px 0 20px 0; color:#b2b2b2;font-size: 1.2em; font-family: 'SegoeUI'; outline: none;}
.mobile-text {margin-bottom: 30px;text-align: center;}
.mobile-text input{ font-size: 1.2em;font-family: 'SegoeUI';  border:1px solid #f08001;width: 283px;padding:8px 12px;margin: 0 5px 0 8px;color: #b2b2b2;}
/*.mobile-text1 input{ font-size: 1.2em;font-family: 'SegoeUI';  border:1px solid #f08001;width: 283px;
    padding: 9px 0 16px 10px;
    margin: 0 5px 0 20px;color: #b2b2b2;}
.mobile-text1 {
    display: inline-block;}
.mobile-text1 span.mandatory7 {left: 698px;position: absolute;top: 20px;}*/

.submit-button{text-align: center;margin: 3px 0 30px 0;}
.submit-button a{background-color: #052133;color: #fff;display: inline-block;font-size: 18px;
 height: 50px;letter-spacing: 0.5px;line-height: 50px;text-decoration: none;text-transform: uppercase;transition: all 0.4s linear 0s;padding: 0 47px;
    }

 .form-text img.downarrow1 {position: absolute;top: 23px;left: 880px;width: 17px;}
.name {width: 100%;text-align: center;margin-top: 12px;}
.form-info .name .name-info{display: inline-block;margin: 0 -9px 0 5px;}
.form-info .name .name-info input{    font-family: 'SegoeUI';border:1px solid #f08001;width: 283px;    padding: 8px 0 9px 6px;margin: 0 12px 0 14px;color: #b2b2b2; font-size: 1.2em;}
.name-info .mandatory6 {color: #f08001;position: absolute;top: 20px;left: 401px;}
.name-info .mandatory7 {color: #f08001;position: absolute;top: 20px;left: 692px;}
.name-info img.downarrow2 {position: absolute;top: 35px;left: 590px;width: 17px;}


a.view-all-button {
    text-align: right;
    background: #db7605;
    padding: 8px 30px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
}

a.view-all-button:hover {
    color: #db7605;
    background: #fff;
}

/* slider */
.slider{ width:100%; float: left; background: #f1f1f1;margin-top: 20px;    padding-bottom: 25px;}
.slider-info{ width:100%; float: left;    margin-bottom: 20px;}
.slider-info .slider1{ margin : 0 0 25px 70px; /*float: left; margin: 0 0 25px 121px;*/}

.owl-carousel .owl-prev{display:block;padding: 48px 22px;top: 15%;left: -3%;background: url(../images/slider-imags/home-left-arrow.png) no-repeat  4px 36px;}

.owl-carousel .owl-next {
    background:  url(../images/slider-imags/home-right-arrow.png) 8px 36px no-repeat;top: 15%;position: absolute;
    right: -40px;width: 21px;height: 50px;padding: 48px 22px; display: block;}

/* .slider1 p{color: #1f1f1f;font-size: 22px;font-family: 'SegoeUI-Semibold';margin: 37px 0 1px 0; text-align: center;}

 .slider1 span{color: #1f1f1f;font-size: 22px;font-family: 'SegoeUI-Semibold';margin: 0 0 1px 4px; text-align: center;} */

 .item p{color: #1f1f1f;font-size: 22px;font-family: 'SegoeUI-Semibold';margin: 37px 0 1px 0; text-align: center;}

 .item p > span{ display: block; color: #1f1f1f; font-size: 22px;font-family: 'SegoeUI-Semibold';margin: 0 0 1px 4px; text-align: center;}




.scrolling{ width:100%; float: left; background: #c2c2c2; padding: 5px 0;    position: absolute; overflow: hidden;
    /* top: 767px; */
    opacity: 1;
    top: initial;
    bottom: 10px;
    margin-bottom: 0;}
.scrolling p{color:#1f1f1f;font-family: 'SegoeUI';font-size: 16px; display: inline;}
.scrolling span{ color:#f07f01;font-family: 'SegoeUI';font-size: 16px; }


/* another tabs */

 div.tab {float: left;margin: 0 0 0 19px;}
.tablinks{ border:none; outline: none;}
/* Style the buttons inside the tab */
div.tab button {background-color: #fff;float: left;cursor: pointer;/*padding: 14px 58px;*/ padding: 14px 28px;
 transition: 0.3s;color: #8c221d;font-size: 20px; width: 100%;}

/* Change background color of buttons on hover */
div.tab button:hover {background-color: #fff;}

/* Create an active/current tablink class */
.tab .owl-item{
    border-bottom: 2px solid #f08001;
    /*border-top: 2px solid #f08001;*/
    /*border-right: 2px solid #f08001;*/
    /*border-left: 2px solid #f08001;*/
    /*border-top-left-radius: 0.5em;*/
    /*border-top-right-radius: 0.5em;*/
    /*border-bottom-color: #fff;    */
    font-weight: bold;}
button.tablinks {border: 2px solid transparent;}

.tab .current-active {
     border-top: 2px solid #f08001;
    border-right: 2px solid #f08001;
    border-left: 2px solid #f08001;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    border-bottom-color: #fff;
    border-bottom-left-radius: 0.355em;
    border-bottom-right-radius: 0.355em;
}

.tab.owl-carousel .owl-dots .owl-dot span{display: none;}

/* Style the tab content */
.tabcontent {display: none;padding: 6px 12px;border-top: none; width:100%; float: left;margin-top: 23px;}
.tabcontent p{ color:#1f1f1f;font-family: 'SegoeUI';font-size: 20px;}
.news-title{margin: 0 0 33px 0;}
div#nov {display: block;}

.about-title:before{width: 7%;
    border: 2px solid #000;}
    .participant-title:before{width: 7%;
    border: 2px solid #000;}


/* accordian menu / tabs */
.accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f078";
    float: right;
}
.accordion-opened .accordion-toggle:after {
    content: "\f054";
}



.month{ display: none;}

#mysubscribeModal h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#mysubscribeModal .close.close-button { color: #23527c; }


.tab.owl-carousel .owl-next{    /*right: 1px;*/     right: 0;
    top: 8px;
    padding: 11px 21px;
    background: url(../images/next_arrow_new.png) no-repeat #db7605 6px 11px;}

.tab.owl-carousel .owl-prev{top: 8px; /*left: 0px;*/ left:0;
    padding: 11px 21px;
    background: url(../images/prev_arrow_new.png) no-repeat #db7605 6px 11px;}


/*.dropdown-nad {
    padding: 10px 106px;
    font-family: 'SegoeUI';
    border: 1px solid #f08001;
    color: #b2b2b2;
    font-size: 1.2em;
}*/

.name-info .dropdown-nad{/*padding: 11px 8px;*/     padding: 8px 9px 7px 11px;font-family: 'SegoeUI';
    border: 1px solid #f08001;
    color: #b2b2b2;
    font-size: 1.2em;background:#fff!important;    margin: -5px 0 0 0; }

.dropdown-nad > .btn-default{ border: 0px!important;}

.dropdown-nad { width: 285px !important; }


.form-text .dropdown-nad1{padding: 11px 8px;font-family: 'SegoeUI';
    border: 1px solid #f08001;
    color: #b2b2b2;
    font-size: 1.2em;background:#fff!important;     margin-top: 17px;}

    .dropdown-nad1 { width: 581px !important; }

    .dropdown-nad1 > .btn-default{ border: 0px!important;}

    .newnadborder{ border:1px solid #d7d7d7;}

    ::-webkit-input-placeholder {
 color: #b2b2b2;
 }

 .diblock {
    display: inline-block;
    position: relative;
 }

 .dropdown-nad1 { margin-bottom: 15px;}

 #category_error,
 #query_error { bottom: 0;     left: 87px; }

  #query_error { bottom: 8px;}

 #name_error { left: 13px; }

 #c_email_id_error,
 #mobno_error { margin-left: 8px;}

 .error-focused, .error-focused + input { border-bottom-color: #f08001; }

.dropdown-nad span{color: #b2b2b2;}
.dropdown-nad1 span{color: #b2b2b2;}

.name-info { position: relative; }

.form-info .field-error {
    position: absolute;
    left: 0;
    bottom:-20px;
}

.form .col-md-7 {
        margin: auto;
    float: none;
}

.name { margin-bottom: 15px;}


/*.mobile-text1 ::-webkit-input-placeholder { padding: 2px 0 0 0; }*/

div.tab { margin-left: 0;}

@media screen and (max-width: 320px) {
    .tab .current-active,
    .tab .owl-item { border-color: transparent;}

     .tab .owl-item button {   border-bottom: 2px solid #f08001; float: right;}

     .tab .current-active button {
            border-top: 2px solid #f08001;
    border-right: 2px solid #f08001;
    border-left: 2px solid #f08001;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    border-bottom: 0;
     }

     .tab .owl-item.current-active button { /*width: 80%;*/ width:73%; float: left;}

     .tab .owl-item button {   width: 100%; }

      .tab .owl-item.current-active{   margin-left: -4px;margin-right: 5px !important;}

      .tab button.tablinks{ width: 117px;}
    .tab.owl-carousel .owl-controls .owl-next{ right:-21px !important; top:16px;}

}

@media screen and (max-width: 1366px) {

/*.tab .owl-item.active.current-active{ width:92px !important;}*/

div.tab button {background-color: #fff;float: ;font-size: 19px;padding: 14px 0px;transition: 0.3s;color: #8c221d;font-size: 14px;
}

.tab.owl-carousel .owl-controls .owl-next{ right:0;top: 3px;}

}

@media screen and (max-width: 360px){
/*.tab .owl-item.active.current-active {width: 97px !important;}*/
.tab.owl-carousel .owl-controls .owl-next{ right:-21px !important; top:16px;}

}



.dummy-placeholder {
    position: absolute;
    top: 9px;
    left: 20px;
    color: #b2b2b2;
    font-size: 1.2em;
}

.wrapper { width: 1315px; }

.register.register1 { text-align: center; }

