
@media (max-width: 1600px){


}

@media (max-width: 1366px){

}



@media (max-width: 768px){

.wrapper{ width:100%;}
.invoice-infodate #from_date_error{ left:0px; text-align: left; width: 100%;}
.invoice-infodate #to_date_error {left:0px;text-align: left;width: 100%;bottom: -20px;top: initial; position:static;
}
.invoice-dropdown{margin: 0;width: 100%;float: left;}
.invoice-info .invoice-downloaded{display: block; width: 100%; float: none;}
.invoice-info .invoice-downloaded1{display: block; width: 100%; float: none;}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {width: 100%;}
span.col-md-5.col-xs-12.text-right.filter_title.invoice-title22{margin: 22px 0 0 0; text-align: left;width: 100%;    padding-left: 0;
 float: left;}
span.invoice-title{ width:100%;}
.invoice-field .invoice-label{  width:100%; display: block;margin-bottom: -21px; text-align: left;}
.invoice-field .invoice-label1{ width: 100%; display: block;text-align: left; margin:52px 0 -20px 0;}
.invoice-field{ width: 100%; display: block; margin: 0;}
.invoice-info{width: 100%;margin: auto;}
.form-group.info-field.dob.invoice-dob{ margin:12px 0 0 0; width: 100%;}
.date-picker{width: 30%;margin: 44px auto;}
.invoice-infodate {width: 100%;margin: 19px auto;}
.invoice-date{ width: 100%;}
.col-md-6.col-sm-6.col-xs-12.text-left.no_pad.invoice-title2{ width:100%;}
.invoice-table .invoiceno{padding-left: 152px !important;}
.invoice-table .successful{padding-left: 64px !important;}
.invoice-submit  {
    margin: 25px 0 30px -4px;
   
}
.invoice-submit a{ width:139px;
    display: inline-block;margin: 24px auto;}

}

@media (max-width: 414px){
.invoice-table {margin: 25px auto;}
.invoice-dropdown{ margin:0 0 0 -1px;}
.no_pad.invoice-downloaded{ width:100%;}
span.invoice-title{ width:100%; text-align: left;}
.invoice-infodate{ margin:0; width:100%;}
.invoice-field .invoice-label1{ margin: 0;}
.invoice-downloaded {width: 100%;float: left;}
.no_pad.invoice-downloaded1 {width: 100%;float: left;}
span.col-md-5.col-xs-12.text-right.filter_title.invoice-title22{margin: 17px 0 0 1px; width:100%; text-align: left;}
.invoice-field{margin: 0 0 0 0; width:100%;}
.btn-group.bootstrap-select.custom-select.client-dropdown.invoice-dropdown{}
.invoice-field .invoice-label{display: block;font-size: 18px;text-align: left;margin: 10px 0 0 0;}
.invoice-field .invoice-label1{display: block;font-size: 18px;text-align: left;margin: 26px 0 0 0;}
.invoice-field .invoice-dob1{width: 100%;margin: 0 0 31px 0;}
.invoice-field .invoice-dob{ width:100%;margin: 0 3px 34px 0;}
.invoice-date{ width: 100%;}
.nadinvoice-container .titlecontct{font-size: 27px;}
.invoice-infodate #to_date_error {left: 0px;text-align: left; width: 100%;bottom:-25px;}
.invoice-infodate #from_date_error {left: 0px;text-align: left; width: 100%;top: 39px;}
.invoice-info{ margin:0; width: 100%;}
.invoice-downloaded1 .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width: 100%;}
.invoice-downloaded .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width: 100%;}
.date-picker{ width: 100%;}
.invoice-submit  {
    margin: 25px 0 30px -4px;
   
}
.invoice-submit a{ width:139px;
    display: inline-block;margin: 24px auto;}
}

@media (max-width: 375px){
.invoice-table {margin: 25px auto;}
.invoice-dropdown{ margin:0 0 0 0;}
.no_pad.invoice-downloaded{ width:100%;}
span.invoice-title{ width:100%; text-align: left;}
.invoice-infodate{ margin:0; width:100%;}
.invoice-field .invoice-label1{ margin: 0;}
.invoice-downloaded {width: 100%;float: left;}
.no_pad.invoice-downloaded1 {width: 100%;float: left;}
span.col-md-5.col-xs-12.text-right.filter_title.invoice-title22{margin: 17px 0 0 1px; width:100%; text-align: left;}
.invoice-field{margin: 0 0 0 0; width:100%;}
.btn-group.bootstrap-select.custom-select.client-dropdown.invoice-dropdown{}
.invoice-field .invoice-label{display: block;font-size: 18px;text-align: left;margin: 10px 0 0 0;}
.invoice-field .invoice-label1{display: block;font-size: 18px;text-align: left;margin: 18px 0 0 0;}
.invoice-field .invoice-dob1{width: 100%;margin: 0 0 31px 0;}
.invoice-field .invoice-dob{ width:100%;margin: 0 3px 34px 0;}
.invoice-date{width: 100%;}
.nadinvoice-container .titlecontct{font-size: 27px;}
.invoice-infodate #to_date_error {left: 0px; text-align: left; width: 100%;bottom: -23px;}
.invoice-infodate #from_date_error {left: 0px;top: 39px;text-align: left;width: 100%;}
.invoice-info{margin:0; width: 100%;}
.invoice-submit  {
    margin: 25px 0 30px -4px;
   
}
.invoice-submit a{ width:139px;
    display: block;margin: 24px auto;}
/*.invoice-form .select-master-data.dashboard_responsive_table table tr td.invoiceno{ text-align: center;}*/
}

@media (max-width: 360px){
.invoice-table {margin: 25px auto;}
.invoice-dropdown{ margin:0 0 0 -4px;}
.no_pad.invoice-downloaded{ width:100%;}
span.invoice-title{ width:100%; text-align: left;}
.invoice-infodate{width:100%;}
.invoice-field .invoice-label1{ margin: 0;}
.invoice-downloaded {width: 100%;float: left;}
.no_pad.invoice-downloaded1 {width: 100%;float: left;}
span.col-md-5.col-xs-12.text-right.filter_title.invoice-title22{margin: 17px 0 0 1px; width:100%; text-align: left;}
    
.invoice-field{ width:100%;}
.btn-group.bootstrap-select.custom-select.client-dropdown.invoice-dropdown{ text-align: left;}
.invoice-field .invoice-label{font-size: 18px;text-align: left; width:100%;}
.invoice-field .invoice-dob{width: 100%;margin: 13px 0 0 -32px;}
.invoice-field .invoice-label1{display: block;font-size: 18px;text-align: left;margin: 31px 0 0 0;}
.invoice-field .invoice-dob1{width: 100%;margin: 0 0 19px -32px;}
/*.invoice-table .invoiceno{padding:15px 0 0 0px; text-align: center;}*/
/*.invoice-table .successful{ padding: 15px 0 0 0px;text-align: center;}*/
/*.invoice-form .select-master-data.dashboard_responsive_table table tr td {width: 17%;text-align: center;/*padding: 20px 0 20px 23px;*/}*/
.invoice-date{ width:100%;}
.nadinvoice-container .titlecontct{font-size: 27px;}
.invoice-infodate #from_date_error {left: 0px; top:38px; width: 100%; text-align: left;}
.invoice-infodate #to_date_error {left: 0px;top: initial;width: 100%; text-align: left;bottom: -23px;}
.invoice-info{ margin:0; width:100%;}
.invoice-downloaded .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;}
/*.invoice-downloaded1 .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;}*/
.invoice-infodate .field-error{left:0;}
.date-picker{width: 100%;}

/*.invoice-submit a{ width:139px;display: block;margin: 24px auto;}*/

}

@media (max-width: 320px){
.invoice-field .invoice-label1{margin: 48px 0 0 0;}
}