
@media (max-width: 1920px){
.owl-carousel .owl-item img{ width: auto;}
.banner-info .owl-carousel .owl-item img{ width: 100%;}
/* .scrolling{ top:924px;} */
.banner .owl-carousel1 .owl-dots{bottom: 40px; }
/* .nad-home-bannertext{top: 611px;} */



}


@media (max-width: 1600px){

/* .scrolling {top: 766px;}  */
.banner .owl-carousel1 .owl-dots {bottom: 40px;left: 0;
    right: 0;
    margin: 0 auto;}
/* .nad-home-bannertext {top: 500px;} */
}



@media (max-width: 1366px){
.owl-dots{ left:634px;}
.form-text img.downarrow1{ top:21px; left:887px;}
.register1 .wrapper h2{letter-spacing: 3px;}
.slider1 span{margin: 0 0 1px 0px;}
.spacing {margin: 0 0 57px 0;}
.participant-para a.read{ font-size: 16px;}
button.tablinks {border: 2px solid transparent;}
.participant-img img{box-shadow: 2px 2px 59px grey;}
.participant-img1 img{box-shadow: 2px 2px 59px grey;}
.participant-heading{text-shadow: 2px 2px 1px grey;}
/* .scrolling {top: 648px;} */
.owl-carousel1 .owl-dots {bottom: 30px;left: 625px;}
.participant-info1 .participant-para1 a.read1 {margin: 0 0 0 122px;}
.tab.owl-carousel .owl-next{ right:0px; top:3px;}
div.tab button {
background-color: #fff;
float: ;
font-size: 19px;
padding: 14px 48px;
transition: 0.3s;
color: #8c221d;
font-size: 14px;
}
a.register-btn{margin: 0 0 0 0;}
/* .name-info .mandatory7 {top: 20px;left: 694px;} */


/* .nad-home-bannertext{ top:381px;} */
.owl-dots {bottom: 30px;}
.participant-info{margin: -16px 0 0 0;}
.slider-info .slider1{ margin: 0 0 50px 80px;/* margin: 0 0 50px 139px;*/}
.banner .owl-carousel1 .owl-dots{ bottom: 40px;left: 0; right:0; margin: 0 auto;}
/*.tab .owl-item.active.current-active{ width:169px !important;}*/
.banner .owl-carousel1 .owl-dots {bottom: 40px;left: 0;
    right: 0;
    margin: 0 auto;}
.owl-carousel .owl-next{right: -46px;}
.slider .owl-carousel .owl-next { right: 0; }
.slider .owl-carousel .owl-prev { left: 0; }
.tab.owl-carousel .owl-prev,
.tab.owl-carousel .owl-next{ top:3px;}
}


@media (max-width: 1024px){
.owl-dots{ left: 475px;}
.wrapper, .footer-links .wrapper, .below-footer .wrapper { width:100%;}
.participant-heading h2, h3{ font-size: 32px;}
.participant-info1 .participant-heading2{left: 417px;}
.participant-info1 .participant-para1 {left: 368px;}
.participant-heading{left: 280px;}
div.tab button{padding: 14px 51px; font-size: 15px;}
.slider-info .slider1{margin: 0 0 49px 75px;}
.owl-carousel .owl-prev{ left:2%;}
.owl-carousel .owl-next{right: 15px;}
.register-line{ display: none;}
a.register-btn{ margin:0 0 0 0;}
/* .name-info .mandatory6{ left: 284px;} */

.name-info img.downarrow2{ left:479px;}
/* .name-info .mandatory7{ left:583px;} */
/* .form-text .mandatory2{ left:425px;} */
.form-text img.downarrow1{left: 775px;}
.mobile-text .mandatory3{left: 597px;
top: 66%;}
}

@media (max-width: 768px){

  .banner .owl-stage-outer .owl-stage > div { margin-top: 0; }


}


@media (max-width: 736px){

  body { overflow-x: hidden; }

  /*.banner .owl-stage-outer .owl-stage > div { margin-top: 0; }*/

  .tab .owl-dots { display: block !important; }

#c_email_id_error { bottom: 0; margin-left: 0; }

.form-info .name .name-info { margin-bottom: 10px; }

#category_error,
#query_error { left: 3px; }

#name_error{     left: -5px; }

.form-info {
     width: 82%;
    float: left;
    position: relative;
    margin: auto;
    float: none;
}

.form-info .text-area,
.mobile-text input { width: 292px; }

.form-info .name .name-info,
.form-info .name .name-info input { margin-left: 0; }

.field-number-two .dummy-placeholder {
  left: 6px;
  top: 26px;
}

.last-field .dummy-placeholder { left: 10px; }


}

@media (max-width: 667px){


}


@media (max-width: 640px){



}

@media (max-width: 568px){



}



@media (max-width: 480px){



}

@media (max-width: 414px){

}


@media (max-width: 480px){
.owl-carousel .owl-item img{ width:100%;}
.banner{margin-top: 91px;}

.about-title::before {
    width: 19%;
    border: 2px solid #000;}
.participant-title::before { width: 19%;}
.participant-img img {width: 73%;height: auto;}
.participant-img1 img{ width:73%; height:auto}
.participant-info{margin: -20px 0 81px 0;}
.participant-heading h2, h3{ font-size: 21px;padding: 0 0 4px 0;}
.participant-heading{ left:147px; top:68px;}
.participant-para {
    top: 112px;
    left: 46%;}
.participant-para p{ font-size: 14px;}
.participant-para span{ font-size: 14px;}
.participant-heading2 {left: 23px;}
.participant-para1 {left: -12px;}
.participant-info1 .participant-heading2{ left:30px;}
.participant-info1 .participant-para1{ left:10%;}
.participant-info1{margin: -41px 0 99px 0;}
.participant-title{ font-size: 24px;}
.participant-title1{ font-size: 24px;}
.participant-title2{ font-size: 24px;}
.about-title{ font-size: 24px;}
.register1 .border-bottom1{ width: 21%;}
.contact-border-bottom{ width:21%;}
.form-info .name .name-info input{margin: 17px 7px -2px -4px; width:293px;}
/* .name-info .mandatory6 {left: 28%; top:3%;} */
.name-info .mandatory7 {left: 25%;
top: 14%;}
.form-info .form-text input{ width:80%;}
.form-text .mandatory2 {left: 236px;}
/* .form-info .text-area{ width:80%;} */
.mobile-text input{  margin:0 5px 22px 0;}
.participant-heading3 h2{     line-height: 18px; margin: 0 0 -7px -63px;}
.participant-heading3 h3{     line-height: 18px; margin: 0 0 3px -63px; left: 126px;}
.para2 p, span{ font-size: 14px;}
.para2{ width:100%;    left: 26%;
    top: 46%;}
/*div.tab{ width:100%;}
div.tab button.active{ border:none;}
div.tab button{margin: 0 0 0 77px;}*/
.owl-carousel .owl-item img{width: 70%;
    margin: auto;}
.banner{margin-top: 91px;}
.owl-dots{ left: 38%; top:68%;}
.participant-para a.read{margin: 0 0 0 91px;
    font-size: 14px;}
    .participant-info1 .participant-para1 a.read1{    margin: 0 0 0 -34px;}
.para2 a.read3{margin:0 0 0 160px;}
.slider1 span{margin: 0 0 1px 17px; display: block;}
.register1{ background-size: cover;}
.name-info img.downarrow2 {
    left: 289px;
}
.form-text img.downarrow1 {left: 288px;}
/* .mandatory{ display: block;} */
/*.tab{ display: none;}*/
/*.tabcontent p{ display: none;}*/
.owl-carousel .owl-prev {left: 5%;}
.nad-home-bannertext{
left: 5%;}
.nad-home-title{ font-size: 13px; left: 11%;}
.nad-home-title2{ font-size: 13px; left: 11%;margin-top: -6px;}
.nad-home-title3{ font-size: 13px; margin-top: -5px;}
.nad-home-title{ margin-left: 0;}
.slider-info .slider1{margin: 0;}

.mobile-text .mandatory3 {left: 31%;top: 71%;}
.scrolling{ top:initial;}
.register .wrapper h2{ font-size: 24px;}
.form .wrapper h2{ font-size: 24px;}
.nad-home-title{ font-size: 20px;}
.nad-home-title3{ font-size: 20px; }
/* .nad-home-bannertext{  left:-4%;} */
a.register-btn {margin: 0 0 0 0;}
/*.tab.owl-carousel .owl-prev{ left:-38px;}*/
/*.tab.owl-carousel .owl-next{ right:-1px;}*/
div.tab button{padding: 14px 116px;}
.dropdown-nad1 {width: 291px !important;}
.name-info input {margin: 11px 5px -2px 8px;}
/*.tab .owl-item.active.current-active{ width:114px !important;}*/
div.tab button {padding: 14px 0px;font-size: 12px;}
 div#sep{ display: block;}
 .dropdown-nad {width: 292px !important;}
/*.tab .owl-item.cloned{ width:173px !important;}*/
.owl-carousel .owl-next{ right:3px;}
.register-line{ display: none;}
.name-info .dropdown-nad{margin: 0 10px 0 0;}
.banner .owl-carousel1 .owl-dots{left: 0px; right:0; margin:0 auto;}

/*.tab .owl-item.active { width: 50% !important; }*/
.tab.owl-carousel .owl-next{background:url(../images/next_arrow_new.png) no-repeat #db7605 8px 3px;background-size: 22px;}

.tab.owl-carousel .owl-next{width: 25px;height: 30px;}
.tab.owl-carousel .owl-prev{width: 25px;height: 30px;}
.tab.owl-carousel .owl-prev{ background: url(../images/prev_arrow_new.png) no-repeat #db7605 6px 3px;background-size: 22px;}
.tab.owl-carousel .owl-prev{left: -20px;top: 17px;}
.tabcontent p{ font-size: 15px;}
.tab.owl-carousel .owl-next{ right:-21px; top:16px;}
div.tab button{width: 98%;margin: auto;}

.tab.owl-carousel .owl-controls .owl-next {
    right: -20px;
    top: 16px;
}

}

@media (max-width: 375px) {
  .tab.owl-carousel .owl-controls .owl-next,
  .tab.owl-carousel .owl-prev {
    top: 10px;
  }

  .field-number-two .dummy-placeholder { top: 25px; }

  .bootstrap-select.btn-group .dropdown-toggle .filter-option {     font-size: 1.2em; }

  .last-field + div .dummy-placeholder { left: 10px; }

  #c_email_id_error {
    bottom: -20px;
    text-align: left;

  }
}


@media (max-width: 360px) {
  .banner .owl-stage-outer .owl-stage > div { margin-top: 60px;
    .register-line{ display: none;}
  }
.scrolling{top: initial; bottom: 10px; position: static;}
.about-title::before {
    width: 19%;
    border: 2px solid #000;}
.participant-title::before { width: 19%;}
.participant-img img {width: 73%;height: auto;}
.participant-img1 img{ width:73%; height:auto}
.participant-info{    margin: -21px 0 81px 0;}
.participant-heading h2, h3{ font-size: 21px;padding: 1px 0 4px 0;}
.participant-heading{ left:147px; top:68px;}
.participant-para {
    top: 112px;
    left: 46%;}
    .participant-para p{ font-size: 14px;}
.participant-para span{ font-size: 14px;}
.participant-heading2 {left: 23px;}
.participant-para1 {left: -12px;}
.participant-info1 .participant-heading2{ left:30px;}
.participant-info1 .participant-para1{ left:10%;}
.participant-info1{margin: -41px 0 99px 0;}
.participant-title{ font-size: 24px;}
.participant-title1{ font-size: 24px;}
.participant-title2{ font-size: 24px;}
.about-title{ font-size: 24px;}
.register1 .border-bottom1{ width: 21%;}
.contact-border-bottom{ width:21%;}
.form-info .name .name-info input{margin: 0 5px 25px 8px;}
.name-info .mandatory6 {left: 27%; top:22px;}
.name-info .mandatory7 {left: 26%;
top: 87px;}
.form-info .form-text input{ width:80%;}
.form-text .mandatory2 {left: 236px;}
.form-info .text-area{ width:100%;}
.mobile-text input{ margin:0 5px 22px 0;}
.participant-heading3 h2{ font-size: 15px;margin: 0 0 -10px -63px;}
.participant-heading3 h3{ font-size: 15px;margin: 0 0 3px -63px; left: 126px;}
.para2 p, span{ font-size: 14px;}
.para2{ width:100%;    left: 26%;
    top: 46%;}
/*div.tab{ width:100%;}
div.tab button.active{ border:none;}
div.tab button{margin: 0 0 0 77px;}*/
.owl-carousel .owl-item img{ width:100%;}
.banner{margin-top: 25px;}
/*.owl-dots{ left: 37%; top:67%;}*/
.participant-para a.read{margin: 0 0 0 91px;
    font-size: 14px;}
    .participant-info1 .participant-para1 a.read1{    margin: 0 0 0 -34px;}
.para2 a.read3{margin:0 0 0 160px;}
.slider1 span{margin: 0 0 1px 17px; display: block;}
.register1{ background-size: cover;}
.name-info img.downarrow2 {
    left: 289px;
}
.form-text img.downarrow1 {left: 288px;}
/* .mandatory{ display: block;} */
/*.tab{ display: none;}*/
/*.tabcontent p{ display: none;}*/
.owl-carousel .owl-prev {left: 5%;}
/* .nad-home-bannertext{
left: 2%;} */
.nad-home-title{ font-size: 13px; left: 11%;}
.nad-home-title2{ font-size: 13px; left: 11%;margin-top: -6px;}
.nad-home-title3{ font-size: 13px;  margin-top: -2px;}
.nad-home-title{ margin-left: 0;}
.slider-info .slider1 {margin: 0 auto; width: 50%;}
.item p {margin: 15px 0 1px 0;}
.mobile-text .mandatory3 {left: 113px;top: 72%;}

.register .wrapper h2 {font-size: 24px;}
.form .wrapper h2 {font-size: 24px;}
.nad-home-title{ font-size: 20px;}
.nad-home-title3{ font-size: 20px; text-align: left; }
/* .nad-home-bannertext{ left:-4%;} */
a.register-btn {margin: 0 0 0 0;}

.form-info .name .name-info input{ width:279px; margin: 27px 5px -1px -6px;}
.dropdown-nad1 {width: 100% !important;}
.dropdown-nad {width: 280px !important;}



/*.tab.owl-carousel .owl-prev{ left:-39px; top:1px;}*/
/*.tab.owl-carousel .owl-next{ right:-27px; top:17px;}*/
 div#sep{ display: block;}
.tabcontent #feb{ display: none;}
.tabcontent #nov{ display: none;}
/*.tab .owl-item.cloned{ width:166px !important;}*/
/*.tab .owl-item.active.current-active{ width:98px !important;}*/
div.tab button {padding: 14px 0px;font-size: 12px;}
.banner .owl-carousel1 .owl-dots{left: 0px; right:0; margin:0 auto;
top: 80%;}
.owl-theme .owl-controls {
    margin-top: 0px;
    text-align: center;
}
button.tablinks {border: 2px solid transparent;}
/*.tab .owl-item{ width:98px !important;}*/
.tab.owl-carousel .owl-next{background:url(../images/next_arrow_new.png) no-repeat #db7605 8px 3px;background-size: 22px;}

.tab.owl-carousel .owl-next{width: 25px;height: 30px;}
.tab.owl-carousel .owl-prev{width: 25px;height: 30px;}
.tab.owl-carousel .owl-prev{ background: url(../images/prev_arrow_new.png) no-repeat #db7605 6px 3px;background-size: 22px;}
.tab.owl-carousel .owl-prev{left: -20px;top: 10px;}
.tabcontent p{ font-size: 15px;}
.tab.owl-carousel .owl-next{ right:-21px; top:16px;}
div.tab button{width: 95%;margin: auto;}

.field-number-two .dummy-placeholder { top: 35px; }

.bootstrap-select.btn-group .dropdown-toggle .filter-option {     font-size: 1.2em; }

.last-field + div .dummy-placeholder { left: 10px; }

#c_email_id_error {
    bottom: -20px;
    text-align: left;

  }

}

@media (max-width: 320px){
.name-info .mandatory6 {left: 77px;}
.name-info .mandatory7 {left: 69px;top: 87px;}
.name-info img.downarrow2 {left: 269px;}
.form-info .form-text input {width: 91%;}
.form-text .mandatory2 {left: 215px;}
.form-text img.downarrow1{ left:267px;}
.form-info .text-area{ width:91%;}
/* .mobile-text input{ width:91%;} */
.mobile-text .mandatory3{ left:29%; top:71%;}

.slider1 span{margin: 0 0 1px -2px;}
.participant-heading{top:56px; left:126px;}
.participant-para{top:42%;}
.participant-para a.read {
    margin: 0 0 0 81px;
    font-size: 12px;
}

.para2 p, span {
    font-size: 14px;
}
.para2{ top:44%; left:13%;}
.participant-heading3{ left: 36%;}
.para2 a.read3{margin: 0 0 0 174px;}
.participant-title2 {font-size: 14px;}
.slider-info .slider1 {margin: 0 0 49px 72px;}
.scrolling {top: initial; bottom: 10px; position: static;}
.participant-title {font-size: 23px;}
.titlecontct.about-title {font-size: 24px;}
.participant-title1 {font-size: 24px;}
.register .wrapper h2 {font-size: 23px;}
.form .wrapper h2 {font-size: 24px;}
.nad-home-title{ font-size: 20px;}
.nad-home-title3{ font-size: 20px; text-align: left; }
/* .nad-home-bannertext{ left:-5%;} */
a.register-btn {margin: 0 0 0 0;}

.form-info .name .name-info input{ width:282px; margin: 27px 1px -3px -10px;}
.dropdown-nad1 {width: 91% !important;}

/*div.tab button {padding: 14px 15px;font-size: 10px;}*/
/*.tab.owl-carousel .owl-prev{ left:-38px;}*/
/*.tab.owl-carousel .owl-next{ right:-1px;}*/
/*.tab .owl-item.active.current-active{ width:80px !important;}*/
 div#sep{ display: block;}
/*.tab .owl-item.active.current-active{ width:68px !important;}*/
div.tab button {padding: 14px 0px;font-size: 12px;}
/*.tab .owl-item.cloned {width: 154px !important;}*/

.banner .owl-carousel1 .owl-dots {    left: 0;
    /* top: 68%; */
    right: 0;
    margin: 0 auto;}
button.tablinks {border: 2px solid transparent;}
.tab.owl-carousel .owl-next{background:url(../images/next_arrow_new.png) no-repeat #db7605 8px 3px;background-size: 22px;}

.tab.owl-carousel .owl-next{width: 25px;height: 30px;}
.tab.owl-carousel .owl-prev{width: 25px;height: 30px;}
.tab.owl-carousel .owl-prev{ background: url(../images/prev_arrow_new.png) no-repeat #db7605 6px 3px;background-size: 22px;}
.tab.owl-carousel .owl-prev{left: -20px;top: 17px;}
.tabcontent p{ font-size: 15px;}
.tab.owl-carousel .owl-next{ right:-21px; top:16px;}
/*div.tab button{width: 98%;margin: auto;}*/


}
