
@media (max-width: 1600px){


}

@media (max-width: 1366px){
.invoice-submit {
text-align: center;
margin: 64px 0 30px -32px;
}

}

@media (max-width: 767px){
    .invoice-title2{
        width:100%;
    }
}

@media (max-width: 414px){
    .invoice-submit a{ width:139px;
    display: block;margin: 24px auto;}
}


@media (max-width: 375px){

    .invoice-table {margin: 25px auto;}
    /*.invoice-form .select-master-data.dashboard_responsive_table table tr td {width: 281px;}*/
        .invoice-dropdown{ margin:0 0 0 0;}
        .no_pad.invoice-downloaded{ width:100%;}
    span.invoice-title{ width:100%; text-align: left;}
    .invoice-infodate{ margin:0; width:100%;}
    .invoice-field .invoice-label1{ margin: 0;}
    .invoice-downloaded {width: 100%;float: left;}
    .no_pad.invoice-downloaded1 {width: 100%;float: left;}
    span.col-md-5.col-xs-12.text-right.filter_title.invoice-title22{margin: 17px 0 0 -20px; width:100%; text-align: left;}
    /*.invoice-infodate .form-group.info-field.dob.invoice-dob.invoice-dob1{ width:85%;}*/
    .invoice-field{    margin: 0 0 0 0; width:100%;}
    .btn-group.bootstrap-select.custom-select.client-dropdown.invoice-dropdown{
    }
    .invoice-field .invoice-label{display: block;
        font-size: 18px;
        text-align: left;
        margin: 10px 0 0 0;}
    /*.invoice-field .invoice-dob{width: 100%;margin: 13px 0 0 88px;}*/

    .invoice-field .invoice-label1{display: block;
        font-size: 18px;
        text-align: left;
        margin: 10px 0 0 0;}
    .invoice-field .invoice-dob1{width: 100%;
    margin: 0 0 31px 0;}
.invoice-field .invoice-dob{ width:100%;margin: 0 3px 34px 0;}
.invoice-date{ width: 100%;}
.invoice-submit  {
    margin: 25px 0 30px -4px;
   
}
.invoice-submit a{ width:139px;
    display: block;margin: 24px auto;}

}


@media (max-width: 360px){
  .invoice-table {margin: 25px auto;}

    .invoice-dropdown{ margin:0 0 0 0;}
    .no_pad.invoice-downloaded{ width:100%;}
    span.invoice-title{ width:100%; text-align: left;}
    .invoice-infodate{width:100%;}
    .invoice-field .invoice-label1{ margin: 0;}
    .invoice-downloaded {width: 100%;float: left;}
    .no_pad.invoice-downloaded1 {width: 100%;float: left;}
    span.col-md-5.col-xs-12.text-right.filter_title.invoice-title22{margin: 17px 0 0 -17px; width:100%; text-align: left;}
    /*.invoice-infodate .form-group.info-field.dob.invoice-dob.invoice-dob1{ width:85%;}*/
    .invoice-field{margin: 0 0 25px 27px; width:100%;}
    .btn-group.bootstrap-select.custom-select.client-dropdown.invoice-dropdown{ text-align: left;
    }
    .invoice-field .invoice-label{font-size: 18px;text-align: left;margin: 26px 0 -15px -24px; width:100%;}
    /*.invoice-date {width: 100%;margin: 0px 0 -7px 0;}*/
    .invoice-field .invoice-dob{width: 100%;margin: 13px 0 0 -23px;}

    .invoice-field .invoice-label1{display: block;font-size: 18px;text-align: left; margin: 26px 0 0 -26px;}
    .invoice-field .invoice-dob1{width: 100%;}
    .invoice-table .invoiceno{padding:15px 0 0 177px;}
    .invoice-table .successful{ padding: 15px 0 0 31px;}
    .invoice-form .select-master-data.dashboard_responsive_table table tr td {
        /*width: 281px;*/     width: 17%;
        text-align: left;    padding: 20px 0 20px 23px;}
        .invoice-date{ width:100%;}

    .invoice-submit {
    margin: 25px 0 30px -4px;}
   .invoice-submit a{ width:139px;
    display: block;margin: 24px auto;}

}

@media (max-width: 320px){
.invoice-field .invoice-dob {width: 100%;}
.invoice-field .invoice-dob1 {width: 100%;margin: 0 0 36px -20px;}
.invoice-field{margin: 0 0 0px 27px;}
.invoice-field .invoice-label1{display: block;margin: 48px 0 0 -26px; text-align: left;}

.invoice-submit {
    margin: 25px 0 30px -4px;
     
}
.invoice-submit a{ width:139px;
    display: block;margin: 24px auto;}

}
