.nadinvoice-container{ width:100%; float: left; margin-top: 100px;}
 .invoice-border{background-color: #1f1f1f;height: 4px;margin: 0 auto 21px;width: 226px;}
.forget-title{ margin-bottom:6px; font-family: 'open_sanssemibold'; padding-top: 26px; font-weight: normal;}
span.mandatory-rel{ color:red;}
.invoice-dropdown span.filter-option.pull-left{ color:#f08001;}
span.invoice-title {width: 119px; font-family: 'open_sansregular';}
.birthdayinfo {
    width: 100%;
    margin: 45px 0 0 0;
    float: left;
}
.invoice-table{ width:82%;margin: 0 auto;}
.invoice-date{ display: inline-block;/*width: 180px;*/margin: 0px 0 -7px 0;}
.invoice-field .invoice-dob{ width:94%; margin: 13px 0 0 11px;    position: relative;}
span.date {
    position: absolute;
    top: 29%;  font-size: 16px;   color: #f08001;
}
.invoice-field .invoice-label{
    font-weight: 100; display: inline-block; font-size: 18px;font-family: 'open_sansregular';}
.invoice-field .invoice-label1{
    font-weight: 100; display: inline-block; font-size: 18px;margin: 0 0 0 21px; font-family: 'open_sansregular';}

.invoice-info{margin: 34px 0 0 15px; width: 100%;}
.invoice-dropdown{ margin: 0 0 0 229px;}
.invoice-infodate {
         text-align: center;
    margin: 0 0 0 -62px; width: 100%;
    }
.invoice-field{ display: inline-block;margin: 0 0 0 63px;}
.invoice-submit {text-align: center;/*margin: 64px 0 30px -32px;*/ margin: 46px auto;}

.invoice-submit a {
    background-color: #052133;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 42px;
    letter-spacing: 0.5px;
    line-height: 42px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s linear 0s;
    padding: 0 18px 0 18px;
    margin: 0 0 0 38px;
    width:135px;
}

.invoice-form .upload_certficate_table thead tr th:first-child{ width:173px;}

.invoice-form .select-master-data.dashboard_responsive_table  table tr th:nth-child(2){ width:608px;}

.invoice-form .select-master-data.dashboard_responsive_table table tr td{ width: 284px;}

.no_pad.invoice-downloaded {width: 40%;float: left;}
.no_pad.invoice-downloaded1 {width: 60%;float: left;}

span.col-md-5.col-xs-12.text-right.filter_title.invoice-title22 {
    margin: 0 0 0 -111px;font-family: 'open_sansregular';
}

.select-master-data.dashboard_responsive_table.invoice-table  table tr th{ text-align: left;}
.invoice-table table tr th{padding: 15px 24px;}

 .invoice-form .select-master-data.dashboard_responsive_table.invoice-table  table tr th:nth-child(2){    padding: 14px 12px 0 180px;
    width: 620px;}
 .select-master-data.dashboard_responsive_table.invoice-table  table tr th:last-child{ width:0px; padding: 14px 12px 0 87px;}

.select-master-data.dashboard_responsive_table.invoice-table table tr td{ text-align: center;}

.invoice-table .invoiceno{padding:15px 0 0 177px;}
.invoice-table .successful{ padding: 15px 0 0 31px;}
.dashboard_responsive_table.invoice-table table tr td{ padding: 30px 20px;}
.select-master-data.dashboard_responsive_table.invoice-table table tr td.transaction{ text-align: left;}
.nadinvoice-container .titlecontct:before{ background: none;}
.invoice-infodate .field-error{position: absolute;
    top: 37px;}

#downloadinvoiceForm .invoice-infodate #to_date_error{left: 0px;
width: 100%;
text-align: left;
top: 38px;}
.invoice-infodate #from_date_error{ left: 0;
width: 16%;
text-align: left;}



.date-picker {
    width: 100%;
    margin: 0 0 0 16px;
}


/* transaction */
.transaction{ width:93%;margin: 0 auto;}
.transaction span.invoice-title{ width: 20%; float: left;}
.transaction .invoice-title2{ width: 80%; float: left;}
.transaction .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 61%;
}

.transaction-form .select-master-data.dashboard_responsive_table.invoice-table table tr th:nth-child(2) {
    padding: 14px 12px 0 19px;
    width: 250px;
}

.transaction-form .dashboard_responsive_table table tr th:nth-child(2), .dashboard_responsive_table table tr th:nth-child(3) {
    width: 467px;
}

.transaction-form .select-master-data.dashboard_responsive_table.invoice-table table tr th:last-child {
    width: 0px;
    padding: 14px 12px 0 31px;
}

.transaction-form .select-master-data.dashboard_responsive_table table tr td {
    width: 144px;
}


#from_date_error,
#to_date_error {
        bottom: -35px;
}

.invoice-page .deposit-container > div:last-child { margin-left: 224px; }

.invoice-page .deposit-container .dateinfo1 {
    -webkit-transform: translateX(-110px);
    -ms-transform: translateX(-110px);
    -o-transform: translateX(-110px);
    transform: translateX(-110px);
}

.invoice-page .deposit-container .date-field { bottom: 0; }

.invoice-page #from_date_error,
    .invoice-page #to_date_error {
        bottom: -18px;
    }

.invoice-page .invoice-table { width: 100%; }

@media screen and (max-width: 767px) {
    .date-picker { margin-left: 0; }

    .invoice-page .deposit-container > div:last-child {
        margin-left: 0;
        -webkit-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .invoice-submit a { margin-left: 0;margin-top: 15px; }

    .invoice-submit { margin-top: 0; }

    .invoice-page .deposit-container .date-field {
        position: static;
    }




}