.approve_certificate_dashboard_content.newnad-container {
  max-height: 1000px;
}

.forget-title{ margin-bottom:6px; font-family: 'open_sanssemibold'; padding-top: 26px; font-weight: normal;
}
.newnad-border{background-color: #1f1f1f;height: 4px;margin: 0 auto 21px;width: 133px;
}

p.newnad-para  {color:#1f1f1f;text-align: center;
  font-size: 18px;
}
span.newnad-para1{display: block;}
.newnaddropdown{    margin: 30px 96px;
  display: inline-block;
  width: 100%;
}

.release-dropdown span.filter-option.pull-left {color: #f08001;}
span.mandatory-rel{ color:red;}
/*.release-dropdown > .btn-default{ width:260px !important;}*/
.newnadborder-bottom{ width:100%; float: left; border: 1px solid #d7d7d7; margin-bottom: 20px;
}
.release-title{ color: #1f1f1f; font-size: 1em;font-family: 'open_sansregular';
}

.releaseborder{border: 1px solid #d7d7d7;
  width: 100%;
  float: left;
  margin: -13px 0 37px 0;
}
.nadnew-form{ width: 100%;padding: 20px 0;
}



.release-dropdown{ width:274px !important;}
.newnad-container .titlecontct:before{ background: none;}

.release-dropdown .btn.dropdown-toggle.btn-default{ font-size: 15px;}

/*.newnad-table  table tr th{ text-align: left;}*/
.newnad-table table tr th{ padding: 15px 14px;}
.select-master-data.dashboard_responsive_table.newnad-table   table tr th{ text-align: left;
}
.newnad-table td.detail-info {position: relative;}
.select-master-data.dashboard_responsive_table.newnad-table table tr td{ text-align: left;
}
.archive-info{ text-align: center; width: 100%;padding-bottom: 20px;}
.archive-info a{color: #f29328;font-size: 17px;cursor: pointer;text-decoration: underline;font-family: 'open_sansregular';}



.newnad-table{width:100%; margin:1px auto;padding: 20px;}
/* new design */
.date-picker {
  width: 100%;
  float: left;
}
.date-picker span{
 float: left;
 font-size: 12px;
 font-family: 'open_sansregular';
 font-weight: bold;
}
.date-picker .circular-btn{
  float: right;
}

.date-picker .circular-btn a{
  background-color: #052133;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s linear 0s;
  padding: 5px 10px;
  font-family: 'open_sansregular';
}
.detail-info{ width:100%; float: left; position: relative;}
.detail-info span{
 color: #383838;
 font-size: 14px;
 font-family: 'open_sanssemibold';

}

.detail-info p.para{
 color: #1f1f1f;
 font-size: 12px;
 font-family: 'open_sansregular';
 width: 73%;
 padding-bottom: 30px;
}

.detail-info .plus {
  color: #f29328 !important;
  font-size: 12px;
  /* position: absolute; */
  top: initial;
  bottom:26px;
  cursor:pointer;}

  .detail-info .plus1 {
    color: #f29328;
    font-size: 15px;
    cursor:pointer;
    text-decoration: underline;
  }

  .detail-info .form-border{
    background-color: #1f1f1f;
    height: 4px;
    width:66px;
  }


  .date-picker img{
    float: left;
    padding-right: 9px;
  }


  /* vertical slider */

  .vertical .carousel-inner {
    height: 100%;
  }

  .carousel.vertical .item {
   -webkit-transition: 0.6s ease-in-out top;
   -moz-transition: 0.6s ease-in-out top;
   -ms-transition: 0.6s ease-in-out top;
   -o-transition: 0.6s ease-in-out top;
   transition: 0.6s ease-in-out top;
 }

 .carousel.vertical .active {
   top: 0;
 }

 .carousel.vertical .next {
   top: 400px;
 }

 .carousel.vertical .prev {
   top: -400px;
 }

 .carousel.vertical .next.left,
 .carousel.vertical .prev.right {
   top: 0;
 }

 .carousel.vertical .active.left {
   top: -400px;
 }

 .carousel.vertical .active.right {
   top: 400px;
 }

 .carousel.vertical .item {
   left: 0;
 }

 a.carousel-control.left{background: none;}
 a.carousel-control.right{background: none;}

 .verticalCarouselGroup .slick-prev{
   text-indent: -9999px;
   right: -15px;
   padding: 30px 30px;
   float: right;
   position: absolute;
   left: right;
   /* right: 0; */
   left: initial;
   top: initial;
   bottom: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
   transform: translateY(-50%);
   background: url(../images/arrow-newnad/uparrow.png) no-repeat #fff 17px 14px !important;
   box-shadow: 0 1px 8px 3px #ccc;
   z-index: 11;
 }

/* a.carousel-control.left.owl-prev:hover {
  background: url(../images/arrow-newnad/uparrow.png) no-repeat #f29328 17px 14px;
 }
 */


 .verticalCarouselGroup .slick-next{
  padding: 30px 30px;
  text-indent: -9999px;
  right: -15px;
  background: url(../images/arrow-newnad/downarrow.png) no-repeat #f29328 17px 14px !important;
  float: right;
  position: absolute;
  left: right;
  /* right: 0; */
  left: initial;
  top: initial;
  bottom: 44%;
  box-shadow: 0 1px 8px 3px #ccc;
  opacity: 1;
}



.carousel-control{width: 42px;height: 35px;}

.newnad .top-heading + .border {
  width: 135px;
  margin-bottom: 35px;
}

.newnad .col-md-offset-2 { margin-left: 12.666667%; }

.newnad .select-master-data.dashboard_responsive_table {
  box-shadow: none;
  border: 1px solid #c7c7c7;
}

.newnad .detail-info p.para { width: 100%; }

.newnad .verticalCarouselGroup {
  /* width: 70%; */
  margin: auto;
}



.newnad .slick-list {
  padding: 0 !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.newnad .verticalCarousel { width: 100%; max-width: 100%; }

.detail-info { margin-top: 10px; }

.detail-info span,
.detail-info p.para,
.detail-info a.plus { font-size: 16px; }

.slick-vertical .slick-slide {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 70% !important;
  margin-left: auto;
  margin-right: auto;
  float: none;
  -webkit-transition: .45s;
  -o-transition: .45s;
  transition: .45s;
  outline: 0;
}

.newnad .slick-center .select-master-data.dashboard_responsive_table {
  box-shadow: 0 0px 25px 2px #ccc;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

@media screen and (max-width: 767px) {

  .newnad .newnad-info,
  .newnad .col-md-offset-2 {
    margin: 0;
  }

  .newnad .slick-list { padding: 0 !important; }

  .slick-vertical .slick-slide { width: 100% !important; }

  .newnad .slick-center .select-master-data.dashboard_responsive_table {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }

  .verticalCarouselGroup .slick-prev,
  .verticalCarouselGroup .slick-next { padding: 20px 20px; }

  .verticalCarouselGroup .slick-prev {
    background: url(../images/arrow-newnad/uparrow.png) no-repeat #fff 10px 5px !important;
    /* padding: 20px 20px; */
    right: -5px;
  }

  .verticalCarouselGroup .slick-next {
    right: -5px;
    background: url(../images/arrow-newnad/downarrow.png) no-repeat #f29328 8px 5px !important;
    bottom: 45%;
  }

  .detail-info { text-align: left; }

  .newnad .filter-div .text-right {
    margin-top: 15px;
    padding: 0;
    text-align: left;
  }

  .newnad .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) { float: left; }

  .releaseborder { display: none; }

  .release-title { margin-left: 0 !important; }

  .newnad .verticalCarouselGroup { padding-left: 0; }
}

.detail-info .para span { font-family: 'open_sansregular'; }

.select-master-data.dashboard_responsive_table a.orange-text {
  color: #f29328;
}

.hidden-text { display: none; }

.slick-slide .plus { opacity: 0.5; }

.slick-slide.slick-current .plus { opacity: 1; }

.detail-info span.minus {
  font-size: 16px;
  color: #f29328;
  cursor: pointer;
}

.slick-slide { visibility: hidden; }

.slick-slide.slick-active { visibility: visible; }