




@media (max-width: 1366px){
span.plus{top: 50px; font-size: 26px;}



}


@media (max-width: 1024px){

.wrapper{ width: 100%;}
.newnad-table {width: 85%;margin: 0 0 0 61px;}
.newnad-info{margin: 30px 42px;}

} 

@media (max-width: 768px){

.newnad-info {
    margin: 23px auto;
    float: none;
    text-align: center;
}
.release-title{ text-align: center;}
.newnad-info .text-left{ text-align: center;}

}



@media (max-width: 414px){
p.newnad-para{line-height: 17px;}
.newnad-table{ width:95%; margin:7px 5px;}
span.plus {
    top: 33px;}
    .filter-div .text-right {
    text-align: center;
}
}


@media (max-width: 375px){
p.newnad-para{line-height: 20px;}
.releaseborder{ border: none;}
.newnad-info {margin: 30px 24px;}
.release-title{margin: 0 0 0 -15px;}
.newnad-table{ width:95%; margin:7px 5px;}
.newnad-info .text-left {
    text-align: left;
}


}


@media (max-width: 360px){

p.newnad-para{line-height: 20px;}
.releaseborder{ border: none;}
.newnad-info {margin: 30px 24px;}
.release-title{margin: 0 0 0 -15px;}
.newnad-table{ width:95%; margin:7px 5px;}
.newnad-info .text-left {
    text-align: left;
}
}

@media (max-width: 320px){

.release-dropdown {
    width: 241px !important;}
.releaseborder{ border: none;}
.newnad-info .text-left {
    text-align: left;
}


}
