.transaction-dropdown{

 margin: auto;
   float: none;
    width: 100%;
}

.calendar-table thead { background: #fff; }

.dib { display: inline-block; }

.deposit-invoice .deposit-label { float: none; }

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) { width: 350px; }

body.big-dash-m .dashboard-content { padding-top: 15px !important; }

.top-heading + .border { margin-bottom: 30px; }

.no-margin { margin: 0 !important; }

.transaction-table{
 width: 88%;
}
.transaction-container{
	width: 100%;
}
.transaction-container .dateinfo {
	width: auto;
	margin-right: 36px;
	 position: relative;
}

.transaction-container .dateinfo1 {
	width: auto;

}

.transaction-container .date-field{bottom: -21px; position: static;}

.prev-transc .master-data-date .form-group {
	margin-bottom: 0;
}

.prev-transc .dateinfo,
.prev-transc .dateinfo1 { float: none; }

.prev-transc .dateinfo1 { margin-left: 100px; }

.prev-transc .control-label {     transform: translateY(-10px); }

.select-master-data.dashboard_responsive_table  table tr th:nth-child(2) {
	text-align: left;
}

.prev-transc .date-field .date-picker #from_date_error,
.prev-transc #to_date_error { text-align: left; }

.select-master-data.dashboard_responsive_table a.invoice {
	text-transform: uppercase;
	text-decoration: underline;
}


/* media query */
@media screen and (max-width: 768px){

	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 235px;
	}

	.master-data-date .form-group.info-field .verifier-date-input {
    width: 89%;
	}

.transaction-dropdown{
  width:100%;
}

.transaction-container .dateinfo{

 width:100%;

}

.deposit-container .date-field{

	width:100%;
}

.deposit-container .date-field{
   bottom: -40px;
}

.deposit-container .fromdate-label{
margin: 40px 0 0 0;
}


}


@media screen and (max-width: 450px){

	.prev-transc .deposit-container .dateinfo1 {     margin-bottom: 40px; }

.deposit-container .date-field {
    bottom: -52px;
}

.deposit-invoice .approve_certificate_data_field {
    margin-bottom: 15px;
}

.invoice-submit{
margin-bottom: 30px;
}

}

@media screen and (max-width: 360px){

.transaction-hamburger-container .transaction-hamburger{
top:270px;

}

.deposit-container .date-field {
    bottom: -68px;
}

}

