.color052133 { color: #052133 !important; }
.desk-none { display: none !important; }

.open-sans-semibold {
	font-family: 'SegoeUI-Semibold';
}

.reg-mode {
	outline: 0;
	font-family: SegoeUI;
	text-decoration: none !important;
	border-bottom: 1px solid #052133;
}

.reg-mode:active,
.reg-mode:hover { outline: 0; text-decoration: none !important; }

.arrow-icon {
	-webkit-transition: 0.45s;
	-o-transition: 0.45s;
	transition: 0.45s;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.arrow-icon.rotated {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
}

.font35 {
	font-size: 22px;
	line-height: 28px;
}

.container {
	width: 1000px;
	padding-bottom: 30px;
}

main {
	margin-top: 120px;
}

.intro {
	width: 48%;
	margin: auto;
}

.top-heading + .border { margin-bottom: 30px; }

.border-small {
	width: 150px;
	height: 2px;
	background: #f17f01;
}

.right-block-content h2,
.steps-container h2 {
	text-transform: uppercase;
	font-family: 'SegoeUI-Bold';
}

.right-block-content div {
	max-width: 400px;
}

.alternate-mode { margin: 40px 0; }

.full-background {
	padding: 40px 20px 20px 20px;
	background: #f1f2f3;
}

.process-start { margin-top: 30px; }

.steps-container > div:nth-child(even) h2,
.steps-container > div:nth-child(even) p { color: #fff !important; }

.process-with-aadhar .step1 {
	transform: translate(-108px, 25px);
}

.process-with-aadhar .step2 {
	transform: translate(-30px, 95px);
}

.process-with-aadhar .step3 {
	transform: translate(-120px, 195px);
}

.nad-id-process .step2 {
	transform: translateX(50px);
}

.nad-id-process .step3 {
	transform: translateX(100px);
}

.nad-id-process .step4 {
	transform: translateX(150px);
}

.nad-id-process .step5 {
	transform: translateX(200px);
}

.nad-id-process > div {
	margin-top: 40px;
	position: relative;
}

.nad-id-process > div:first-child { margin-top: 0; }

.nad-id-process .step1::after {
	content: '';
	position: absolute;
	top: 73px;
	left: 160px;
	background: #000;
	height: 744px;
	width: 15px;
	transform: rotate(-16deg);
}

.steps-container > div > div {
	display: inline-block;
	vertical-align: middle;
}

.step-icon {
	width: 15%;
	z-index: 1;
	position: relative;
}

.step-description {
	width: 470px;
	background: #f17f01;
	padding: 20px 50px;
	transform: translateX(-48px);
	position: relative;
	-webkit-box-shadow: 2px 2px 18px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 2px 2px 18px 0px rgba(0,0,0,0.55);
	box-shadow: 2px 2px 18px 0px rgba(0,0,0,0.55);
}

.steps-container > div:nth-child(even) .step-description {
	background: #052133;
}

.step-description h2 {
	margin-top: 0;
	font-family: 'SegoeUI-Bold';
	letter-spacing: 0.2px;
	margin-bottom: 15px;
}

.step-description p {
	color: #1f1f1f;
	margin-bottom: 0;
}

.step-description::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: -30px;
	width: 30px;
	background: #fff;
	-webkit-box-shadow: 2px 2px 18px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 2px 2px 18px 0px rgba(0,0,0,0.25);
	box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.25);
}

.icon-container img {
	cursor: pointer;
	margin: auto;
}

.nad-based { display: none; }

@media (max-width: 768px) {
	.resp-none { display: none !important; }
	.desk-none { display: block !important; }
	.container {
		width: 750px;
	}

	.process-with-aadhar .step1,
	.process-with-aadhar .step2,
	.process-with-aadhar .step3 { transform: translate(0); }

	.left-block-image {
		width: 40%;
		margin: auto;
		border-bottom: 4px solid #b2b2b2;
		padding-bottom: 25px;
	}

	.text-left { text-align: center; }
	.border-small,
	.right-block-content img { margin: auto; }
	.process-with-aadhar,
	.right-block-content  { margin-top: 20px; }

	.right-block-content div {
		max-width: 600px;
		margin: auto;
		text-align: center;
		margin-bottom: 45px;
	}

	.right-block-content div:last-child { margin-bottom: 0; }

	.intro { width: 80%; }
	.step-icon { width: 25%; }
	.step-description { width: 370px; }

	.nad-id-process .step2 {
		transform: translateX(40px);
	}

	.nad-id-process .step3 {
		transform: translateX(80px);
	}

	.nad-id-process .step4 {
		transform: translateX(130px);
	}

	.nad-id-process .step5 {
		transform: translateX(170px);
	}

	.nad-id-process .step1::after {
		transform: rotate(-12deg);
		height: 850px;
		left: 155px;
	}

}

@media (max-width: 480px) {
	.container { width: 100%; padding-bottom: 0; }
	.left-block-image { width: 50%; }
	.right-block-content img { width: 30%; }
	.full-background { padding: 20px 0; }
	.step-icon { width: 32%; transform: translateX(-10px); }

	.step-description {
		width: 80%;
		padding: 10px 10px 10px 50px;
		position: absolute;
		top: 20px;
		right: -40px;
	}

	.step-description::after {
		right: -15px;
		width: 15px;
	}

	.steps-container.nad-id-process > div {
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}

	.nad-id-process { margin-top: 25px; }

	.nad-id-process .step1::after {
		transform: rotate(0);
		height: 620px;
		left: 45px;
	}

	.top-heading + .border {
    width: 160px;
	}

	.font35 {
    font-size: 18px;
    line-height: 22px;
	}

	.font20 {
    font-size: 17px;
	}

	.step-description h2 { margin-bottom: 7px; }

	.step3 .step-description,
	.step4 .step-description { top: 10px; }
}

@media (max-width: 375px) {
	.step-description h2 {
		font-size: 15px;
		margin-bottom: 5px;

	}

	.nad-id-process .step1::after {
		height: 570px;
		left: 35px;
	}

	.step-description p {
		font-size: 13px;
		line-height: 17px;
	}

	.step-icon { width: 32%; }
	.step-description { top: 20px; }
	.step3 .step-description,
	.step4 .step-description { top: 10px; }
}

@media (max-width: 360px) {
	.step-description { top: 15px; }
	.step-description h2 { font-size: 13px; }
	.step-description p { font-size: 12px; }
}

@media (max-width: 320px) {
	.step-description { top: 8px; padding-left: 30px; }
	.nad-id-process .step1::after {
		height: 500px;
    left: 28px;
	}
}