
@media (max-width: 1600px){
	#main-modal .top-heading + .border{
			margin:0 auto 26px;
	}

	#popupModal input[type="text"], #popupModal input[type="password"]{
		height: 35px;
	}
	.nad-presentation .nad-presentation-head:before{
		left: 44%;
	}
	.nad-presentation-slider-2 .bullet-style li{
		margin-bottom: 12px;
	}
	.nad-presentation .Ndml_nad_caption_wrap {
		top: 162px;
	}
	.nad-presentation .network-control .owl-controls .owl-next {
		right: -682px;
	}
	.nad-presentation .nad-center-slider .network-control .owl-next {
		right: -133px;
	}
	.nad-presentation .nad-center-slider .network-control .owl-prev {
		left: -668px;
	}
	.nad-presentation .nad-presentation-one .nad-baaner-height {
		height: 590px;
		overflow: hidden;
	}
	.nad-presentation .network-control .owl-controls .owl-prev, .nad-presentation .network-control .owl-controls .owl-next {
		top: 332px;
	}
	.summary-block{
		width:52%;
	}
	.v5_0 .message-field{
		left:98px;
	}
	.ai-info-block .owl-controls .owl-prev{
		left:-172px;
	}
	.approve_certificate_from_date_wrap .field-error{
		left:27px;
	}
	.approve-view-upload .form-group label{
		width: 41% !important;
	}
	.approve-view-upload .form-group .upload-date{
		width: 34% !important;
	}
	.aiusers .owl-controls .owl-prev{
		left:-185px;
	}
	.aiusers .owl-controls .owl-next{
		right:-185px;
	}
	.approve-certificate .approve_label .form-group label{
		width:40% !important;
	}
	.approve_certificate_data_field_new .select-type{
		width: 41%;
	}
	.file-upload .xmlFileUploadWrap .text-left .xmlLabel{
		left:-96px;
	}
	.approve-master-data-form .form-group{
		padding-bottom: 0px;
	}
	.state-align{
		padding-left:160px;
	}
	.year-align{
		padding-right:15px;
	}
	.functional-user  .approve_certificate_wrapper{
		width:90%;
	}
	.ai_dashboard_hamburger_wrapper .approve_certificate_wrapper{
		width:90%;
	}
	.functional-user .approve_certificate_wrapper {
		padding-left:0px;
	}
	 .ai_dashboard_hamburger_wrapper .approve_certificate_wrapper{
	 	padding-left:30px;
	}
	.wraper-width .approve_certificate_wrapper{
		padding-left:45px;
	}
	.functional-user .dashboard-content .col-md-madium{
		width:40%;
	}
	.depo_nad_banner_wrap{
		background-position: 0px 99px;
	}
	.approve_certificate_data_field22 .approve_certificate_label{
		width: 38%;
	}
	#approveCertificateForm .filter-div{
		margin:0px;
	}
	.nadcertid .role-heading{
		padding-top:10px;
	}
	.wraper-width .approve_certificate_wrapper{
		width:96%;
	}
	.sub-point p:before{
		left:-6px;
	}
	.Institutions_nad_caption_wrap{
		top:200px;
	}
	.benf_nad_caption_wrap{
		top:216px;
	}
	.depo_nad_caption_wrap{
		top:280px;
	}
	.Ndml_nad_caption_wrap{
		top:229px;
	}
	.about_nad_banner_wrap{
		min-height: 505px ;
		margin-top: 100px;
	}
	.nad_student_benefits ul.knowing_nad_tab li{
		margin-top:20px;
	}
	.xml_file_value{
		max-width: 278px;
	}
	.verifier-document-select .dropdown-menu{
		min-width: 44% !important;
	}
	.student-form-sbmt .btn-submit{
		padding:13px 33px;
	}
	.padding-left{
		padding-left:31px;
	}
	.docttext, .docttext1, .docttext3 {
		text-shadow: 0px 0px #fff;
	}
	verifier-role-creation-v-1.html{
		padding-bottom: 10px;
	}
	.dashboard_hamburger{
		top:120px;
		left:46px;
	}
	.middle-inner-pointer:before{
		bottom: -42px !important;
		height:117px;
	}
	.success-text{
		width:80%;
	}
	#term_error.field-error{
		padding-top:0px;
	}
	.verifier-block{
		width: 75%;
	}
	.input-wid50{
		width: 388px;
	}
	.ai_dashboard_hamburger_wrapper{
		padding-bottom: 10px;
	}
	.lower-menu{
		padding: 9px 0 0 40px;
	}
	.network-control .owl-controls .owl-next{
		right:0px;
		top:210px;
	}
	.ai-carousel  .owl-stage-outer{
		max-height: 250px;
	}
	.ai-user-space{
		padding:20px 0px 0px;
	}
	.ai-info-block .owl-controls .owl-next{
		right:-170px;
	}
	.student-nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-next{
		right: 0px;
		padding:60px 20px;
		background-position: 7px 45px;
	}
	.student-nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-prev{
		left:0px;
		top:353px;
		padding:60px 20px;
		background-position: 5px 49px;
	}
}

@media (max-width: 1280px){
	.input-wid50{
		width:319px;
	}
	.xml_file_value{
		width:250px;
	}
	ul.wtf-menu li {
    margin-right: 54px;
	}
}

@media (max-width: 1366px){
	.about_nad_banner_wrap{
		margin-top: 90px;
	}
	.width65 {
    width: 58%;
	}
	.forgot_password_new .otp-fields span{
		width: 26%;
	}
	#main-modal .block-bottom{
		padding:28px 0 0;
	}
	.nad-presentation .network-control-new .owl-controls .owl-prev, .nad-presentation .network-control-new .owl-controls .owl-next {
		top: 195px;
	}
	.nad-presentation .nad-presentation-network .owl-controls .owl-prev, .nad-presentation .nad-presentation-network .owl-controls .owl-next {
		top: 328px;
	}
	.nad-presentation .nad-presentation-network .owl-carousel .owl-stage-outer {
		min-height: auto;
	}
	.forgot-password .banner-text p.text1{
		font-size: 34px;
	}
	.nad-presentation .nad-presentation-head:before{
		left: 44%;
	}
	.nad-presentation .network-control .owl-controls .owl-next{
		right:-584px;
	}
	.nad-presentation .nad-presentation-one .nad-baaner-height {
		height: 504px;
	}
	.nad-presentation .nad-center-slider .network-control .owl-controls .owl-next {
		right: -114px;
	}
	.nad-presentation .nad-center-slider .network-control .owl-prev {
		left: -569px;
	}
	.nad-presentation .network-control .owl-controls .owl-prev, .nad-presentation .network-control .owl-controls .owl-next {
		top: 258px;
	}
	.documentcenter .doctext-new{
			padding:129px 0px 0px 0px;
	}
	.computer-block .col-md-offset-1{
			margin-left:  6.333333%;;
	}
	.cab-margin-right{
		margin-right:45px;
	}
	.traning-sub-head h3:before{
		width:9%;
	}
	.col-md-offset-4.col-md-small{
		margin-left:37.333%;
	}
	.summary-block{
		width:60%;
	}
	.v6_2 .summary-block{
		width:31%;
	}
	.v5_0 .message-field{
		left:100px;
	}
	.issue-fixes .select-type-user{
		width:72%;
	}
	.v6_0 .select-type-user{
		width:57%;
	}
	.width-project-width{
		width:38%;
	}
	.issue-fixes .employee-id-width{
		width:61%;
	}
	.user-creation .master-data-date .form-group{
		width:98%;
	}
	.brdnone .padleftop {padding-left:60px;}
	.approve_certificate_from_date_wrap .field-error{
		padding-left:39%;
	}
	.approve_certificate_data_field_new .select-type{
		width:45%;
	}
	.approve-view-upload .form-group label{
		width:46% !important;
		padding:9px 8px 9px 6px !important;
	}
	.approve-view-upload .form-group .upload-date {
		width: 40% !important;
		padding:9px 8px 9px 6px !important;
	}
	.file-upload .xml-error{
		bottom:10px;
		left:72px;
	}
	.approve_certificate_data_date_wrap .master-data-date .form-group.info-field > input{
		width:52%;
	}
	.approve-certificate .approve_label .form-group label{
		width:46% !important;
		padding:9px 11px 9px 6px !important;
	}
	.file-upload .xmlFileUploadWrap .text-left .xmlLabel{
		left:-7px;
	}
	.approve_certificate_data_field  .master-div-sm{
		padding-left: 29px;
	}
	.share_certificate12_inner_point label{
		font-size: 16px;
		margin-right: 0px;
	}
	.margin-bottom-sm{
		margin-bottom: 16px;
	}
	.share_certificate12_inner_point .width-sm{
		width:10%;
	}
	.dashboard_hamburger{
		left:26px;
	}
	.ai_dashboard_hamburger_wrapper .approve_certificate_wrapper{
		padding-left:20px;
	}
	.course-align{
		padding-left:238px;
	}
	.year-align{
		padding-right:0px;
		padding-left:80px;
	}
	.functional-user .approve_certificate_wrapper{
			width:90%;
	}
	.wraper-width .approve_certificate_wrapper{
		padding-left:50px !important;
	}
	.functional-user .approve_certificate_wrapper,  .ai_dashboard_hamburger_wrapper .approve_certificate_wrapper{
		padding-left:11px ;
	}
	.functional-user .dashboard-content .col-md-madium{
		width:40%;
	}
	.depo_nad_banner_wrap{
		background-position: 0px 94px;
	}
	.pdf-block a{
		font-size: 17px;
	}
	.nad-baaner-height{
    	height: 572px;
	}
	.sub-point p:before{
		left:-10px;
	}
	.verifier-document-select .dropdown-menu{
		min-width: 44% !important;
	}
	.no-timeline-circle .file-btn, .xmlFileUploadWrap .file-btn {
		padding: 4px 30px 0px 30px;
		width: inherit !important;
		line-height: 0px;
		height: inherit !important;
		font-size: 17px;
	}
	.student-form-sbmt .btn-submit{
		padding:13px 33px;
	}
	.xmlFileUploadWrap .file-input-wrapper .file-input-button{
		width:130px;
		height: 60px;
	}
	.inner-point .file-input-button img{
		height:35px;
		margin-left:10px;
	}
	.knowing_nad_tab_left_part{
		margin-bottom: 35px;
	}

	.docut_nad_caption_wrap{
		top:270px;
	}
	.padding-left{
		padding-left:31px;
	}
	.docttext, .docttext1, .docttext3{
		text-shadow: 0px 0px #fff;
	}
    .employee-name{
        font-size: 17px;
        font-weight: 500;
    }
    .employee-input{
       width:58%;
    }
    .date-width{
        width:74%;
    }
    .department-width{
        width:75%;
    }
    .email-id-width{
        width:80%;
    }
    .width-designation{
        width:62%;
    }
    .employee-id-width{
        width:62%;
    }
    .mob-width{
        width:64%;
    }
    .user-id-width{
        width:70%;
    }
    .width-project-width {
        width: 44%;
    }
    .first-new .width-project-width{
    	width: 49%;
    }
    .first-new .width-designation{
    	width: 71%
    }
     .first-new .employee-id-width{
    	width: 70%
    }
    .first-new .mob-width{
    	width: 74%
    }
    .first-new .user-id-width{
    	width: 80%;
    }
    .online_verification_text_field .form-group{
        padding-bottom: 15px;
    }
	.ai-info-block .owl-controls .owl-prev{
		left:-50px;
	}
	.ai-info-block .owl-controls .owl-next{
		right:-54px;
	}
	.aiusers .owl-controls .owl-prev{
		left: -68px;
	}
	.aiusers .owl-controls .owl-next{
		right: -68px;
	}
	.student_nad .benf_nad_banner_title1::before{
		width: 16%;
	}
	.bullet-style li p{
		font-size: 16px;
	}
	.verifier-block{
        width:90%;
    }
    .nad_role_ai .brdnone .padleftop{
    	padding-top:30px;
    }

	.nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-next, .nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-prev{
		top:290px;
		padding:55px 23px;
	}
	.nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-next{
		right:0px;
		background-position: 7px 42px;
	}
	.nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-prev{
		left: 0px;
		background-position: 5px 41px;
	}
	.nad-presentation .ndmlcontent{
		/* margin-top: 5px; */
	}
	.nad-presentation .knowing_nad_slider_title{
		font-weight: 28px;
	}
	.signature_nad_banner_title1 {
	    font-size:24px;
	}
	.signature_nad_banner_title2{
	    font-size: 31px;
	}
	.signature_nad_caption_wrap{
	    top:286px;
	}
	.nad_benefits .benfheight{
	    min-height: 390px;
	}
	.news_slide_img1{
	    right:-2px;
	    padding:0px;
	}
	.setup-content{
	    padding-top:13px;
	}

	.nad_ndml  .nad-Network_Tin{
	    height: 420px;
	}
	.nad_ndml .tingeight{
	    height:410px;
	}
	.nad_ndml .network-control .width60{
	    width:58%;
	}
	.nad_ndml .padleftop{
	    padding-left:66px;
	}
	.dropdown-menu{padding:0px;}
	.network-control .owl-controls .owl-prev{
		left:0px;
	 	top:235px;
	 	padding:53px 23px;
	 	background-position: 6px 39px;
	}
	.network-control .owl-controls .owl-next{
		right:0px;
		padding:53px 23px;
		top:235px;
		background-position: 6px 42px;
	}
	ul.wtf-menu li.parent .submenu li{
	    padding-bottom: 0px;
	}
	.benf_nad_banner_title1:before{
	    bottom: 0px;
	    width:38%;
	}
	.benf_nad_banner_title1::before{
	    bottom: -7px;
	    width:30%;
	}
	ul.wtf-menu li{margin-right:51px;}
	ul.wtf-menu li a{
		padding:0px 0px 10px;
	}
	.lower-menu{
		padding: 15px 0px 0px 24px;
		float: none;
		margin-right: 75px;
	}
	.lower-menu ul li a::before{
		bottom: -5px;
	}
	ul.wtf-menu li.parent  {
		padding:0px 0px 00px 0px;
	}
	.wtf-menu ul.submenu{
		top:30px;
	}
	.lower-menu ul li a::before{
		bottom: 5px;
	}
	.bullet-style li{
		margin-bottom: 10px;
	}
	.student-nad-presentation .Ndml_nad_banner_wrap{
		margin-bottom: 0px;
	}
	.verifier-block  .student-form-sbmt.sbmt2{
		margin-top:0px;
	}
}

@media (min-width: 768px) {
	ul.nav li:hover > ul.dropdown-menu {
		display: block;
	}
	ul.nav li:hover > ul.dropdown-menu1 {
		display: block;
	}
	#navbar {
		text-align: center;
	}
	#confirm-box .modal-dialog{
   	 width:585px;
	}
}

@media (width: 768px){
	.traning .sub-point li { font-size: 16px !important; }

    .verifier-block{
        width:90%;
    }
    .top-banner{
        height: 330px;
    }
    .banner-text{
        top:180px;
    }
    .university-logos .wrapper{
    	width: 750px;
    }
    .university-logos .university-block .col-md-4{
    	width:33.33333333%;
    }
    .white-bg span{
    	font-size: 16px;
    	margin-top: -1px;
    }
}


@media (max-width: 767px){



	.nad-presentation .register .wrapper .col-md-12 { padding: 0; }
	.university-block{
		margin-bottom: 0px;
	}
	.university-block .col-md-4{
		margin-bottom: 20px;
	}
	.my-profile .student-adhar-summary .student-form-detail{
		padding-right:10px;
	}
	.forgot_password_new .otp-fields input{
		margin:0px 0px 10px;
	}
	.forgot_password_new .input-field-div{
		width:100%;
	}
	.forgot_password_new  .otp-fields .segoe-semibold {
    	width: 100%;
    	text-align:left;
	}
	.issue-fixes .master-yes-no .select-type-user, .issue-fixes .certifiey-author{
    	width:100%;
	}
	#main-modal .block-bottom{
		padding:26px 0 0;
	}
	#main-modal .pop-up-btn{
		font-size: 18px;
	}
	#main-modal .modal-body{
		padding:0 22px 35px;
	}
	.forgot-password .banner-text p.text1 {
		font-size: 23px;
	}
	#popupModal .modal-body p{
		font-size: 22px;
	}
	#popupModal .popup-form{
		width:84%;
	}
	#popupModal .i-am{
		text-align: left !important;
	}
	#popupModal input[type="text"], #popupModal input[type="password"]{
		height:30px;
	}
	#popupModal .modal-dialog{
		left:-6px;
		top:41px;
	}
	#popupModal .student-form-sbmt{
		margin-left: -0.333%;
		margin-bottom: 40px !important;
	}
	#popupModal .dropdown-pop{
		margin-bottom: 10px;
	}
	#popupModal .userId-text{
    	text-align: left;
    	font-size: 22px;
	}
	#popupModal .login-password{
		font-size: 22px;
	}
	.faq .signature_nad_banner_title2{
		font-size: 31px;
	}
	.faq .signature_nad_caption_wrap{
		top:185px;
	}
	.faq .user_nad_tabs_title:before{
		width:19%;
	}
	.faq .datatitle{
		font-size: 17px;
	}
	.faq .brdnone .padleftop{
		padding-left:25px;
	}
	.faq .padleftop{
		padding:25px 25px;
	}
	 .first-new .width-project-width, .first-new .width-designation, .first-new .employee-id-width, .first-new .mob-width, .first-new .user-id-width{
    		width:100%;
	}
	.confirm-box .modal-body{
		padding:0 30px 35px;
	}
	.margTop20{
		margin-top:10px;
	}
	.transaction-summary label {
		width: 100%;
		text-align: left;
		float: none
	}
	.transition-value{
		float: left;
		margin-left:0px;
	}
	.student-form-sbmt button{
		font-size: 14px;
		width: 115px !important;
		height: 40px !important;
    	line-height: 40px !important;
	}
	.summary-block{
		width:95%;
	}
	.issue-fixes .select-type-user{
		width:100%;
	}
	.issue-fixes .employee-id-width{
		width:100%;
	}
	.unique-ref-block .width-project-width, .verification-select .select-type-user, .year-form-control input, .certifcate-type-select .select-type-user{
		width:100%;
	}
	.slider-right-side .padding-left{
			padding-left:0px;
	}
	.approve-view-upload .form-group label, .approve-view-upload .form-group .upload-date{
		width: 100% !important;
	}
	 .view-awars-click label {
		float:none;
	}
	.view-awars-click label{
		width: 100%;
	}
	.view-awars-click a{
		float: left;
		width:50%;
		font-size: 13px;
	}
	.view-awars-click .marB15{
		margin-right: 0px;
	}
	.approve-certificate .approve_label .form-group label, .approve_certificate_data_date_wrap .master-data-date .form-group.info-field > input{
		width:100% !important;
	}
	.dashboard_table table{
		min-width: auto;
	}
	.dashboard_table .modal-body{
		padding: 0 14px 35px;
	}
	.file-upload .xmlFileUploadWrap .text-left .xmlLabel{
		left:0px;
		right:0px;
		float:none
	}
	.btn-black-2 .blue-btn{
		float:left;
		width: 47%;
		padding:0px;
	}
	.btn-black-2 img{
		margin-left: 10px;
	}
	.xml-file-sm{
		margin-top:20px;
	}
	.upload-btn{
		margin-top:28px;
	}
	.xmlFileUploadWrap-sm{
		margin-top: 0px;
	}
	.approve_certificate_data_filter{
		padding-bottom:0px;
	}
	.approve_certificate_data_field .master-div-sm{
		padding-left:0px;
	}
	.course-align{
	    padding-left:0px;
	}
	.state-align{
	    padding-left:0px;
	}
	.year-align{
	    padding-right:0px;
	    padding-left: 0px;
	}
	.view-master-data-3 .view_master_field .text-left:last-child{
		max-width: 100%;
		margin-bottom: 20px;
	}
	#validation-modal .modal-dialog{
		width: auto;
	}
	.traning-sub-head h3{
		font-size: 28px;
	}
	.traning-sub-head h3:before{
		width:25%;
	}
	.nad_ndml .nad-baaner-height{
		height: auto;
	}
	.wraper-width .approve_certificate_wrapper{
		padding-left: 0px !important;
	}
	.functional-user .approve_certificate_wrapper, .ai_dashboard_hamburger_wrapper .approve_certificate_wrapper{
		padding-left:0px;
	}
	.dashboard-content .col-md-madium{
		width:50%;
	}
	.mob-margin{
		margin-bottom:20px !important;
	}
	.computer-training .docut_nad_banner_wrap, .about_nad_banner_wrap, .fixed_header_body .about_nad_banner_wrap.participatingAI, .Ndml_nad_banner_wrap, .Feature_nad_banner_wrap, .benf_nad_banner_wrap, .Institutions_nad_banner_wrap, .signature_nad_banner_wrap, .docut_nad_banner_wrap{
		min-height: auto;
	}
	.student-nad-presentation .Ndml_nad_banner_wrap{
		height:340px;
	}
	.docut_nad_banner_title2{
		font-size: 34px;
	}
	.about_nad_banner_wrap, .fixed_header_body .about_nad_banner_wrap.participatingAI{
		background-position: -158px 2px;
	}

	.about_nad_banner_wrap {
		background: url(../images/about_nad_banner_responsive.png);
		background-size: cover;
	}
	.signature_nad_caption_wrap{
		top:98px;
		padding:26px 22px 26px 26px;
	}
	.Ndml_nad_caption_wrap{
		top:95px;
	}
	.about_nad_caption_wrap, .participatingAI .about_nad_caption_wrap{
		top:115px;
	}

	.Ndml_nad_banner_title2{
		font-size: 24px;
		line-height: 30px;
	}
	.nad_main_menu_wrap.openMe { left: 0 !important; }
	.menu_icon_ctrl{
		z-index: 10;
	}
	.ai_dashboard_hamburger_wrapper{
		z-index: 0;
	}
	.navbar-fixed-bottom, .navbar-fixed-top{
		z-index: 100;
	}
	.verifier-document-select .bootstrap-select > .dropdown-toggle{
        width: 100% !important;
    }
    .inner-pointer-no:before{
        background: #052133 !important;
    }
    .no-timeline-circle .xmlFileUploadWrap .file-input-wrapper, .xmlFileUploadWrap .file-input-wrapper{
        padding-top:15px;
    }
    .xmlFileUploadWrap .file-input-wrapper .file-input-button{
        font-size: 16px;
    }
    .mob-bottom-space{
        margin-bottom: 20px;
    }
    .employee-input, .department-width, .select-type-user, .email-id-width, .user-id-width, .width-project-width, .width-designation, .employee-id-width, .mob-width, .date-width{
        width:100%;
        float:none;
        padding-left:0px;
    }
    .dcs-width, .dcs-date-width{
    	width: 100%;
    }
    .approve_certificate_wrapper .logout-btn-mob{
        margin-left: 80px !important;
        margin-bottom:17px !important;
    }
    .user-creation .approve-master-data-form{
        padding:0px;
    }
    .user-creation .master-data-date .form-group{
        width:100%;
    }
	.knowing_nad_tabs_desc p{
		margin-bottom: 5px;
	}
	.verifier-block .dropdown-menu li a{
		text-align: left;
	}
	.verifier-block .wid50:first-child{
		width:100%;
	}
	.verifier-document-select .bootstrap-select > .dropdown-toggle{
        width: 100% !important;
    }
    .inner-pointer-no:before{
        background: #052133 !important;
    }
    .no-timeline-circle .xmlFileUploadWrap .file-input-wrapper, .xmlFileUploadWrap .file-input-wrapper{
        padding-top:15px;
    }
    .xmlFileUploadWrap .file-input-wrapper .file-input-button{
        font-size: 16px;
    }
	.nad-presentation .ndmlcontent .ndml_nad_tabs_desc{
	 	padding-right:0px;
	 }
	.bullet-style li br{
		display:none;
	}
	.bullet-style li p{
		padding-left:35px;
	}
	.bullet-style li p{
		font-size: 16px;
		line-height: 24px;
	}
	.nad-presentation .Ndml_nad_caption_wrap{
		top:-6px;
	}
	.nad-presentation .Ndml_nad_banner_title1{
		font-size: 25px;
	}
	.nad-presentation .Ndml_nad_banner_title2 {
		font-size: 24px;
	}
	.pdf-block{
		text-align: center;
		padding:0px 0px 20px;
	}
	.nad-presentation .pdf-block{
		text-align: center;
		padding: 15px 0px ;
	}
	.roller-img img{
		width:160px;
		height: 160px;
	}
	.nad-presentation .nad-center-slider .network-control .owl-controls .owl-prev{
		left:0px;
	}
	.nad-presentation .nad-center-slider .network-control .owl-controls .owl-next{
		right:0px;
	}
	.pdf-block a{
		font-size: 15px;
	}
	.nad-presentation .knowing_nad_slider_title{
		font-size: 25px;
	}
	.nad-presentation .Ndml_nad_banner_title2{
		font-size: 31px;
	}
	.network-control .owl-controls .owl-prev, .network-control .owl-controls .owl-next{
		padding:40px 40px;
	}
}

@media (max-width: 450px){

	.loginPage .top-heading + .border {     width: 140px; }

	.white-bg span{
		font-size: 27px;
	}
	.user-creation .student-form-sbmt button{
		width: 143px;
	}
	.user-creation .student-form-sbmt .btn-margin-left{
		margin-left:10px !important;
	}
	.step-div .otp-fields p {
		margin-top: 10px;
	}
	.user-id-info {
		margin: 20px 0px 21px 10px;
	}
	.box-view{
		padding: 10px 0px;
	}
	.rest_pwd_steps_txt{
		margin:24px auto 65px;
	}
	.user-id-info .user-id-info-txt{
		margin:0px 7px;
	}
	.aadhar-id-input{
		width:135px;
	}
	.stepTabList li:nth-child(2):before{
		right: 63%;
	}
	.stepTabList li:nth-child(2):after{
		left: 64%;
		width: 75%;
	}
	.login-user-id:before{
		padding:15px;
	}
	.login-password:before{
		padding:15px;
	}
	.top-heading + .border{
		width: 220px;
	}
	#popupModal .userId-text{
		font-size: 19px;
	}
	#popupModal .modal-body p {
		font-size: 19px;
	}
	.nad-presentation .owl-carousel .owl-stage-outer{
		min-height: auto;
	}
	.nad-presentation .network-control .owl-controls .owl-next{
		right:-15px;
	}
	.roller-img {
		padding: 15px 0px;
	}
	.roller-img .col-md-4{
		margin-bottom: 30px;
	}
	.roller-img .col-md-4:last-child{
		margin-bottom: 0px;
	}
	.nad-presentation .nad-presentation-one .nad-baaner-height {
		height: 780px;
	}
	.nad-presentation .nad-presentation-head::before{
		left:26%;
	}
	.nad-presentation .register{
		padding:40px 10px;
	}
	.nad-presentation .register .wrapper h2{
		font-size: 25px;
	}
	.documentcenter .doctext-new {
		padding: 56px 0px 0px 11px;
	}
	.computer-block .col-md-offset-1{
			margin-left:  0%;;
	}
	.computer-training .upload-cabinate-first{
		padding: 22px 0px 0px 16px !important;
	}
	.computer-training .registerCabinate{
			margin-bottom: 20px !important;
	}
	.computer-training .upload-cabinet{
		padding: 55px 0px 0px 16px;
	}
	.computer-training .cab-margin-right{
		margin-bottom: 20px !important;
	}
	.computer-training .cabinet, .computer-training .cabinet2, .computer-training .cabinet3, .computer-training .cabinet4, .computer-training .cabinet5, .computer-training .cabinet6, .computer-training .cabinet7{
		margin-bottom: 0px;
	}
	.computer-training .computer-img-block .cabinet4{
		padding:78px 11px 6px;
	}
	.computer-training .upload-cabinet .docttext{
		padding:7px 0px 0px 0px;
	}
	.computer-training .certificate-cabinet{
		padding:0px;
	}
	.computer-training .computer-img-block .docttext{
		padding:31px 0px 0px 0px;
	}
	.computer-training .cabinet4 .docttext{
		padding:7px 0px 0px 0px;
	}
	.computer-training .cabinet5 .docttext{
		padding:2px 0px 0px 0px;
	}
	.computer-training .cabinet6 .docttext{
		padding:2px 0px 0px 0px;
	}
	.computer-training .docut_nad_banner_title2{
		font-size: 28px;
		line-height: 32px;
	}
	.computer-training .docut_nad_banner_title1{
		font-size: 21px;
	}
	.computer-training .docut_nad_caption_wrap{
		top:73px;
	}
	.values-all{
		width: 60%;
		text-align: left;
		padding:20px 0px 20px 19px;
	}
	.value-rupees{
		width:40%;
	}
	.rupees-Block{
		font-size: 27px;
	}
	.total-charg-block{
		width:68%;
		padding:23px 20px;
		font-size: 15px;
	}
	.rupees-Block{
		width: 30%;
	}
	.v5_0 .message-field{
		left: 0px;
	}
	#role_div, #digital{
		padding-left:10px;
	}
	.margin-top-level{
		padding-left:12px;
	}
	.approve_certificate_from_date_wrap .field-error{
		padding-left:0%;
		left:0px;
	}
	#noUpdate .modal-body{
		padding:18px 35px;
	}
	#yesUpdate .modal-body{
		padding:2px 35px;
	}
	 #noUpdate .modal-content{
	 	height: 230px;
	}
	.file-upload .xml-error {
		bottom: 60px;
		left: 3px;
	}
	.file-upload .xmlFileUploadWrap .text-left .xmlLabel{
		top:5px;
	}
	.btn-div  .apprvover-img, .btn-div .reject-img{
		height: 30px;
	}
	.btn-div img{
		width:50px;
		height: 50px;
		margin-left:53px;
	}
	.approve_certificate_data_reset_btn_wrp.btn-div img {
		width: 35px;
		height: 35px;
	}
	.approve_certificate_data_reset_btn_wrp .blue-btn {
		height: 40px;
		line-height: 40px;
		padding: 0 2px 0 10px;
	}
	.btn-wrap-mob .blue-btn > img{
		margin-left: 10px !important;
	}
	.term_error_msg{
		bottom: 19px;
		left:-13px;
	}
	.nad-baaner-height{
		height: auto;
	}
	.nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-next, .nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-prev{
		top:275px;
	}
	.nad-presentation .knowing_nad_slider_title{
		font-size: 20px;
	}
	.nad-presentation-slider .owl-item img {
		height: 300px;
		width: 100%;
	}
	.ai_dashboard_hamburger_wrapper .approve_certificate_wrapper{
		width:92%;
	}
	.benf_nad_caption_wrap{
		top:140px;
	}
	.depo_nad_caption_wrap{
		top:177px;
	}
	.nad_student_benefits .depo_nad_caption_wrap{
		top:146px;
	}

	.verifier-document-select .dropdown-menu{
		min-width: 100% !important;
	}
	.role-heading{
		margin-bottom: 20px;
	}
	.no-timeline-circle .file-btn, .xmlFileUploadWrap .file-btn{
		padding:4px 15px 0px 15px;
	}
	.docut_nad_caption_wrap{
		top:80px;
	}
	.user_hamburger_wrapper .dashboard_hamburger{
		top:231px;
	}
	.approve-certificate-btn-div .admin-btn{
		width: 74px;
	}
	.approve_certificate_wrapper .logout-btn {
		margin-left: 92px;
		margin-top:0px
	}
	.impdochref .marB30{
		margin-bottom: 0px;
	}
	.dashboard_hamburger {
		top: 235px;
		border-radius: 50%;
		width:42px;
		height:42px;
		left:11px;
	}
	.ai_dashboard_hamburger_wrapper .dashboard_hamburger.responsive_hamburger {
		top: initial !important;
	}
	.v8_1 .dashboard_hamburger{
		top:208px;
	}

	.input-wid50{
		width:85%;
	}
	.verifier-block .wid50:first-child{
		width:95%;
	}
	.student-form-sbmt button{
		margin: 0 auto 20px 0;
	}
	.verifier-banner .banner-text{
            top:50%;
    }
    .verifier-banner .banner-text .text1{
        font-size: 18px;
        line-height: 30px;
    }
    .verifier-banner .sub-heading{
        font-size: 29px;
    }
    .verifier-block{
        width:95%;
    }
    .verifier-block .student-form-detail{
        width:94%;
    }
    .verifier-block .xml_file_value{
        margin-left:0px;
        margin-top:10px;
        margin-bottom:10px;
    }
    .proof-mob{
        width:70%;
    }
     input[type="checkbox"] + .verifier_checkbox{
        margin-left: -13px !important;
    }
    .info-end-para{
        font-size: 16px;
    }
    .roleFilter .approve_certificate_data_field22 .approve_certificate_label{
        width:78%;
    }

	.aiusers .owl-controls .owl-prev{
		left:-30px;
	}
	.aiusers .owl-controls .owl-next{
		right:-28px;
	}
	.ai-carousel .owl-stage-outer{
		max-height: 280px;
	}
	.nad_benefits .benf_nad_banner_title2{
		font-size: 40px;
	}
	.knowing_nad_tab_left_part{
		margin-bottom: 0px;
	}
	.traning .sub-bullet-point li::before{
		top:12px;
	}
	.student_nad .benf_nad_banner_title1::before{
		width: 34%;
	}
	.presentation a{
		font-size: 12px;
	}
	.knowing_nad_tabs_title, .knowing_nad_slider_title{
		margin-bottom: 0px;
	}
	.nad-rolebg .security-top{
		margin-top:15px;
	}
	.Feature_nad_banner_title2{
		font-size: 37px;
	}
	.network-control .owl-controls .owl-next{
		right:0px;
		padding:44px 19px;
		top:189px;
		background-position:5px 29px;
	}
	 .network-control .owl-controls .owl-prev{
        left:0px;
        background-position: 2px 28px;
        padding:44px 19px;
        top:186px;
    }
	.aiusers .owl-controls .owl-prev{
		background-position: 15px 17px;
	}
	.aiusers .owl-controls .owl-next{
		background-position: 9px 18px;
	}
	.ai-user-space{
		padding:10px 0px;
	}
	.ai-info-block .owl-controls .owl-prev{
		left:-20px;
		height: 48px;
		background-position:8px 15px;
	}
	.ai-info-block .owl-controls .owl-next{
		right:-17px;
		height: 48px;
		background-position:8px 15px;
	}
	.verifier-banner .banner-text{
            top:67%;
    }
    .verifier-banner .banner-text .text1{
        font-size: 15px;
        line-height: 30px;
    }
    .verifier-banner .sub-heading{
        font-size: 26px;
    }
    .verifier-block{
        width:95%;
    }
    .verifier-block .student-form-detail{
        width:94%;
    }
    .verifier-block .xml_file_value{
        margin-left:0px;
        margin-top:10px;
        margin-bottom:10px;
    }
    .proof-mob{
        width:70%;
    }
     input[type="checkbox"] + .verifier_checkbox{
        margin-left: -13px !important;
    }
    .info-end-para{
        font-size: 16px;
    }
    .roleFilter .approve_certificate_data_field22 .approve_certificate_label{
        width:78%;
    }
	.nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-prev{
		left:0px;
		background: url(../images/mob-prev-ico-new.png) no-repeat #052133 6px 16px;
	}
	.nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-next{
		right:0px;
		background: url(../images/mob-next-ico-new.png) no-repeat #052133 6px 16px;
	}
	.student-nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-next{
		left:384px;
	}
	.nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-next, .nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-prev{
		padding:20px 15px
	}
	.bullet-style li p{
		padding-left: 8px;
	}
    .depo_nad_banner_wrap{
        background-position: -356px 100px;
    }
    .nad_student_benefits .studentBnefitsBnner{
        background-position: -42px 0px;
    }
    .Feature_nad_caption_wrap{
        top:93px;
    }
    .menu_icon_ctrl{
        left:-15%;
    }
    .menu-container ul li:nth-child(3){
        margin-right: 80px;
    }
   .header-search{
    	right:8px;
    }
    .menu-container ul li{
        margin-left: 0%;
    }
    .Institutions_nad_caption_wrap{
        top:105px;
    }
    .student-nad-presentation .Ndml_nad_banner_title1 {
    	margin-top:0px;
    }
    .student-nad-presentation .Ndml_nad_banner_title1{
    	font-size: 20px;
    }
     .student-nad-presentation .Ndml_nad_banner_title2{
    	font-size: 28px;
    }
     .student-nad-presentation .Ndml_nad_caption_wrap{
     	top:211px;
    }
    .student-nad-presentation .owl-controls .owl-next{
        right:-14px;
        background-position: -4px 12px;
        padding:27px 28px;
        top:187px;
    }
    .nad_ndml .padleftop{
        padding-left: 40px;
    }
    .benf_nad_banner_title1{
        margin-bottom: 0px;
    }
    .success-text{
    	margin-left: 0px;
    }
    .Institutions_nad_banner_wrap{
    	margin-bottom: 30px;
    }
    .listStyle ul li{
    	padding-top:5px;
    }
    .nad_student_benefits .studentBnefitsBnner{
    	background-position: -75px 5px;
    }
    .student_award_banner_wrap{
    	background-position: -251px 2px;
    }
    .success-text{
    	width:100%;
    }
    #validation-modal .modal-body{
    	padding: 0px  20px;
    }
    #validation-modal .modal-footer{
    	padding: 20px  20px;
    }
    #validation-modal .modal-header{
    	padding-top:10px;
    }
    #validation-modal .modal-footer button{
    	margin-bottom: 0px;
    }
}

@media (max-width: 360px){
	.white-bg {
		height: 234px;
	}
	.white-bg span {
		font-size: 18px;
	}
	.white-bg img{
		height: 120px;
	}
	.user-creation .student-form-sbmt button{
		width:130px;
	}
	#main-modal .modal-body{
		padding:0 20px 10px;
	}
	.step-div .captcha-text{
		margin-right:2px;
	}
	.aadhar-id-input{
		margin: 0px 4px;
	}
	.aadhar-id-input{
		width:80px;
	}
	.forgot-password .banner-text p.text1 {
		font-size: 21px;
	}
	.nad-presentation .ndmlcontent {
		padding:0px 28px;
	}
	.nad-presentation .traning .sub-point li:before{
		top:11px;
	}
	.nad-presentation .nad-presentation-one .nad-baaner-height {
		height: 798px;
	}
	.nad-presentation .Ndml_nad_banner_title2 {
		font-size: 25px;
	}
	#popupModal .modal-dialog{
		top:-3px;
	}
	.computer-training .computer-img-block .cabinet4 {
		padding: 57px 11px 6px;
	}
	.computer-training .upload-cabinet{
		padding:25px 0px 0px 16px ;
	}
	.computer-training .cabinet4 .docttext {
		padding: 29px 0px 0px 0px;
	}
	.computer-training .cabinet5 .docttext {
		padding: 32px 0px 0px 0px;
	}
	.computer-training .cabinet6 .docttext {
		padding: 33px 0px 0px 0px;
	}
	.computer-training .documentcenter .docttext{
		padding:27px 15px;
	}
	.v8_1 .dashboard_hamburger{
		top:246px !important;
	}
	.rupees-Block{
		font-size: 27px;
	}
	.total-charg-block{
		padding:23px 7px;
	}
	.v5_0 .student-form-sbmt button{
		width:135px;
	}
	.forgot_password_new .student-form-sbmt button{
		width:120px;
	}
	.student-form-sbmt button {
	    /*width: 115px;*/
	    width: 105px !important;
	    height: 40px !important;
	    line-height: 40px !important;
	}

	.summary-block .btn-margin{
		margin-left:10px;
	}
	.approve_certificate_from_date_wrap .field-error{
		padding-left:1%;
	}
	.btn-div img{
		margin-left: 20px;
	}
	.term_error_msg{
		bottom: 5px;
		left:-11px;
	}
	.nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-next, .nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-prev{
		top:274px;
	}
	.depo_nad_banner_wrap{
		background-position: -423px 101px;
	}
	.no-timeline-circle .file-btn, .xmlFileUploadWrap .file-btn{
		padding:4px 15px 0px 15px;
	}
	.docut_nad_caption_wrap{
		top:60px;
	}
	.approve_certificate_wrapper .logout-btn{
		margin-left:38px;
		margin-top: 0px;
	}
	.logout-btn .btn-div {
		margin-top: 10px;
		margin-bottom: 0px;
	}
	.functional-user .dashboard_hamburger{
		top:238px;
	}
	.master-data-banner-info{
		padding-top:120px;
	}
	.master-data-banner-info{
		z-index: 0;
	}
	.dashboard_hamburger{
		top:224px;
	}
	.ai_dashboard_hamburger_wrapper .dashboard_hamburger{
		top:270px;
	}
	.ai_dashboard_hamburger_wrapper .dashboard_hamburger.responsive_hamburger {
		top: initial !important;
	}
	.role_checkbox span {
		font-size: 15px !important;
	}
	.hamburger-wraper .dashboard_hamburger{
		top:240px;
	}
	.hamburger-wraper-new .dashboard_hamburger{
		top:244px;
	}
	.student-nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-next{
		left:330px;
	}
	.agree-text p{
		font-size: 17px;
	}
    .traning .sub-point-circle li:before{
        top:17px;
    }
    .listStyle{
        margin-bottom: 0px;
    }
    .security-top{
        margin-top:10px;
    }
    .nad_benefits .benf_nad_banner_title2{
        font-size: 34px;
    }
    .nad_benefits .benf_nad_caption_wrap{
        top:104px;
    }
    .network-control .owl-controls .owl-next{
        background-position: 4px 29px;
    }
    .network-control .owl-controls .owl-prev{
        background-position: 2px 28px;
    }

    .nad_role_ai .about_nad_banner_title2{
        font-size: 23px;
    }
    .Feature_nad_banner_title2{
        font-size: 33px;
    }

    .nad_ndml .padleftop{
        padding-left:40px;
    }
    .menu-container ul li:nth-child(3){
        margin-right:93px;
    }
}

@media(max-width: 320px){
	.user-creation .student-form-sbmt button{
		width:115px;
	}
	.forgot_password_new .student-form-sbmt button{
		width:105px;
	}
	.forgot-password .banner-text p.text1 {
		font-size: 19px;
	}
	.logoutebtn{
		right:3px;
	}
	#owl-demo3 .ndmlcontent{
		padding:0px 29px;
	}
	.nad-presentation .nad-presentation-one .nad-baaner-height {
		height: 763px;
	}
	.nad-presentation .nad-presentation-head::before {
		left: 16%;
	}
	.nad-presentation .register {
		padding: 40px 8px;
	}
	.nad-presentation .Ndml_nad_banner_title1 {
		font-size: 22px;
	}
	.computer-training .docut_nad_caption_wrap {
			top: 108px;
	}
	.computer-training .traning-sub-head h3{
		font-size: 25px;
	}
	.faq .signature_nad_caption_wrap{
		top:190px;
	}
	.faq .signature_nad_banner_title2{
		font-size: 27px;
	}
	.ai_dashboard_hamburger_wrapper .dashboard_hamburger{
		top:270px;
	}
	.term_error_msg{
		bottom: 1px;
		left:-10px;
	}
	.agree-text p{
		font-size: 15px;
	}
	.role-heading{
		margin-bottom: 20px;
	}
	label.checkbox + span{
		margin-left: 10px;
	}
	.no-timeline-circle .file-btn, .xmlFileUploadWrap .file-btn{
		padding:4px 15px 0px 15px;
	}
	.docut_nad_caption_wrap{
		top:40px;
	}
	.functional-user .dashboard_hamburger{
		top:267px;
	}
	.dashboard_hamburger{
		top:264px;
	}
    .verifier-banner .banner-text{
        top:52%;
    }
     input[type="checkbox"] + .verifier_checkbox{
        margin-left: -13px !important;
    }
    .menu-container ul li:nth-child(3){
    	margin-right: 48px;
    }
    .student-nad-presentation .Ndml_nad_caption_wrap{
    	top:163px;
    }
    .student-nad-presentation .Ndml_nad_banner_title2{
    	font-size: 26px;
    }
    .student-nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-next{
    	left:275px;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {

	.panel-body {
		padding: 15px 0!important;
	}
	.pwd-feilds input{height: 40px !important;line-height: 30px;color:#f08001;font-size: 18px;letter-spacing: 1px;padding: 0px 10px;margin:0 15px;border:1px solid #f08001;
    text-align: left;transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-webkit-transition: all 0.3s ease-in 0s;}
}

@media screen and (max-width: 1600px) and (min-width: 1500px) {
	.summary-block {
    width: 36%;
	}
}
