body.big-dash-m .dashboard-content {
	padding: 35px 60px 40px 30px !important;
}
.select-height ul.dropdown-menu {
    max-height: 300px !important;
}
.label-btn-block p {
	padding : 15px 26px;
	font-size : 16px;
	text-align : left;
}
.label-Search_info {
	font-size : 20px;
	font-weight: normal;
}
.Search_header {
	padding-top : 100px;
	z-index: 0;
}
.Search_m {
	/*z-index: 0;*/
}
.Search_info_container {
	display: none;
}
#transactions_search {
	display: none;
}
#important_search {
	display: none;
}
.Search_info_container_2 {
	display: none;
}
.Search_info
{
	width:100%; margin:0 auto;
}
.Search_hamburger
{
	top: 0px !important;
	left: 18px !important;
}
.Search_info_2
{
	width:75%; margin:0 auto;
}
.Search_info table tr th,.Search_info_2 table tr th
{
	padding: 15px 14px;
}
.select-master-data.dashboard_responsive_table.Search_info table tr th,.select-master-data.dashboard_responsive_table.Search_info_2   table tr th
{
	text-align: left;
}
.Search_info td,.Search_info_2 td.detail-info
{
	position: relative;
}
.select-master-data.dashboard_responsive_table.Search_info table tr td,.select-master-data.dashboard_responsive_table.Search_info_2 table tr td
{
	text-align: left;
	color: #052133;
}
.select-master-data.dashboard_responsive_table.Search_info table tr td a,.select-master-data.dashboard_responsive_table.Search_info_2 table tr td a
{
	display: block;
	color: #f29328;
	margin : 10px 0;
	text-decoration : underline;
	text-transform : uppercase;
}
.certificate-table .select-master-data.dashboard_responsive_table.Search_info_2 table tr th,
.certificate-table .select-master-data.dashboard_responsive_table.Search_info table tr th
{
	width: 70px;
}
.blue-btn-back a {
	background-color: #052133;
	box-shadow: 3px 4px 9px #999;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	height: 40px;
	letter-spacing: 0.5px;
	line-height: 40px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.4s linear 0s;
	padding: 0 25px;
}
.blue-btn-back  a:hover {
	color: #fff !important;
	text-decoration : none;
}

/* .back-button-partially-fixed {
    position: fixed;
    z-index: 100;
} */


.Search-data-date .form-group.info-field > label {
	width: auto;
	text-align: right;
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	float: left;
	margin-bottom: 0px;
	padding: 9px 0px;
}
.approve_certificate_data_date_wrap .Search-data-date .form-group.info-field > input {
	width: 49%;
	padding-left: 10px;
}
.FD {
	padding-left: 130px;
}
.top-heading-search + .border {
	background-color: #1f1f1f;
	height: 5px;
	margin: 0 auto 50px;
	width: 155px;
}
.bf2f2f2b {
	border-bottom: 1px solid #e9e9e9 !important;
}
.Search_details {
	font-size: 20px !important;
}
.rad > i {
	margin-top : -7px;
}
.master-date-div .from-field-error {
	/*bottom: 10px;	
	right: 180px;*/
	position: absolute;
	right: 128px;
	bottom: -5px;
	font-size: 13px;
	color: red;
	display: none;
}
.master-date-div .to-field-error {
	bottom: 10px;
	position: absolute;
	left: 70px;
	font-size: 13px;
	color: red;
	display: none;
}
/*.master-date-div .from-field-error.pos-static,
.master-date-div .to-field-error.pos-static { position: static; }*/


@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
	body.big-dash-m .dashboard-content {
		padding: 35px 5px 40px 5px !important;
	}
	.Search_hamburger {
		top: 0px !important;
		left: 4px !important;
	}
	.top-heading {
		font-size: 20px !important;
	}
	.top-heading-search + .border {
		width: 105px;
	}
	.blue-btn-back a {
		height: 30px;
		line-height: 30px;
		font-size: 15px;
		padding: 0 12px;
	}
	.blue-btn {
		height: 40px;
		line-height: 40px;
		font-size: 11px !important;
		padding: 0 12px !important;
	}
	.select-type-user {
		width: 100%;
	}
	.Search_hamburger_wb {
		top: 230px !important;
		left: 4px !important;
	}
	.dashboard_content_wrapper .btn-div {
		margin-bottom: 0px !important;
		margin-top: 300px !important;
	}
	.blue-btn > img {
		width: 30px !important;
		height: 30px !important;
		margin-left: 10px !important;
	}
	/*.dashboard_content_wrapper {
    	z-index: -9999;
    	}*/
    }

    @media screen and (max-width: 360px) {
    	.Search_hamburger_wb {
    		top: 264px !important;
    		left: 4px !important;
    	}
    	/*body.big-dash-m .dashboard-content {
    		padding: 25px 0px 25px 0px !important;
    	}*/

    }

    @media screen and (max-width: 767px) {
    	.Search_info_2
    	{
    		width: 100%;
    		margin:0 auto;
    	}
    	.top-heading-search + .border {
    		height: 2px;
    		width: 80px !important;
    		margin: 0px auto 26px;
    	}
    	.label-btn-block p {
    		padding: 15px 0px;
    		font-size: 16px;
    		text-align: left;
    	}
    	.FD {
    		padding-left: 0px;
    	}
    	.approve_certificate_data_date_wrap .Search-data-date .form-group.info-field > input {
    		width: 100%;
    	}
    	.Search_details {
    		font-size: 14px !important;
    	}
    }
    @media (max-width: 767px) {
    	.navbar-fixed-bottom, .navbar-fixed-top {
    		z-index: 1030 !important;
    	}
    }
    @media screen and (max-width: 1500px) and (min-width: 1100px) {

    	.master-date-div .from-field-error {
    		position: absolute;
    		right: 50px;
    		bottom: -5px;
    		font-size: 12px;
    		color: red;
    		display: none;
    	}
    	.approve_certificate_data_date_wrap .Search-data-date .form-group.info-field > input {
    		width: 58%;
    		padding-left: 10px;
    	}


    }

    /*Student Aadhaar update css*/

    .aadhaar-adhar-summary .aadhaar-form-detail {
    	box-shadow: none !important;
    	-webkit-box-shadow: none !important;
    	margin: auto;
    	padding-left: 150px;
    	padding-right: 50px;
    	padding-top: 40px;
    	position: relative;
    	width: 100%;
    }
    .aadhaar-adhar-summary .confirm-aadhaar-form-detail {
    	box-shadow: none !important;
    	-webkit-box-shadow: none !important;
    	margin: auto;
    	padding: 30px;
    	position: relative;
    	width: 100%;
    }
    .confirm-aadhaar-form-detail P.info-cat-text {
    	padding: 0 0 35px 0;
    }
    .adhar-number {

    	display: inline-block;
    }
    .enter-adhar {
    	color: #1f1f1f;
    	text-transform: capitalize;
    	display: inline-block;
    }

    .aadhaar-form-detail {
    	padding-left: 81px !important;
    	box-shadow: none !important;
    	-webkit-box-shadow: none !important;
    }
    .aadhaar-form-detail input[type='checkbox'] + span {
    	float: left;
    	margin: 5px 30px 5px 0;
    }
    .aadhaar_accounts_details_otp {
    	/* float: left; */
    	display: none;
    	/* width: 100%; */
    	height: 81px;
    	margin: 20px 0px;
    	padding: 0 80px;
    }
    .aadhaar_accounts_details_otp .otp_txt, .aadhaar_accounts_details_otp .didnt_otp_txt {
    	line-height: 35px;
    	font-size: 16px;
    	color: #000;
    	float: left;
    	font-weight: normal;
    	font-family: 'open_sansregular';
    	/*width: 19%;*/
    	text-align: left;
    }
    .aadhaar_accounts_details_otp .otp-box {
    	float: left;
    }
    .aadhaar_accounts_details_otp .otp-box input {
    	float: left;
    	width: 277px;
    	height: 34px;
    	background: #fff;
    	font-family: 'open_sansregular' !important;
    	font-size: 16px;
    }
    .aadhaar_accounts_details_otp .didnt_otp_txt {
    	width: auto;
    	margin-left: 0px;
    }
    .aadhaar_accounts_details_otp a {
    	margin-left: 15px;
    	text-align: left;
    	float: left;
    	font-family: 'open_sansregular' !important;
    	font-size: 16px;
    	line-height: 36px;
    	font-weight: 400;
    }
    .otp-box i {
    	left: 30px !important;
    }
    .student-form-sbmt button:active {
    	background-color: #f08001;
    }
    .modal .aadhaar-modal-dialog {
    	top: 25% !important;
    }
    .Confirm-aadhaar p {
    	color: #f67600;
    	text-align: center;
    	font-size: 18px;
    	font-weight: 600;
    }
    .students-acoounts-details-point {
    	padding-right: 0px !important;
    }

    @media screen and (max-width: 1500px) and (min-width: 1100px) {
    	.aadhaar-form-detail {
    		padding: 40px 0 0 80px !important;
    	}
    	.aadhaar_accounts_details_otp {
    		padding: 0 0 0 50px;
    	}
    	.enter-adhar span {
    		font-size: 16px;

    	}   


    }
    @media screen and (min-device-width: 320px) and (max-device-width: 768px) {

    	.aadhaar-adhar-summary .aadhaar-form-detail {
    		padding: 30px 0px !important;
    	}
    	.aadhaar_accounts_details_otp {
    		padding: 0px;
    	}
    	.aadhaar_accounts_details_otp .otp-box input {
    		width: 100%
    	}
    	.aadhaar_accounts_details_otp .otp_txt,
    	.aadhaar_accounts_details_otp .didnt_otp_txt {
    		font-size: 14px;
    	}
    	.otp_submit_wrap {
    		margin: 0px;
    	}
    	.otp_submit_wrap button {
    		position: relative;
    		top: 0px;
    		left: 0px;
    		margin: 0px;
    		width: 25%;
    	}
    	.Confirm-aadhaar p {
    		color: #f67600;
    		text-align: center;
    		font-size: 16px;
    		font-weight: 600;
    	}
    	.modal .modal-body {
    		padding: 0 15px 0px;
    	}
    	.modal-footer button {
    		background-color: #052133;
    		border: medium none;
    		box-shadow: 3px 4px 9px #999;
    		padding: 8px 40px;
    		color: #fff;
    		font-size: 16px;
    		line-height: 16px;
    		margin-bottom: 15px;
    		text-transform: uppercase;
    		transition: all 0.4s linear 0s;
    		-webkit-transition: all 0.4s linear 0s;
    		-moz-transition: all 0.4s linear 0s;
    	}
    	.modal-footer {
    		border: 0px;
    		padding-bottom: 0px; 
    		text-align: center;
    	}
    	.add-ress {
    		margin-top: 0px;
    	}
    	.students-acoounts-details-point11 .form-group.info-field > input, .students-acoounts-details-point12 .form-group.info-field > input {
    		width: 65% !important;
    	}
    	.students-acoounts-details-point11 .form-group.info-field > label, .students-acoounts-details-point12 .form-group.info-field > label {
    		width: 35% !important;
    	}
    }
