.sitebox {
	background: #fff;
	box-shadow: 7px 8px 76px 1px rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
	margin-bottom: 40px;
	padding: 40px 30px;
	font-family: 'open_semibold';
}

.sitebox ul li a {
	color: #8c221d;
}

.sitebox ul li {
	color: #8c221d;
	font-size: 24px;
	margin-left: 11px;
	margin-top: 3px;
	line-height: 30px;
	text-transform: uppercase;
	position: relative;
}

ul.style-none, ul.style-none ul {
	list-style: none;
	padding-left: 20px;
}

li.first-ul::before {
	content: '|';
	display: inline-block;
	width: 10px;
	height: 10px;
	padding-right: 20px;
	top: 0px;
	color: #f08001;
	/*font-size: 26px;*/
}

li.second-ul::before {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	left: -16px;
	top: 10px;
	color: #f08001;
	background-color: #f08001 ;
	border-radius: 50%;
	position: absolute;
}

li.third-ul::before {
	content: '';
	display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
	background: url(../images/sitemap-circle.png) no-repeat;
}

ul li.second-ul {
	font-size: 20px;
	margin-left: 25px;
}

ul li.third-ul {
    font-size: 15px;
    font-weight: 500;
    margin-left: 15px;
}

.min-height {
	min-height: 277px;
}



@media only screen and (min-width:320px) and (max-width:768px) {
	.sitebox, .sitebox .col-xs-12 {
		padding: 10px 0px;
	}

	ul.style-none, ul.style-none ul {
		list-style: none;
		padding: 0px;
	}

	.min-height {
		min-height: 0px;
	}

	.sitebox ul li {
		font-size: 20px;
	}

	ul li.second-ul {
		font-size: 14px;
		margin-left: 35px;
	}

	ul li.third-ul {
		font-size: 13px;
		margin-left: 25px;
	}
}