
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_semibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_semibolditalic';
    src: url('../fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'SegoeUI-Bold';
    src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Bold.woff') format('woff'), url('../fonts/SegoeUI-Bold.ttf')  format('truetype'), url('../fonts/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI-Semibold';
    src: url('../fonts/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Semibold.woff') format('woff'), url('../fonts/SegoeUI-Semibold.ttf')  format('truetype'), url('../fonts/SegoeUI-Semibold.svg#SegoeUI-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI';
    src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI.woff') format('woff'), url('../fonts/SegoeUI.ttf')  format('truetype'), url('../fonts/SegoeUI.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../fonts/opensans-semibolditalic-webfont.eot');
    src: url('../fonts/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibolditalic-webfont.woff') format('woff'),
    url('../fonts/opensans-semibolditalic-webfont.ttf') format('truetype'),
    url('../fonts/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff'),
    url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff'),
    url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


.register{ width:100%; float: left; background: #ebebeb;padding-bottom: 60px;}
.register .wrapper h2{color: #f08001;font-size:26px; font-family: 'open_sanssemibold';}
.border-bottom {border: 2px solid #000;width: 7%;margin: 0 auto; height:4px;}
.register .wrapper p{color: #1f1f1f;font-size:1.4em;margin: 18px 0 0 0;font-family:'SegoeUI';}
.register .wrapper span{color: #1f1f1f;font-size:1.4em;font-family:'SegoeUI';display: block;text-align: center;}
.information{ width:100%; float: left;    padding-bottom: 48px; position: relative;}
.register-line {position: absolute;top: 99px;left: 283px; width: 100%;}
.register-info{display: block; margin: 34px 0 0 0px;float: left; padding:0; text-align: center;width: 100%;}
.register-info p.title{color:#1f1f1f;font-size: 1.1em; font-family: 'SegoeUI-Semibold';}
.register-info span.title1{color:#1f1f1f;font-size: 1.1em; font-family: 'SegoeUI-Semibold'; display: block;}
.register-info img{margin: 0 auto; }
a.register-btn {background-color: #052133;box-shadow: 3px 4px 9px #999;color: #fff;display: inline-block;font-size: 18px;height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s linear 0s;
    padding: 0 47px;margin: 0 0 0 569px;}
/* banner */

.student-nad{  background: url(../images/banner_imgs/student-nad-banner1.jpg) no-repeat center;background-size: cover;
   /* margin-bottom: 25px;*/min-height: 505px;}
   .Ndml_nad_banner_wrap{ margin-bottom:0;}
   .student-nad-height{ margin-bottom: 21px;background: #fff;}
   .owl-carousel .owl-item img{ width:100%;}
   .ndmlcontent{padding: 0 50px;}
   .owl-certificate-slider .network-control .owl-controls .owl-prev, .network-control .owl-controls .owl-next{right: -18px;
    top: 419px;
    padding: 47px 22px;background: url(../images/next_arrow_new.png) no-repeat #052133 4px 36px;}

.owl-certificate-slider .owl-prev.fa.fa-arrow-left {padding: 48px 22px;top: 47%;left: -1%;background: url(../images/prev_arrow_new.png) no-repeat #052133 4px 36px;}

   .student-certificate{ background: url(../images/certificate-background1.png) no-repeat center;background-size: cover;}

    .certificate-info {text-align: center;padding: 71px 0 71px 0;}
    .certificate-info img{margin: 0 auto;padding-bottom: 15px;width: 100px;}
    .certificate-info p{ color:#fff; font-size: 20px;font-family: 'open_sanssemibold';margin: 0;}
    .certificate-info span{ color:#fff; font-size: 20px;font-family: 'open_sanssemibold';}
 .certiface-heading h3{color: #f08001;font-size:2em; text-align: center; text-transform: uppercase;font-family: 'open_sanssemibold';padding-top: 23px;}

.Ndml_nad_caption_wrap .brdnone .student-nad-banner-text{ border:none;}
 .background-space{ background: #fff;}

 .owl-certificate-slider .owl-prev.fa.fa-arrow-left:hover{background-color:#f08001;}
 .Ndml_nad_banner_title1.student-nad-banner-border::before{ border:none; content:none;}
 .Ndml_nad_banner_title2.student-nad-title2 {font-size: 2.1em;margin: 0;}

/* for slider issue */
 .owl-stage-outer{ min-height: 900px;}

 .student-nad-banner-text{top: 267px;}