@media (max-width: 1366px){
.certificate-info {
    padding: 8px 0 51px 0;}
.owl-stage-outer {min-height: 817px;}

.owl-certificate-slider .network-control .owl-controls .owl-prev, .network-control .owl-controls .owl-next  {
	padding: 48px 20px;
    top: 49%;
    right: -18px;}

.owl-certificate-slider .owl-prev.fa.fa-arrow-left {    padding: 48px 20px;top: 49%;left: -1%;}
.certificate-info {padding: 49px 0 51px 0;}
.padleftop.ndmlcontent.student-nad-spacing.col-md-7.col-xs-12 {padding-left: 45px;}

a.register-btn {margin: 0 0 0 539px;}


}


@media (max-width: 1024px){

.register-line{ display: none;}

.wrapper{ width:100%;}
a.register-btn{margin: 0 0 0 440px;}
.register-info span.title1{font-size: 0.9em;}
.register-info p.title{font-size: 0.9em;}
.certificate-info p{font-size: 17px;}
  .student-nad-height{ width:100%;}
.owl-certificate-slider .network-control .owl-controls .owl-prev, .network-control .owl-controls .owl-next  {
        padding: 44px 19px;background-position: 2px 28px;
    top: 52%;
    right: -17px;}
 .owl-certificate-slider .owl-prev.fa.fa-arrow-left {padding: 44px 19px;background-position: 2px 28px;
    top: 51%;
    left: -2%;}
     .owl-stage-outer{ min-height: 0px;}


} 

@media (max-width: 768px){

.register-line{ display: none;}
.wrapper{ width:100%;}
.register-info{ float: none;}
a.register-btn{margin: 0 0 0 322px;}
.certificate{ padding:0;}
.certificate-info {padding: 0 0 9px 0;}
.register .wrapper p{font-size: 1.2em;}
.register .wrapper span{font-size: 1.2em;}



}


@media (max-width: 736px){
.register-line{display: none;}
a.register-btn{margin: 0 0 0 300px;}
.certificate-info img { margin: 0 auto;padding-bottom: 15px; width: 100px;}
.certificate-info{padding-right: 33px;}
.register-info p.title{font-size: 0.7em;}
.register-info span.title1{font-size: 0.7em;}
.owl-certificate-slider .network-control .owl-controls .owl-prev, .network-control .owl-controls .owl-next  {
	padding: 48px 20px;
    top: 49%;
    right: -4px;}

  .owl-certificate-slider .owl-prev.fa.fa-arrow-left {padding: 48px 26px;top: 47%;left: 0%;}

 .owl-prev.fa.fa-arrow-left {left: -20px;}
 .certificate {padding: 0 0 41px 0;}
 .certificate-info {padding-bottom: 20px;float: left;padding-right: 38px; padding-left: 31px;}
 .certificate-info img{ width:76px;}
 .certificate-info p{ font-size: 16px;}
 .certificate-info span{font-size: 16px;}
 .register-info{padding: 0 35px 0 6px;}
 .student-nad{min-height: 349px;}

 /* for slider */

 .owl-stage-outer{ min-height: 0px;}

}

@media (max-width: 667px){

.register-info {padding: 0 17px 0 6px;}
.student-nad{min-height: 349px;}
a.register-btn {margin: 0 0 0 272px;}
.owl-certificate-slider .network-control .owl-controls .owl-prev, .network-control .owl-controls .owl-next  {
	        padding: 44px 19px;background-position: 2px 28px;
    top: 42%;
    right: -4px;}
 .owl-certificate-slider .owl-prev.fa.fa-arrow-left {    padding: 44px 19px;background-position: 2px 28px;
    top: 42%;
    left: -2%;}
.certificate-info{padding-right: 16px;}
.certiface-heading h3{font-size: 1.4em;}
}


@media (max-width: 640px){

.register-info {padding: 0 11px 0 6px;width: 49%;}
.certiface-heading h3{font-size: 1.2em;}
.network-control .owl-controls .owl-prev, .network-control .owl-controls .owl-next{top: 41%;}
.certificate-info {padding-right: 8px;padding-left: 23px;}
.register .wrapper p{font-size: 1.2em;}
.register .wrapper span{font-size: 1.2em;}
.register-info p.title{ font-size: 0.9em;}
.register-info span.title1 {font-size: 0.9em;}

}

@media (max-width: 568px){
a.register-btn {margin: 0 0 0 220px;}
.nad_ndml .nad-baaner-height {height: 346px;}
.certificate-info{padding-left: 7px;}
.owl-certificate-slider .owl-prev.fa.fa-arrow-left{left: -3%;}
.owl-certificate-slider .network-control .owl-controls .owl-prev, .network-control .owl-controls .owl-next{padding: 48px 20px;
  right: 7px;}
  .Ndml_nad_caption_wrap {top: 139px;}
}



@media (max-width: 480px){

.register .wrapper p {font-size: 1em;}
a.register-btn {margin: 0 0 0 180px;}
.owl-certificate-slider .network-control .owl-controls .owl-prev, .network-control .owl-controls .owl-next  {
	    padding: 42px 23px;
    top: 26%;
    right: -13px;}
 .owl-certificate-slider .owl-prev.fa.fa-arrow-left {padding: 41px 22px;
    top: 25%;
    left: -1%;}
.col-md-6.col-lg-12.col-xs-12.fLt.nad-Network_Tin_carousel.nad-baaner-height.student-nad-height {
    height: 287px;}
    .certificate-info img {width: 64px;}
.certificate-info p {font-size: 13px;}
.certificate-info span{font-size: 13px;}
.certificate-info{padding-left: 2px;}
.student-nad-banner-text{top: 141px;}
}

@media (max-width: 414px){
.register-info {width: 100%;}
.certiface-heading h3{font-size: 1.2em;}

.certificate {padding: 0 0 32px 0;}
.register-line{ display: none;}
a.register-btn{margin: 0 0 0 140px;}
.student-nad{min-height: 337px;}
.Ndml_nad_banner_title1{font-size: 18px;}
.register .wrapper p{margin:0;}
.register .wrapper span {font-size: 1em;}
.register-info{margin: 12px 0 0 0px;}
.col-md-6.col-lg-12.col-xs-12.fLt.nad-Network_Tin_carousel.nad-baaner-height.student-nad-height {
    height: 282px;}
 .certificate-info img{padding: 25px 0 0 0;width:100px; margin:0 auto;}
 .certificate-info{ float: none;padding: 0 0 0 0;}
.certificate-info p{font-size: 17px;}
.certificate-info span{ font-size: 17px;}
.owl-certificate-slider .network-control .owl-controls .owl-prev, .network-control .owl-controls .owl-next  {
	    padding: 44px 19px;background-position: 2px 28px;
    top: 52%;
    right: -13px;}
 .owl-certificate-slider .owl-prev.fa.fa-arrow-left {padding: 44px 19px;background-position: 2px 28px;
    top: 51%;
    left: -4%;}
.student-nad-banner-text{top: 141px;}
.border-bottom{ width:25%;}
}


@media (max-width: 375px){
/*.wrapper {
    width: 364px;}*/
.Ndml_nad_banner_title1{font-size: 20px;}
.certificate-info img{margin: 0 auto;}
.register-line{margin: 0 0 0 129px}
.certiface-heading h3 { font-size: 1.1em;}
.owl-certificate-slider .network-control .owl-controls .owl-prev, .network-control .owl-controls .owl-next  {
	    padding: 41px 19px;
background-position: 2px 28px;
top: 49%;
right: -19px;}
 .owl-certificate-slider .owl-prev.fa.fa-arrow-left {
    padding: 41px 19px;
background-position: 2px 28px;
top: 48%;
left: -4%;
}
.student-nad-banner-text{top: 141px;}
.register .wrapper p{padding-top: 22px;}
.register .wrapper span{font-size: 1em;}
a.register-btn {margin: 0 0 0 128px;}
}

@media (max-width: 360px){
.certiface-heading h3 {font-size: 1em; padding-top: 1px;}
a.register-btn {margin: 0 0 0 82px;}
.register-line {display: none;}
.col-md-6.col-lg-12.col-xs-12.fLt.nad-Network_Tin_carousel.nad-baaner-height.student-nad-height {
    height: 254px;}
    .certificate {padding: 0px 0px 32px 0;}
.certificate-info img{padding: 25px 0 0 0;width:100px;}
.student-nad{min-height: 337px;}
.register .wrapper p{margin:0;padding: 14px 9px 0 4px;
    font-size: 1em;}
    .register .wrapper span{font-size: 1em;}
.register-info{margin: 12px 0 0 0px;}

.student-nad-banner-text{top: 141px;}
.register .wrapper h2{font-size: 27px;}
}

@media (max-width: 320px){
	.Ndml_nad_banner_title1 {font-size: 18px;}
	.Ndml_nad_banner_title2{ font-size: 20px;}
	a.register-btn {margin: 0 0 0 81px;}
	.certiface-heading h3 {font-size: 0.8em;}
	.network-control .owl-controls .owl-prev{top: 79px;}
	.network-control .owl-controls .owl-next{ top:82px;}
	.register-line {display: none;}
	a.register-btn {margin: 0 0 0 90px;}
	.owl-certificate-slider .network-control .owl-controls .owl-prev, .network-control .owl-controls .owl-next  {
        padding: 41px 19px;
background-position: 2px 28px;
top: 49%;
right: -19px;}
 .owl-certificate-slider .owl-prev.fa.fa-arrow-left {
    padding: 41px 19px;
background-position: 2px 28px;
top: 48%;
left: -4%;
}
	.certificate {padding: 0 0 32px 0;}
	.student-nad-banner-text{top: 141px;}
	.register .wrapper h2{font-size: 26px;}
}
/*.wrapper {width: 322px;}*/

