.student-geievance{ margin-top: 100px; position: relative;}
.student-grievance-hamburger{ position: absolute;    top: initial;
    left: 22px; }


    @media screen and (max-width: 450px){
    .student-grievance-hamburger {
    position: absolute;
    top: initial;
    left: 5px;
}
    

}