@media (max-width: 1600px){
responsive.css:161
.student-nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-prev {
    left: 0px;
    top: 353px;
    padding: 60px 20px;
    background-position: 5px 49px;
}



}

@media (max-width: 450px){

.student-nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-next {
    left: 345px;
}
}

@media (max-width: 360px){

 
.nad-presentation .ndmlcontent {padding: 0px 0;}
.student-nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-next {
    left: 330px;}

}


@media (max-width: 320px){
.student-nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-next {
    left: 290px;
}
.nad-presentation .ndmlcontent {
    padding: 0px 0;
}

}