.no_float { float: none !important; }
.dib { display: inline-block !important; }
.colorf08001 {color: #f08001 !important;  }
.color939393{ color: #939393 !important; }
.text-decorate { text-decoration: underline !important; }
.openSans { font-family: 'open_sansregular' !important; }
.no_margin { margin: 0 !important; }
.mb40 { margin-bottom: 30px !important; }
.mt15 { margin-top: 15px !important; }
.mar_auto { margin: auto !important; }
.a11_5 .open-sans-semibold { font-family: 'open_semibold' !important; }
.no-pb { padding-bottom: 0 !important; }
.no-mb{ margin-bottom: 0 !important; }

.dashboard_hamburger {     top: 22px; }

.table>thead>tr:first-child>th:first-child,
.table>tbody>tr>td:first-child { padding-left: 25px; }

.a11_3 .tempdesc textarea { margin-top: 5px; }

.filter_title,
.share_certificate12_inner_point .approve_certificate_label,
.approve_certificate_data_date_wrap .master-data-date .form-group.info-field > label,
label.checkbox + span {
	font-family: 'open_sansregular';
	color: #333333;
	font-size: 17px;
}

.xml_file_value { margin: 0; }

#seat_number_error {
	width: 96%;
	margin: 10px auto 0;
}

.no_float.mar_auto {     text-align: left; }

.tempdesc textarea {
	padding: 15px;
	width: 100% !important;
	font-weight: 700;
}

.tempdesc textarea.h60 {
	height: 60px;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	color: #f08001;
	font-weight: 700;
}

.xmlFileUploadWrap .xml_file_value {
	height: 44px;
	line-height: 44px;
	bottom: 0;
	padding: 0px 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	margin-right: 10px;
	max-width: 263px;
	color: #ddd;
	font-size: 16px;
}

.a11_1 .xml_file_txt,
.a11_1 .uploadfile_margin span:first-child { width: 260px; }

/* .file-format {     width: 300px; */
    /* display: inline-block; */
    /* text-align: left; } */

.xmlFileUploadWrap .xmlLabel { margin: 0; margin-left: 30px; }

.xmlFileUploadWrap {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100%;
	margin-left: 10px;
}

.filter-div {
	margin: 10px 0;
	padding-bottom: 5px;
}

.pl30 { padding-left: 50px; }

.pl70 { margin-top: 20px; }

.sample-data .xmlFileUploadWrap { justify-content: center; }

.method-created {
	font-family: 'open_sansregular' !important;
	border-bottom: 1px solid #cfcfcf;
	margin-left: 10px;
	display: inline-block;
	color: #f08001;
	font-weight: 700;
}


.a11_3 .filter_title {
	width: 190px;
	display: inline-block;
	text-align: left;
}

.a11_3 .method-created {
	width: 300px;
	display: inline-block;
	text-align: left;
}

.note-div { margin-bottom: 30px; }

.approve_certificate_data_field .filter_title {
	/* float: left; */
	margin-right: 10px;
}

.a11_4 .approve_certificate_data_field .filter_title { float: left; }

.create-mapping-cta {
	padding-top: 20px;
	clear: both;
}

td .info-field input {
	height: 40px;
	border: 1px solid #f08001;
}

.upload_certificate_field_wrap .share_certificate12_inner_point .form-group {
	min-width: 235px;
	width: 50%;
	text-align: left;
}

.select-master-data.dashboard_responsive_table table tr td,
.select-master-data.dashboard_responsive_table  table tr th { text-align: left; }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #f08001;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #f08001;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #f08001;
}
:-moz-placeholder { /* Firefox 18- */
	color: #f08001;
}

.share_certificate12_inner_point label {
	margin-top: 0;
	line-height: 30px;
}

.info-field input.seat-number {
	padding-left: 10px;
	color: #939393;
}


.seat-number::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #939393;
}
.seat-number::-moz-placeholder { /* Firefox 19+ */
	color: #939393;
}
.seat-number:-ms-input-placeholder { /* IE 10+ */
	color: #939393;
}
.seat-number:-moz-placeholder { /* Firefox 18- */
	color: #939393;
}

.approve_certificate_data_date_wrap .master-data-date .form-group.info-field.dob > label {
	width: 50%;
}

.approve_certificate_data_date_wrap .master-data-date .form-group.info-field > input.DOB {
	width: 41%;
}

.status_details_txt { margin-top: 30px; }


.a11_4 .dashboard_responsive_table  table tr th,
.a11_4 .dashboard_responsive_table  table tr td {
	padding: 15px 12px;
	vertical-align: middle;
}

.a11_4 .dashboard_responsive_table  table tr th:first-child,
.a11_4 .dashboard_responsive_table  table tr td:first-child {
	padding: 15px 40px;
}

.approve_certificate_data_field { margin-bottom: 10px; }


td .form-group { margin-bottom: 0; }

.approve_certificate_dashboard_content { background: rgba(243,	243,	243, 0.3); }

body.big-dash-m .dashboard-content {
	width: 73%;
	padding-right: 0;
}

.a11_4 .table-responsive {
	width: 96%;
	margin: 30px auto 0;
}

.a11_4 .approve_btn a { margin-top: 0; }

.dummy-placeholder {
	position: absolute;
	top: 15px;
	left: 15px;
}

.dummy-placeholder-container { position: relative; }

.a11_5 .upload_certificate_btn .blue-btn {
	width: 200px;
}

label.checkbox {
	float: left;
	margin: 0;
	margin-top: 3px;
}

.marB30 {
	margin-bottom: 30px;
}

.a11_5 .btn-div {
	margin-bottom: 0;
	margin-top: 20px;
}

.a11_5 .approve-master-data-form,
.a11_2 .share_certificate12_inner_point  { padding: 0; }

.paging-nav {
	text-align: center;
	position: absolute;
	bottom: -60px;
	left: 50%;
	transform: translateX(-50%);
}

.paging-nav a {
	padding: 7px 15px;
	background: rgba(52,52,52,0.1);
	margin-left: 10px;
	font-size: 16px;
	font-weight: 700;
	width: 40px;
  height: 40px;
  line-height: 25px;
}

.paging-nav a:first-child { margin-left: 0; }

.paging-nav a.selected-page { background: #f08001; }

.paging-nav a.prev-arrow,
.paging-nav a:first-child {
	background: url('../images/ai-pages/arrow-left.jpg') no-repeat;
	background-size: contain;
	text-indent: -9999px;
}

.paging-nav a.next-arrow,
.paging-nav a:last-child {
	background: url('../images/ai-pages/arrow-right.jpg') no-repeat;
	background-size: contain;
	text-indent: -9999px;
}

/* Small Desktop Screens */
@media screen and (max-width: 1366px) {
	.approve_certificate_data_date_wrap .master-data-date .form-group.info-field.dob > label {
		width: 56%;
	}

	.dummy-placeholder { top: 17px; }

	.approve_certificate_data_date_wrap .master-data-date .form-group.info-field > input.DOB { width: 40%; }

	.approve_certificate_from_date_wrap .field-error {
    padding-left: 50%;
  }
}

/* Standard Mobile Screens */
@media screen and (max-width: 767px) {

	.field-error { text-align: left; }

	.dummy-placeholder { font-size: 15px; }

	body.big-dash-m .dashboard-content { width: 85%; }

	.note-div { margin-bottom: 0; }

	.dummy-placeholder { text-align: left; }

	.pl30 { padding-left: 0; }

	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) { margin-left: 0; }

	.pl30 button,
	.pl70 button,
	.mapped-events button { min-width: 280px; }

	.xmlFileUploadWrap { display: block; }

	.xmlFileUploadWrap > span,
	.xmlFileUploadWrap > label {
		margin-left: 0;
		margin-bottom: 10px;
		font-size: 15px;
	}

	.approve_certificate_data_filter_new > div {
	text-align: left;
	}

	.filter_title { font-size: 15px; }

	.upload_certificate_btn .blue-btn { margin-top: 20px; }

	.pl70 .text-center,
	.xmlFileUploadWrap.text-center { text-align: left; }

	.xmlFileUploadWrap.text-center  { margin-bottom: 20px; }

	.a11_2 .upload_certficate_data_wrapper,
	.a11_2 .upload_certficate_data_form,
	.a11_3 .upload_certficate_data_wrapper,
	.a11_3 .upload_certficate_data_form,
	.a11_4 .upload_certficate_data_wrapper,
	.a11_4 .upload_certficate_data_form { margin-top: 35px; }

	.a11_2 .tempdesc textarea,
	.a11_3 .tempdesc textarea {
		font-size: 14px;
		padding: 10px;
	}

	.a11_2 .uploadfile_margintop span:first-child,
	.a11_3 .uploadfile_margintop span:first-child {
		padding: 0;
		width: auto;
	}

	.a11_2 .approve_btn a,
	.a11_3 .approve_btn a { margin-top: 0; }

	.a11_2 .approve_btn a,
	.a11_3 .approve_btn a,
	.a11_1 .upload_certificate_btn a {
		width: 135px;
		margin: auto;
		margin-top: 20px;
	}

	.a11_3 .approve_certificate_data_filter_new .text-center { text-align: left; }

	.a11_3 .approve_certificate_data_filter_new .method-created,
	.a11_2 .approve_certificate_data_filter_new .method-created { margin-left: 0; }

	.a11_3 .status_details_txt { margin-top: 0; }

	.tablemarginbott,
	.dashboard_responsive_table > .table {
    margin-bottom: 0 !important;
	}

	thead { background: #052133; }

	.a11_4 .approve_certificate_data_field { margin-bottom: 0; }

	.mapped-events .text-center,
	.a11_2 .approve_certificate_data_filter_new .text-center { text-align: left; }

	.master-data-date { margin-bottom: 15px; }

	.approve_certificate_data_date_wrap .master-data-date .form-group.info-field > input.DOB { width: 45%; }

	label.checkbox + span {
		margin-left: 0;
		font-size: 15px;
	}

	.a11_5 .Template_Details {
		padding: 0 15px;
	}

	.upload_certificate_form > div { padding: 0 10px; }

	.input-margin-right { margin-right: 0; }

	.approve_certificate_data_field .master-div { padding-right: 0; }

	.a11_3 .method-created {
		width: 100%;
		font-size: 15px;
	}

	.a11_4 .approve_certificate_from_date_wrap .master-data-date .form-group.info-field > label {
		height: auto;
	}

	.a11_4 .approve_certificate_data_date_wrap .master-data-date .form-group.info-field.dob > label {
		width: 100%;
	}

	.a11_4 .approve_certificate_data_date_wrap .master-data-date .form-group.info-field > input.DOB { width: 70%; }

	.xmlFileUploadWrap .xmlLabel { margin-left: 0; }

	.a11_5 .col-xs-12.col-lg-3.no_pad { text-align: left; }

	.upload_certificate_form > div.table-responsive { padding: 0; }

	.paging-nav {
		left: 0;
    right: 0;
    transform: none;
    bottom: -40px;
	}

	.a11_4 .status_details_txt .top-heading {
		padding-top: 20px;
	}

}