.update-aadhaar { 
	margin-top: 8px;
}
.dashboard-content {
	padding: 35px 45px 40px 30px;
	 width: 76%;
}
.aadhaar-container {
 background: #fff;
}
.aadhaar-container .aadhaar-border{
	width: 152px; 
	height:4px;
	margin: 0 auto 28px;
}
.notes-info { 
	background: #f3f3f3;
	padding: 37px 25px;
	box-shadow: 7px 7px 5px #e9e9e9;   
	margin-bottom: 34px;
}
.notes-info p {
 display: block; 
 width: 100%; 
 color:#f08001;
 font-size: 12px; 
 font-family: 'SegoeUI';
}
.notes-info span { 
	display: block; 
	width: 100%; 
	color:#1f1f1f; 
	font-size: 12px; 
	font-family: 'open_sanssemibold_italic';
}
.form-info{ 
	width:56%;
	margin: auto;
	/*text-align: center;*/
}
.form-info .aadhaar-text { 
	float: left;
	margin-right: 27px;
	margin-left: 10px;
}
.form-info .aadhaar-no { 
	float: left;
}
.form-info .aadhaar-text span {
	color:#000; 
	font-size: 14px;
	font-family: 'open_sansregular';
	text-transform: none;
}
 .aadhaar-authenti input[type='checkbox'] + span {
  float: left;
  margin-right: 8px;
}
 .aadhaar-authenti {
 	margin-top: 30px;
 	 width:100%;
 }
  .aadhaar-authenti .adhar_registration_checkbox_text{ 
  	width: 100%;
 }
 .aadhaar-authenti .adhar_registration_checkbox_text p{ 
 	color:#1f1f1f; 
 	font-size: 14px;
 	font-family: 'SegoeUI';
 	/*width: 100%;*/
 	width:625px;
    text-align: left;
 }
 /*.aadhaar-authenti .adhar_registration_checkbox_text  span {
  color:#1f1f1f; font-size: 14px;font-family: 'SegoeUI';
  }*/
 .adhaar-submit {
 	width: 100%;
 	float: left;
 }

.form-info .otp-fields {
	margin: 0 0 0 26px;

}
 .form-info .otp-fields span{
 	color: #000;
    font-size: 15px;
    font-family: 'open_sansregular';
    text-transform: none;
}

/* media query */

@media screen and (max-width:1366px){

.form-info{ 
	width:66%;
}

}

@media screen and (max-width: 768px){
.form-info{
		width: 100%;

	}
.form-info .aadhaar-text{ 
	float: none; 
	margin: 0;
	text-align: center;}
.adhar-number input{ 
	width: 31%;
	margin-right: 8px;
}
.adhar-number {
    margin-top: 21px;
    width: 100%;
    float: none;
}

.aadhaar-authenti .adhar_registration_checkbox_text p{
 width: 100%;
font-size: 12px;
text-align: center;
}

.form-info .otp-fields span{ display: block;}

}


@media screen and (max-width: 450px){

.form-info{
		width: 100%;

	}
.form-info .aadhaar-text{ 
	float: none; 
	margin: 0;
	text-align: center;}
.adhar-number input{ 
	width: 30%;
	margin-right: 8px;
}
.adhar-number {
    margin-top: 21px;
    width: 100%;
    float: none;
}

.aadhaar-authenti .adhar_registration_checkbox_text p{
 width: 100%;
font-size: 12px;
text-align: center;
}
.adhaar-submit{ 
	margin-top: 50px;
}
.aadhaar-authenti input[type="checkbox"] + span {
    float: none;
    text-align: left;
    display: block;
}

.form-info .otp-fields{ margin:0;}
.form-info .otp-fields input{ 
	width: 100%; 
	margin:0;
}

}

@media screen and (max-width: 360px){
.update-aadhaar .student_landing_date_logout_wrap {
    margin-top: 84px;
}
.form-info .aadhaar-no {
    float: none;
}
.adhar-number input{ 
	width: 30%;
	margin-right: 2px;
}

.adhaar-submit{ margin-top: 30px;}
.aadhaar-authenti input[type="checkbox"] + span {
    float: none;
    text-align: left;
    display: block;
}

.form-info .otp-fields input { 

	width: 100%; 
	margin:0;}
}