/*Verfifer & role creation*/
.verifier-landing-page-head{
    margin: 0px;
    padding-left:30px;
    color:#fff;
    font-size: 25px;
}
.verifier-landing-page-head .font-head-bold{
    font-weight: bold;
}
.intro-text{
    padding-left:30px;
    padding-top:10px;
    color:#fff;
}
.visit-info-text{
    margin-top:22px;
}
.student-landing-banner-menu .user-login li{
    width:auto;
    float:right;    
}
.verifier-landing-intro{
    padding:30px 0px;
}
.role-heading{
    font-size:19px;
    margin-bottom: 60px;
} 
.font-bold{
    font-weight: 800;
    font-size: 16px;
}
.marTop40{
    margin-top:40px;
}
.marBotm90{
    margin-bottom:90px;
}
.marB30{
    margin-bottom:30px;
}
.wid50{
    width:50%;
}
.marT30{
    margin-top:30px;
}
.verifiers-para{
    font-family:'open_sansregular' !important;
    font-size:20px;: 
}
.last-inner-pointer:before{
    bottom:72px !important;
    background: transparent !important;
}
.fLt{
    float:left;
}
.agree-text label{
    float:left;
    width:5%;
}
.agree-text .certificate_checkbox{
    width:10% !important;
    float:left;
}
.agree-text p{
    color:#052133;
    float:left;
    font-size: 18px;
    margin-top:9px;
    font-family: 'open_sansregular';
}
.agree-text a{
    color:#052133;
    text-decoration: underline;
}
.vareifier-width{
    padding:22px;
}
.loginmenu li input::-webkit-input-placeholder{
    color:#fff;
}
.verifier-block{
   width:71%;
   padding:44px 0px 10px 0px;
   box-shadow: 0 0 5px #ddd;
  -webkit-box-shadow: 0 0 5px #ddd;
}
.verifier-block .student-form-detail{
    width:80%;
}
.top-banner{
    background-position: 0px;
}
.role_checkbox label, .role_checkbox span{
    float:left;
}
.role_checkbox span{
    margin-top:4px;
    font-size: 19px;
}
.info-end-para{
    font-size: 20px;
    color:#f08001;
}
.logout-info .logout-btn .btn-div  .verifier-btn{
    box-shadow: none;
    background-color: transparent;
    padding:0px;
}
.logout-info .logout-btn .btn-div  .verifier-btn img{
    width:50px;
    height: 50px
}
.top-heading + .creation-border{
    margin:0 auto 0px;
}
.list-users-click{
    color:#f17f01;
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
}
.master-data-date .form-group.info-field .verifier-date-input{
    width: 100%;
}
.list-users-click:hover{
    color:#f17f01;
}
.verifier-option-heading{
    font-weight: 600;
}
.verifier-option .filter-option{
    font-weight: 600;
    color:#f08001;
}
.margTop10{
    margin-top:10px;
}
.creation-sub-head{
    text-align: left;
    color:#f17f01;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
}
.col-padding-left-none{
    padding-left:0px !important;
}
.creation-data-date .DOB {
    background: url(../images/calender_orange.png) no-repeat right center;
}
.fa-angle-down:before {
    content: "\f107";
}
.verifier-banner .banner-text{
    width:100%;
}
.verifier-banner .banner-text .text1{
    font-size:33px;
}
.verifier-banner .sub-heading{
    font-size: 50px;
}
.bootstrap-select.btn-group .dropdown-menu li a span.mandatory{
        color:red;   
}
.inner-pointer-no:before{
    background: transparent !important;
}
#floating-label .form-control, .form-group .bootstrap-select.btn-group{
    margin-bottom:5px;
}
.verifier-document-select .bootstrap-select > .dropdown-toggle{
    width: 44% !important;
}
.xmlFileUploadWrap .file-input-wrapper .file-input-button{
   width:152px;
   margin-top: 0px;     
}
.xmlFileUploadWrap .file-input-wrapper {
    overflow-y: inherit;
}
.form-group .xml_file_value{
    color:#dddddd;
}
.no-timeline-circle .file-input-button, .inner-point .file-input-button{
    font-size: 18px;
    height: 58px;
}
.no-timeline-circle .file-input-button img, .inner-point .file-input-button img{
    height:45px;
}
.no-timeline-circle .file-input-wrapper .file-input-button[for="browsSig"], .inner-point .file-input-wrapper .file-input-button[for="browsSig"]{
    margin-top: 0px;
}
.hide_verifier_btn{display: none;}
/*Verfifer & role creation end*/

/*Responsive*/
@media(width:1366px){
    .verifier-block{
        width:90%;
    }
}
@media(width: 768px){
    .verifier-block{
        width:90%;
    }
    .top-banner{
        height: 330px;
    }
    .banner-text{
        top:180px;
    }
}
@media(max-width: 767px){
    .verifier-document-select .bootstrap-select > .dropdown-toggle{
        width: 100% !important;
    }
    .inner-pointer-no:before{
        background: #052133 !important;
    }
    .no-timeline-circle .xmlFileUploadWrap .file-input-wrapper, .xmlFileUploadWrap .file-input-wrapper{
        padding-top:15px;
    }
    .xmlFileUploadWrap .file-input-wrapper .file-input-button{
        font-size: 16px;
    }
}
@media(max-width: 450px){
    .verifier-banner .banner-text{
            top:50%;
    }
    .verifier-banner .banner-text .text1{
        font-size: 18px;
        line-height: 30px;
    }
    .verifier-banner .sub-heading{
        font-size: 29px;
    }
    .verifier-block{
        width:95%;
    }
    .verifier-block .student-form-detail{
        width:94%;
    }
    .verifier-block .xml_file_value{
        margin-left:0px;
        margin-top:10px;
        margin-bottom:10px; 
    }
    .proof-mob{
        width:70%;
    }
     input[type="checkbox"] + .verifier_checkbox{
        margin-left: -13px !important;
    }
    .info-end-para{
        font-size: 16px;
    }
    .roleFilter .approve_certificate_data_field22 .approve_certificate_label{
        width:78%;
    }   
}
@media(max-width: 320px){
    .verifier-banner .banner-text{
        top:52%;
    }
     input[type="checkbox"] + .verifier_checkbox{
        margin-left: -13px !important;
    }
}
/*End Responsive*/