/*Verfifer & role creation*/
.verifier-landing-page-head{
    margin: 0px;
    padding-left:30px;
    color:#fff;
    font-size: 25px;
}
.verifier-landing-page-head .font-head-bold{
    font-weight: bold;
}
.intro-text{
    padding-left:30px;
    padding-top:10px;
    color:#fff;
}
.visit-info-text{
    margin-top:22px;
}
.student-landing-banner-menu .user-login li{
    width:auto;
    float:right;    
}
.verifier-landing-intro{
    padding:30px 0px;
}
.role-heading{
    font-size:19px;
    margin-bottom: 60px;
} 
.font-bold{
    font-weight: 800;
    font-size: 16px;
}
.marTop40{
    margin-top:40px;
}
.marBotm90{
    margin-bottom:90px;
}
.marB30{
    margin-bottom:30px;
}
.marTop{
 margin-top:9px;
}
.wid50{
    width:50%;
}
.marB10{
    margin-bottom:10px;
}
.marT30{
    margin-top:30px;
}
.verifiers-para{
    font-family:'open_sansregular' !important;
    font-size:20px;: 
}
.last-inner-pointer:before{
    bottom:72px !important;
    background: transparent !important;
}
.fLt{
    float:left;
}
.agree-text label{
    float:left;
    width:5%;
}
.agree-text .certificate_checkbox{
    width:10% !important;
    float:left;
}
.agree-text p{
    color:#052133;
    float:left;
    font-size: 18px;
    margin-top:9px;
    font-family: 'open_sansregular';
}
.agree-text a{
    color:#052133;
    text-decoration: underline;
}
.vareifier-width{
    padding:22px;
}
.loginmenu li input::-webkit-input-placeholder{
    color:#fff;
}
.verifier-block{
   width:71%;
   padding:44px 0px 10px 0px;
   box-shadow: 0 0 5px #ddd;
  -webkit-box-shadow: 0 0 5px #ddd;
}
.verifier-block .student-form-detail{
    width:80%;
}
.top-banner{
    background-position: 0px;
}
.role_checkbox label, .role_checkbox span{
    float:left;
}
.role_checkbox span{
    margin-top:4px;
    font-size: 19px;
}
.info-end-para{
    font-size: 20px;
    color:#f08001;
}
.logout-info .logout-btn .btn-div  .verifier-btn{
    box-shadow: none;
    background-color: transparent;
    padding:0px;
}
.logout-info .logout-btn .btn-div  .verifier-btn img{
    width:50px;
    height: 50px
}
.top-heading + .creation-border{
    margin:0 auto 0px;
}
.list-users-click{
    color:#f17f01;
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
}
.master-data-date .form-group.info-field .verifier-date-input{
    width: 100%;
}
.list-users-click:hover{
    color:#f17f01;
}
.verifier-option-heading{
    font-weight: 600;
}
.verifier-option .filter-option{
    font-weight: 600;
    color:#f08001;
}
.margTop10{
    margin-top:10px;
}
.creation-sub-head{
    text-align: left;
    color:#f17f01;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
}
.col-padding-left-none{
    padding-left:0px !important;
}
.creation-data-date .DOB {
    background: url(../images/calender_orange.png) no-repeat right center;
}
.fa-angle-down:before {
    content: "\f107";
}
.verifier-banner .banner-text{
    width:100%;
}
.verifier-banner .banner-text .text1{
    font-size:33px;
}
.verifier-banner .sub-heading{
    font-size: 50px;
}
.bootstrap-select.btn-group .dropdown-menu li a span.mandatory{
        color:red;   
}
.inner-pointer-no:before{
    background: transparent !important;
}
#floating-label .form-control, .form-group .bootstrap-select.btn-group{
    margin-bottom:5px;
}
.verifier-document-select .bootstrap-select > .dropdown-toggle{
    width: 44% !important;
}
.xmlFileUploadWrap .file-input-wrapper .file-input-button{
   width:152px;
   margin-top: 0px;     
}
.xmlFileUploadWrap .file-input-wrapper {
    overflow-y: inherit;
}
.form-group .xml_file_value{
    color:#dddddd;
}
.no-timeline-circle .file-input-button, .inner-point .file-input-button{
    font-size: 18px;
    height: 58px;
}
.no-timeline-circle .file-input-button img, .inner-point .file-input-button img{
    height:45px;
}
.no-timeline-circle .file-input-wrapper .file-input-button[for="browsSig"], .inner-point .file-input-wrapper .file-input-button[for="browsSig"]{
    margin-top: 0px;
}
.hide_verifier_btn{display: none;}
.user-creation .approve-master-data-form{
    padding:20px 0px 0px;
}
#submit_show_btn{
   margin-top:10px;
}
.padding-left-none{
    padding-left:0px;
}
.padding-right-none{
    padding-right:0px;
}
.fLt{
    float:left;
}
.fRt{
    float:right;
}
.user-creation .field-error{
    text-align: left;
    margin-top:6px;
}
.form-group .form-control:focus {
    border-color: #f08001;
}
.user-creation .student-form-sbmt  .marBotom{
    margin:25px auto 0px !important;
}
.user-creation .master-data-date .form-group{
    width:92%;
}
.employee-input, .department-width, .select-type-user, .email-id-width, .user-id-width, .width-project-width, .width-designation, .employee-id-width, .mob-width, .date-width{
    padding-left:10px;
    margin-top: 6px
}
.employee-input{
    width:60%;  
}
.department-width{
    width:73%;
}
.select-type-user{
    width:70%;
}
.email-id-width{
    width:77%;
}
.user-id-width{
    width:57%;
}
.width-project-width{
    width:31%;
}
.width-designation{
    width:50%;
}
.employee-id-width{
    width:50%;
}
.mob-width{
    width:52%;
}
.date-width{
    width:78%;
}
#myModal .modal-body{
    padding:0px 0px 35px 0px;
}
#myModal .modal-content .modal-header{
    padding:30px 10px 5px;
}
#myModal .modal-body p{
  color:#f17f01;
  line-height: 30px;
}
.filterwidth .#myModal .modal-dialog{
    width:35% !important;
}
#myModal .close{
    right: -1px;
    top: -28px;
}
#popupModal .close{
    right: 21px;
    top: 14px;
}
#popupModal .modal-body p span{
    color:red;
}
#popupModal .modal-content .modal-header{
    padding:39px 10px 5px;
}
#popupModal .modal-body p{
    text-align: left;
}
#popupModal  .student-form-sbmt{
    text-align: center;
    margin-left: 43.666667%;
}
#popupModal .student-form-sbmt{
    margin-top: 5px !important;
}
#popupModal .foot-center{
    text-align: center !important;
}
.user-creation .dropdown-menu{
    padding:13px 24px;
}
.user-creation  .daterangepicker select.monthselect{
    margin-right: 10%;
}
.modal-confirm  .modal-dialog{
    width: 625px !important;
}
.modal-footer{
    border: 0px;
    padding-bottom:40px;
    text-align: center;
}
.modal-footer button{
    background-color: #052133;
    border: medium none;
    box-shadow: 3px 4px 9px #999;
    padding:15px 55px;
    color: #fff;
    font-size: 18px;
    line-height: 19px;
    margin-bottom: 15px;
    text-transform: uppercase;
    transition: all 0.4s linear 0s;
    -webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
}
.online_verification_text_field .form-group{
    padding-bottom: 15px;
} 
.modal-confirm .confirm-close{
    right: 15px !important;
    top: 7px !important;
}
.modal-confirm .modal-footer button{
    margin-bottom: 0px;
}
.modal-confirm .modal-dialog{
    top:29%;
}
.modal-confirm .modal-body{
    padding:0px 0px 10px 0px !important;
}
/*Verfifer & role creation end*/

/*Responsive*/
@media(width:1366px){
    .verifier-block{
        width:90%;
    }
    .employee-name{
        font-size: 17px;
        font-weight: 500;
    }
    .employee-input{
       width:58%;
    }
    .date-width{
        width:74%;
    }
    .department-width{
        width:75%;
    }
    .email-id-width{
        width:80%;
    }
    .width-designation{
        width:62%;
    }
    .employee-id-width{
        width:62%;
    }
    .mob-width{
        width:64%;
    }
    .user-id-width{
        width:70%;
    } 
    .width-project-width {
        width: 37%;
    }
    .online_verification_text_field .form-group{
        padding-bottom: 15px;
    }  
}
@media(width: 768px){
    .verifier-block{
        width:90%;
    }
    .top-banner{
        height: 330px;
    }
    .banner-text{
        top:180px;
    }
}
@media(max-width: 767px){
    .verifier-document-select .bootstrap-select > .dropdown-toggle{
        width: 100% !important;
    }
    .inner-pointer-no:before{
        background: #052133 !important;
    }
    .no-timeline-circle .xmlFileUploadWrap .file-input-wrapper, .xmlFileUploadWrap .file-input-wrapper{
        padding-top:15px;
    }
    .xmlFileUploadWrap .file-input-wrapper .file-input-button{
        font-size: 16px;
    }
    .mob-bottom-space{
        margin-bottom: 20px;
    }
    .employee-input, .department-width, .select-type-user, .email-id-width, .user-id-width, .width-project-width, .width-designation, .employee-id-width, .mob-width, .date-width{
        width:100%;
        float:none;
        padding-left:0px;
    }
    .approve_certificate_wrapper .logout-btn-mob{
        margin-left: 80px !important;
        margin-bottom:17px !important;
    }
    .user-creation .approve-master-data-form{
        padding:0px;
    }
    .user-creation .master-data-date .form-group{
        width:100%;
    }   
}
@media(max-width: 450px){
    .verifier-banner .banner-text{
            top:50%;
    }
    .verifier-banner .banner-text .text1{
        font-size: 18px;
        line-height: 30px;
    }
    .verifier-banner .sub-heading{
        font-size: 29px;
    }
    .verifier-block{
        width:95%;
    }
    .verifier-block .student-form-detail{
        width:94%;
    }
    .verifier-block .xml_file_value{
        margin-left:0px;
        margin-top:10px;
        margin-bottom:10px; 
    }
    .proof-mob{
        width:70%;
    }
     input[type="checkbox"] + .verifier_checkbox{
        margin-left: -13px !important;
    }
    .info-end-para{
        font-size: 16px;
    }
    .roleFilter .approve_certificate_data_field22 .approve_certificate_label{
        width:78%;
    } 
    #popupModal  .student-form-sbmt{
        margin-left:25.666667%
    }  
}
@media(max-width: 320px){
    .verifier-banner .banner-text{
        top:52%;
    }
     input[type="checkbox"] + .verifier_checkbox{
        margin-left: -13px !important;
    }
}
/*End Responsive*/