.verifiers-title{margin: 0 0 -11px 0px;}
.Ndml_nad_caption_wrap.brdnone.verifier-presentation{ top:306px;}
.slider-text{    margin: 0 0 0 14px;}

/*added by preeti 4/10/2017*/
.nad-presentation .Ndml_nad_banner_title1 {
    margin-top: 45px;
}

.nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-next {
    top: 353px;
    right: -16px;
    padding: 60px 30px;
    background: url(../images/next_arrow_new.png) no-repeat #052133;
    background-position: 7px 45px;
}

@media screen and (max-width: 1366px) {
	.nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-next {
		top: 290px;
		padding-top: 55px;
		padding-bottom: 55px;
	}

	.nad-presentation .nad-Network_Tin { margin-top: 20px; }
}

.register .wrapper .nad-presentation-head h2 { color: #fff; }

@media screen and (max-width: 450px) {
	.Ndml_nad_caption_wrap.brdnone.verifier-presentation {     top: 146px; }
}