

@media (max-width: 767px){

.student-nad-presentation .Ndml_nad_banner_wrap {
    height: 340px;
}
.bullet-style li p {
    font-size: 16px;
    line-height: 24px;
}
}

@media (max-width: 450px){
.nad-presentation-slider .owl-item img {height: 300px;width: 100%;}
.nad-presentation .knowing_nad_slider_title {
    font-size: 20px;}
.nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-next, .nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-prev {
 padding: 20px 15px;
}
.nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-next {
    right: 0px;
    background: url(../images/mob-next-ico-new.png) no-repeat #052133 6px 16px;
}

.nad-presentation .knowing_nad_slider_title {font-size: 20px;}
.bullet-style li p {
    padding-left: 8px;}
.nad-presentation .knowing_nad_slider_title {
    font-size: 20px;
}



}

@media (max-width: 375px){

.Ndml_nad_caption_wrap.brdnone.verifier-presentation{ top:181px;}

.Ndml_nad_banner_title1.verifiers-title{font-size: 20px;}
.Ndml_nad_banner_title2.verifiers-title2 {font-size: 29px;}


.verifier-nad-pres .verifier-nad-presentation .owl-controls .owl-nav .owl-next{ left:344px; top:273px;}


}


@media (max-width: 360px){

.Ndml_nad_caption_wrap.brdnone.verifier-presentation{ top:215px;}

.slider-text{ margin:0;}
.verifier-nad-pres .verifier-nad-presentation .owl-controls .owl-nav .owl-next{ left:330px;}
.Ndml_nad_banner_title1.verifiers-title {font-size: 28px;}
.Ndml_nad_banner_title1.verifiers-title2 {font-size: 46px;}
 /* added by preeti 4/10/2017 */
 .Ndml_nad_caption_wrap.brdnone.verifier-presentation {top: 187px;}
.slider-img-height {
    height: 100%;
}
.nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-next, .nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-prev {
    top: 274px;
}

.nad-presentation .ndmlcontent {
    padding: 0px 0;
}
.student-nad-presentation .nad-presentation-slider .owl-controls .owl-nav .owl-next {
    left: 330px;


}

@media (max-width: 320px){
.verifier-nad-pres .verifier-nad-presentation .owl-controls .owl-nav .owl-next{ left: 290px;}
.Ndml_nad_caption_wrap.brdnone.verifier-presentation{ top:182px;}

.Ndml_nad_banner_title1.verifiers-title{font-size: 20px;}
.Ndml_nad_banner_title2.verifiers-title2 {font-size: 26px;}
.pdf-block a {
    font-size: 14px;
}




}



