.knowing_nad_tabs_title.col-xs-12.no_pad.verification-title p{
    font-size: 28px; margin: 0;}

 .knowing_nad_tabs_title.col-xs-12.no_pad.verification-title span {
    font-size: 21px;
}

.container-fluid.no_pad.depo_nad_banner_wrap.studentBnefitsBnner.verifiers-banner  {
    background: url(../images/banner_imgs/verifiers-benefits-banner.png) no-repeat center;
    background-position: 0px 0px;
    background-size: cover;}

    .depo_nad_caption_wrap.brdnone.verifiers-text{top:317px;}

@media screen and (max-width: 450px) {
	.depo_nad_caption_wrap.brdnone.verifiers-text {     top: 146px; }
}