.benf_nad_banner_title1.verifiers-title::before{ border:none; content:none;}
	.benf_nad_banner_title1.verifiers-title {
    margin-bottom: -14px}


 .verifiers-banner {background: url(../images/banner_imgs/verifiers-features.png) no-repeat center;
    background-size: cover;}

    @media screen and (max-width: 767px) {
    	.brdnone ul li:before { top: 13px; }
    }