@media (max-width: 375px){




}


@media (max-width: 360px){
.Feature_nad_caption_wrap.brdnone.verifiers-text {top: 130px;	}
.benf_nad_banner_title1.verifiers-title {font-size: 20px;}
.Feature_nad_banner_title2.text-right.verifiers-title2{ font-size: 26px; margin:0;}

}

@media (max-width: 320px){
.benf_nad_banner_title1.verifiers-title{font-size: 20px; }
.Feature_nad_banner_title2.text-right.verifiers-title2{ font-size: 26px;}



.benf_nad_banner_title1.verifiers-title {
    margin-bottom: -17px;
}

.Feature_nad_caption_wrap.brdnone.verifiers-text {
    top: 144px;
}
}