.bf2f2f2b { padding-bottom: 15px; }
.db	{ display: block !important; }


#from_date_error {
	clear: both;
	margin-left: 85px;
}

#to_date_error { margin-left: 35px; }

#adhaar_id_error { vertical-align: super; }

.top-heading + .border { width: 105px; }

table p,
table td,
table th,
.select-master-data.dashboard_responsive_table  table tr th,
.select-master-data.dashboard_responsive_table table tr td { text-align: left; }

.select-master-data.dashboard_responsive_table table tr th:nth-child(2) {
	width: 185px;
}

.dashboard_responsive_table, .authenticated_table {
	margin-top: 0;
}

.form-for-search span.filter_title,
.master-data-date .form-group.info-field > label {
	float: left;
	display: inline-block;
	margin-right: 20px;
}

.approve_certificate_data_filter .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) { width: 100%; }

.approve_certificate_data_filter { margin-top: 20px; }

.form-for-search .approve_certificate_data_field_new .approve_certificate_label, .approve_certificate_data_date_wrap .master-data-date .form-group.info-field > label { width: auto; padding-left: 0; }

.form-for-search .approve_certificate_data_date_wrap .master-data-date .form-group.info-field > input { width: 37%; }

.bootstrap-select.btn-group .dropdown-toggle .filter-option,
.form-for-search input { font-family: open_semibold; }

.DOB::-webkit-input-placeholder {
	color: #f08001;
}
.DOB::-moz-placeholder {
	color: #f08001;
}
.DOB:-ms-input-placeholder {
	color: #f08001;
}
.DOB:-moz-placeholder {
	color: #f08001;
}

.approve_certificate_data_field_new  .approve_certificate_field_val.transc-id-field {
	display: inline-block;
	float: none;
}

/* .dashboard_responsive_table table tr th,
.authenticated_table table tr th,
.dashboard_responsive_table  table tr td,
.authenticated_table  table tr td {
    padding: 20px 12px; } */