

@media (max-width: 375px){


.depo_nad_caption_wrap.brdnone.verifiers-text{ top:216px;}
.depo_nad_banner_title1.verifiers-title {
    margin: 0 0 -15px 0;
}

}



@media (max-width: 360px){

.knowing_nad_tabs_title.col-xs-12.no_pad.verification-title p{font-size: 25px;}
.knowing_nad_tabs_title.col-xs-12.no_pad.verification-title span{font-size: 16px;}
.depo_nad_banner_title1.verifiers-title {
    margin: 0 0 -16px 0;
}
.depo_nad_caption_wrap.brdnone.verifiers-text {top: 216px;}
.nad_student_benefits .depo_nad_caption_wrap{top:201px;}


}

@media (max-width: 320px){

.knowing_nad_tabs_title.col-xs-12.no_pad.verification-title p{font-size: 21px;}
.knowing_nad_tabs_title.col-xs-12.no_pad.verification-title span{font-size: 11px;}
.depo_nad_caption_wrap.brdnone.verifiers-text{ top:216px;}
.depo_nad_banner_title1.verifiers-title{ font-size: 20px;}
.depo_nad_banner_title2.verifiers-title2 {font-size: 26px;}

}

