.view_profile  + .border {
	width: 155px !important;
}

.student-adhar-summary .view_profile {
	padding-left: 0px!important;
    padding-right: 0px!important;	
    margin-top: 5px;
    box-shadow: none !important;
    padding-top: 0px !important;
}
.boxshadow {
    box-shadow: 5px 5px 5px #ccc;
    padding: 0px;
    margin: 0 20px;
    width: 45%;
}
.view_profile .field-details {
    width: 96.5%;
}
.remarks p {
    color: #f08001;
    font-size: 13px;
}
.select-master-data.view_profile table tr th,
.select-master-data.view_profile table tr td {
	text-align: left !important;    
}
.select-master-data.view_profile table tr th:first-child {
    width: 250px;
}
.select-master-data.view_profile table tr th:nth-child(2), 
.select-master-data.view_profile table tr th:nth-child(3) {
    width: 130px;
    text-align: left !important;
}
.select-master-data.update_profile table tr td:nth-child(1n+2) {
    width: 175px;
    color: #f08001;
    font-weight: 100;
}
.select-master-data.update_profile table tr td input {
    font-size: 17px;
    color: #f08001;
    border: none;
    padding: 0 0px;
    border-bottom: 1px solid #cfcfcf !important;
    letter-spacing: .5px;
    background-color: transparent !important;
}
.select-master-data.view_profile table tr th:nth-child(6) {
    width: 50px;
}
.bootstrap-select.custom-select .btn-default {
    font-weight: 600 !important;
    color: #f08001 !important;
}
.newfocused > label{
    margin-left: 0px !important;
}
.view-feild label  {
    opacity: 1;
    color: #2f2f2f  !important;
    margin-bottom: 0;
    font-family: 'SegoeUI';
    font-weight: 100  !important;
    font-size: 16px !important;
    text-align: left;
}
.pass-inst a {
    color: #f08001; 
    font-style: normal;
    /*text-decoration: underline;*/
}
.view-field input {
    font-weight: 600 !important;
}
.view-feild span.field-error {
    font-size: 13px;
    padding-left: 135px !important;
    color: red;
    /* display: block; */
    font-family: 'SegoeUI-Semibold';
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.glyphicon {
    float: right!important;
    font-size: 26px;
    color: #f08001 !important;
}
.view-feild span:nth-cild(2n+2) {
    padding-left: 15px !important;
}
.view_profile h1 {
	margin : 0px !important;
	line-height : 0;
	color : #009b0a;
	font-weight : 600;
    text-transform: capitalize;
    text-align: center;
}
.view_profile h1.red {
    margin : 0px !important;
    line-height : 0;
    color : #dc1417;
    font-weight : 600;
    text-transform: capitalize;
}
.panel-group .panel {
    padding: 0 15px;
}
.panel-heading {
    padding: 30px 0px !important;
    cursor: pointer;
}
#policies ul {
    margin: 5px;
}
#policies li {
    font-size: 14px !important;
    line-height: 20px !important;
}
/*input[type="text"]::-webkit-input-placeholder {
  color: #999;
}*/
@media screen and (min-width: 991px) {

    .editable-field  a .edit-icon {
        display: block;
        width: 20px;
        height: 20px;
        background: url(../images/edit_white_icon.png) no-repeat;
        position: absolute;
        right: 15px;
        top: 8px;
        cursor: pointer;
        /* z-index: 10; */
    }
    .editable-field a .submit-icon {
        display: block;
        width: 20px;
        height: 20px;
        background: url(../images/email_icon_active-white.png) no-repeat;
        position: absolute;
        right: 15px;
        top: 8px;
        cursor: pointer;
        /* z-index: 10; */
    }
}


.edit-btn a {
    background-color: #052133;
    box-shadow: 3px 4px 9px #999;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 35px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    line-height: 35px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s linear 0s;
    padding: 0 40px 0 15px;
}
@media screen and (max-width: 767px) {
	.view_profile + .border {
        height: 2px;
        width: 80px !important;
        margin: 0px auto 26px;
    }
    .approve_certificate_data_table.view_profile table tr th:first-child {
        width: auto;
    }

}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) { 

    .panel-group .panel {
        padding: 0 15px;
        text-align: left;
    }
    .boxshadow {
        box-shadow: 5px 5px 5px #ccc;
        padding: 0px;
        margin: 0 0;
        width: 100%;
    }
    .dashboard_responsive_table table {
        margin-bottom: 5px;
        min-width: 230px;
    }
    .view_profile h1 {
        margin: 0px !important;
        line-height: 0;
        text-align: center;
        padding: 10px 0;
        color: #009b0a;
        font-weight: 600;
        text-transform: capitalize;
    }
    .xml_file_value {
        width: 233px !important;
        margin: 15px 0;
    }
    .view-feild span.field-error {        
        padding-left: 15px !important;        
    }
}
@media screen and (max-width: 1500px) and (min-width: 1100px) {
    .xmlLabel  {
     width: 105px !important;
     height: 40px !important;
     line-height: 40px!important;
 }
 .select-master-data.view_profile table tr th:first-child {
    width: 155px;
}
.select-master-data.view_profile table tr th:nth-child(2), 
.select-master-data.view_profile table tr th:nth-child(3) {
    width: 30px;
}
.dashboard_responsive_table table {
    margin-bottom: 5px;
    min-width: 300px;
}
.non-editable label {
   width: 25% !important;
}
.non-editable label.update {
   width: auto !important;
}
.view-feild span.field-error {
    padding-left: 147px !important;
}
}






